
{% set approve = path('requisition_proceed', { id: requisition.id, process: 'product', step: 'order' }) %}
{% set reject  = path('requisition_proceed', { id: requisition.id, process: 'product', step: 'reject' }) %}
{% set change  = path('product_approver_change', { id: requisition.id }) %}
{% set justify = path('supplier_change_justify', { id: requisition.id }) %}
{% set slaOrder = requisition.getSla('product.ordered') %}

{% include 'requisition/product/action/_change_supplier.twig' %}

<div class="row pull-right">
    <button id="change-supplier" class="btn btn-warning">Cambiar proveedor</button>

    <button id="reject"  
        class="btn btn-warning" 
        data-url="{{ reject }}"  
        data-return="{{ dashboard }}" 
        data-toggle="modal" 
        data-target="#modal-reject">Rechazar</button>

    {% set message %}
        Recuerde enviar la orden de compra al proveedor dentro de un
        plazo de <strong>{{ slaOrder.value }} {{ slaOrder.type|trans }}</strong>
    {% endset %}

    <button id="approve" 
        class="btn btn-warning" 
        data-justify="{{ justify }}"
        data-url="{{ approve }}" 
        data-return="{{ dashboard }}"
        data-change="{{ change }}"
        data-message="{{ message|e }}">Aprobar solicitud</button>
</div>

<div id="modal-reject" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            {{ form_start(rejection, {
                attr: { id: 'form-rejection' },
                action: path('product_reject', { id: requisition.id })
            }) }}
            <div class="modal-header">
                <h4 class="modal-title">Rechazar solicitud</h4>
            </div>
            <div class="row modal-body col-condensed">
                <div class="col-md-5">
                    {{ form_row(rejection.reason,  { label: 'Motivo de rechazo'}) }}
                </div>
                <div class="col-md-7">
                    {{ form_row(rejection.comment, { label: 'Argumentación', attr: { rows: 8 }}) }}
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-warning">Cancelar</button>
                {{ form_widget(rejection.send, { 
                    label: 'Enviar',
                    attr: { class: 'btn btn-warning' }
                }) }}
            </div>
            {{ form_end(rejection) }}
        </div>
    </div>
</div>

<script>
    var selector = 'input[type=radio]:checked';
    var form = $('#change-supplier-form').hide();
    var supplier = form.find(selector).val();

    form.find('*[type=submit]').hide();

    $('#change-supplier').on('click', function () {
        $(this).remove();
        $('.contract-detail, .supplier-detail').remove();
        $('#change-supplier-form').show();
    });
    
    $('#approve').on('click', function () {
        var button = $(this);

        var change = function () {
            var deferred = $.Deferred();

            bootbox.prompt({
                title: 'Justificación de cambio de proveedor',
                inputType: 'textarea',
                buttons: {
                    confirm: { 
                        className: 'btn-warning'
                    }
                },
                callback: function (value) {
                    if (value == null) return;

                    var data = new FormData();
                    data.append('supplier_change', value);

                    $.ajax({
                        url: button.data('justify'),
                        data: data,
                        processData: false,
                        contentType: false
                    }).done(function() {
                        var data = form.find('form').serialize();
                        $.post(button.data('change'), data).done(function() {
                            deferred.resolve();
                        });
                    });
                }
            });

            return deferred.promise();
        };

        var accept = function () {
            return $.post(button.data('url'));
        };

        var ok = function () {
            bootbox.alert(button.data('message'), function () {
                window.location.replace(button.data('return'));
            });
        };

        var error = function () {
            bootbox.alert('Ha ocurrido un error al enviar su petición');
        };

        var promise = null;
        if (form.find(selector).val() !== supplier) {
            promise = change().then(accept);
        } else {
            promise = accept();
        }

        promise.done(ok).fail(error);
    });

    $('#form-rejection').on('submit', function (e) {
        e.preventDefault();

        $.post($(this).attr('action'), $(this).serialize())
            .done(function () {
                $('#modal-reject').modal('toggle');
                bootbox.alert('Su mensaje ha sido enviado exitosamente', function () {
                    window.location.replace($('#reject').data('return'));
                });
            })
            .fail(function () {
                bootbox.alert('Ha ocurrido un error al enviar su petición');
            })
        ;
    });
</script>