{% if metadata.declined is defined %}
    <div id="declined-meta" class="row meta-block">
        {% for meta in metadata.decline %}
            <h3>Rechazo de solicitud (proveedor {{ loop.index }})</h3>
            <table class="table table-striped">
                <tbody>
                {% if meta.reason is defined %}
                    <tr>
                        <th><strong>Motivo</strong></th>
                        <td>{{ meta.reason|trans }}</td>
                    </tr>
                {% endif %}

                <tr>
                    <th><strong>Argumentación</strong></th>
                    <td>{{ meta.comment }}</td>
                </tr>
                </tbody>
            </table>
            <br />
        {% endfor %}
    </div>
{% endif %}
{% if is_granted('ROLE_REQUESTER') %}
    <a href="{{ dashboard }}" class="btn btn-warning pull-right">Volver al inicio</a>
{% elseif is_granted('ROLE_APPROVER') %}
    {% include 'requisition/product/action/_change_supplier.twig' %}

    <div class="row pull-right">
        <button id="accept-decline" class="btn btn-warning"
                data-action="{{ path('requisition_proceed', { id: requisition.id, process: 'product', step: 'close' }) }}"
                data-return="{{ path('dashboard') }}">Aceptar</button>
    </div>

    <script>
        var changeSupplierForm = $('#change-supplier-form');

        $('.contract-detail').remove();
        changeSupplierForm.hide();

        $('#accept-decline').on('click', function (e) {
            var button = $(this);
            var available = changeSupplierForm.find('input[type=radio]:enabled').length;

            if (!available) {
                bootbox.alert(
                    'La solicitud será cerrada por rechazo del proveedor y por no '+
                    'existir un proveedor alternativo para atender el requerimiento.',
                    function () {
                        $.post(button.data('action')).done(function () {
                            window.location.replace(button.data('return'));
                        }).fail(function (error) {
                            bootbox.alert('Ha ocurrido un error al realizar la operación');
                        });
                    });

                return;
            }

            $('#declined-meta').remove();
            $(this).remove();
            changeSupplierForm.show();
        });

        $('#change_sup-form').on('submit', function (e) {
            e.preventDefault();
            var form = $(this);

            $.post(form.attr('action'), form.serialize()).done(function () {
                bootbox.alert('Su mensaje ha sido enviado exitosamente', function () {
                    window.location.replace(form.data('redirect'));
                });
            }).fail(function () {
                bootbox.alert('Ha ocurrido un error al realizar la operación');
            });
        });
    </script>
{% endif %}
