{% extends 'content.twig' %}

{% block main_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    <div class="fos_user_user_show">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    </div>
{% endblock main_content %}
