<div id="modal-vcard-data-download" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            {{ form_start(download_data, {
                attr: { id: 'download-vcard-data' },
                action: path('report_vcard', { id: requisition.id })
            }) }}
                <div class="modal-header">
                    <h4 class="modal-title">Descarga datos de tarjeta</h4>
                </div>
                <div class="modal-body">
                    {{ form_row(download_data.choice) }}
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-warning">Cancelar</button>
                    <button type="submit"
                        data-loading-text="Generando documento..."
                        class="btn btn-primary">Descargar</button>
                </div>
            {{ form_end(download_data) }}
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#download-vcard-data').on('submit', function (e) {
            e.preventDefault();

            var $form = $(this);
            var $submit = $form.find('button[type=submit]');
            $submit.button('loading');

            $.post($form.attr('action'), $form.serialize()).then(function (response) {
                window.location.href = response;
            }).fail(function () {
                bootbox.alert('Ha ocurrido un error al descargar los datos');
            }).always(function () {
                $submit.button('reset');
            });
        });
    });
</script>