<div id="vcard" class="row">
    <div class="col-md-12">
        <img src="" alt="Logo BancoEstado"/>
        <div class="text-center">
            <p class="margin-p">{{ vcard.fullName }}</p>
            <p class="margin-p">{{ vcard.position.title }}</p>
            <p class="margin-p">{{ vcard.office }}</p>
        </div>
        <hr style="border-top: 1px solid #cccccc; margin: 8px;">
        <div class="text-center">
            <p class="margin-p">{{ vcard.office.address }}</p>
            <p class="margin-p">
                <span>Teléfono:</span> {{ vcard.phone }}
                <span>fax:</span> {{ vcard.fax }}
                <span>cel:</span> {{ vcard.mobile }}
            </p>
            <p class="margin-p"><span>E-mail:</span> {{ user.email }}</p>
        </div>
        <div id="vcard-lines">
            <div class="vcard-lines" style="background: #313481;"></div>
            <div class="vcard-lines" style="background: #dc8c2f;"></div>
            <div class="vcard-lines" style="background: #b72b3f;"></div>
        </div>
    </div>
</div>

{% if 'tiro y retiro' in card_double %}
    {% set contacts = data.contacts %}
    <div id="vcard-two" class="row">
        <div class="col-md-12">
            <div class="text-center">
                <p id="title-contact">OTROS CONTACTOS</p>
            </div>
            {% set position_center = '' %}

            {% if contacts|length == 1 %}
                {% set position_center = 'top: 4px;' %}
            {% endif %}

            {% if contacts|length == 2 %}
                {% set position_center = 'top: 4px;' %}
            {% endif %}

            <div id="count-hr" style="position: relative; {{ position_center }}">
                {% for key, contact in contacts %}
                    <div class="text-center count-div">
                        <p class="margin-p-cero">{{ contact.name_contact }}</p>
                        <p class="margin-p-cero">{{ contact.charge_contact }}</p>
                        <p class="margin-p-cero">
                            <span>N° de teléfono:</span> ({{ contact.code_area_contact }}
                            ) {{ contact.telephone_contact }}
                            <span>Email:</span> {{ contact.email_contact }}
                        </p>
                    </div>
                    <hr style="border-top: 1px solid #cccccc; margin: 2px;">
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}