{% if view == 'show' %}
    <ul>
    {% for role in value %}
        {% if role != 'ROLE_USER' %}
            <li> {{role|trans}} </li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    {% set colors = field_options.label_colors|default(['primary']) %}
    {% for role in value %}
        {% if role != 'ROLE_USER' %}
            <span class="label label-{{ cycle(colors, loop.index) }}">{{role|trans}}</span> 
        {% endif %}
    {% endfor %}
{% endif %}
