{% if not hide_if_empty or requisitions is not empty %}
<div class="row">
    <div class="col-md-12">
        {% if grid_title is not empty  %}
            <{{ grid_title_tag }}>{{ grid_title }}
            {% if title_help is not empty -%}
                <i class="glyphicon glyphicon-info-sign" style="cursor:pointer;display:inline-block;width:20px;height:20px" aria-hidden="true" data-toggle="tooltip" title="{{ title_help }}"></i>
            {%- endif -%}
            </{{ grid_title_tag }}>
        {% endif %}

        {% set data = hide_view_more ? requisitions : requisitions|slice(0, data_slice) %}

        <table class="table table-striped table-condensed" {% for k, v in attributes %}{{ k }}="{{ v is iterable ? v|json_encode : v }}"{% endfor %}>
            <thead>
                <tr>
                    <th>Nro.</th>
                    <th>Tipo</th>
                    <th>Detalle</th>

                    {% if is_granted(['ROLE_APPROVER', 'ROLE_SUPPLIER']) %}
                       <th style="text-align: center">Sucursal</th>
                    {% endif %}

                    <th style="text-align: center">Centro de costo</th>
                    <th style="text-align: center">Orden de trabajo</th>
                    <th style="text-align: center">Fecha de solicitud</th>
                    <th style="text-align: center">Fecha de respuesta</th>
                    {% if not is_granted('ROLE_SUPPLIER') %}
                        <th style="text-align: center">Fecha posible de entrega</th>
                    {% endif %}

                    {% if is_granted(['ROLE_REQUESTER']) %}
                        <th style="text-align: center"></th>
                    {% else %}
                        <th style="text-align: center">SLA</th>
                    {% endif %}

                    <th style="text-align: center">Estado</th>
                    <th></th>
                    <th>
                    {% if is_granted('ROLE_SUPPLIER') %}
                        {% if grid_title|default('') == 'Requerimientos por evaluar' %}
                            <a href="{{ path('be_core_acceptation_index') }}" class="btn btn-info btn-xs pull-right"
                               style="color:#ffffff !important;">Aceptar Masivo</a>
                        {% elseif grid_title|default('') == 'Requerimientos por certificar' %}
                            <a href="{{ path('be_core_certificate_index') }}" class="btn btn-info btn-xs pull-right"
                               style="color:#ffffff !important;">Certificar Masivo</a>
                        {% endif %}
                    {% endif %}
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for item in data %}
                {% if item.product is defined %}
                    {% set requisition = item %}
                    {% if requisition.type == 'requisition.product.vcard' %}
                        {% include 'requisition/product/_status_grid_requisition_vcard.twig' %}
                    {% else %}
                        {% include 'requisition/product/_status_grid_requisition.twig' %}
                    {% endif %}
                {% endif %}
            {% else %}
                {% if empty_text is defined %}
                    <tr>
                        <td colspan="{% if is_granted(['ROLE_APPROVER', 'ROLE_SUPPLIER']) %}10{% else %}9{% endif %}" style="text-align: center">{{ empty_text }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        {% if not hide_view_more %}
            {% if requisitions|length > data_slice and view_more_link is defined %}
                <div class="clearfix">
                    <p class="pull-right">Mostrando {{ data_slice }} de {{ requisitions|length }} requerimientos | <a href="{{ view_more_link }}">Ver más +</a></p>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endif %}


