{% extends 'content.twig' %}

{% block main_content %}
    <div class="row">
        <div class="col-md-12" style="float:none!important;margin:0 auto">
            <h4>En Gerencia Logística estamos trabajando para promover un buen ambiente de trabajo. Si tienes alguna consulta sobre un producto o servicio en particular, contacta al gestor de contrato respectivo para obtener más información sobre tu solicitud.</h4>
            <br/>
            <table class="table">
                <thead class="thead-default">
                <tr>
                    <th>Consultas por categoría</th>
                    <th>Coordinador</th>
                    <th>Anexo</th>
                    <th>Mail</th>
                </tr>
                </thead>
                <tbody>
                {% set a = '<a href="mailto:%val%">%val%</a>' %}
                {% for row in data %}
                <tr>
                    {% for col in row %}
                        {% if loop.last and 'anexo' not in col %}
                            {% if '/' in col %}
                                {% set val =  col|split('/')%}
                                {% set add =  ''%}
                                {% set final =  ''%}
                                {% for v in val %}
                                    {% set final = final ~ add ~ a|replace({'%val%': v}) %}
                                    {% set add =  ' / '%}
                                {% endfor %}
                                {% set col = final %}
                            {% else %}
                                {% set col = a|replace({'%val%': col}) %}
                            {% endif %}
                        {% endif %}
                        <td>{{ col|raw }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock main_content %}
