{% set route = app.request.get('_route') %}
{% set hide_footer_info = route in ['first_login'] %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<script>
    $(function () {
        $('[data-impersonate]').on('click', function () {
            var username = $(this).data('uname');

            bootbox.alert('Se cambiará al usuario <strong>' + username + '</strong>', function () {
                $.get('?_switch_user=_exit').done(function () {
                    $.get('?_switch_user=' + username).done(function () {
                        window.location.href = "{{ path('dashboard') }}";
                    })
                }).fail(function () {
                    bootbox.alert('Hubo un error al realizar la operación. Por favor intentelo nuevamente');
                });
            });
        });
    });
</script>
{% endif %}

<footer class="footer">
	<div class="container">
		<div class="row col-condensed">
            <div class="col-md-8">
                {% if is_granted('IS_AUTHENTICATED_FULLY') and not hide_footer_info %}
                <div class="row">
                    <div class="col-xs-6">
                        <p>Artículos de escritorio, aseo y cafetería</p>
                        <p><a href="https://www.prilogic.cl" target="_blank">Prilogic</a></p>
                    </div>
                </div>
                {% endif %}

                <div class="row copyright">
                    <p>BancoEstado 2016. Todos los derechos reservados. Conoce nuestra Política de privacidad</p>
                </div>
            </div>

			<div class="col-md-4 logo-footer pull-right">
                <img src="{{ asset('assets/img/logo-bcoestado-footer.png') }}" alt="Logo BancoEstado" />
            </div>
		</div>
	</div>
</footer>
