{% set route = app.request.get('_route') %}
{% set show_banner = route in ['dashboard', 'fos_user_security_login', 'fos_user_resetting_request'] %}
{% set hide_header_tools = route in ['first_login'] %}

<header class="header">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {# TODO: mover a archivo scss #}
    <div class="admin-menu row" style="font-size: 12px !important">
        {% if is_granted('ROLE_ADMIN') %}
            {{ knp_menu_render('admin') }}
        {% elseif is_granted('ROLE_EVALUATOR') %}
            {{ knp_menu_render('evaluator') }}
        {% elseif is_granted(['ROLE_SUPPLIER']) %}
            {{ knp_menu_render('supplier_top') }}
        {% endif %}
        {% if is_granted(['ROLE_APPROVER', 'ROLE_SUPPLIER', 'ROLE_APPROVER_VCARD']) %}
            <ul class="nav navbar-nav navbar-left">
                {% if has_water_report(app.user) %}
                    <li>
                        <a href="{{ path('water_report') }}">Reportes Aguas</a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_APPROVER') %}
                    <li>
                        <a href="{{ path('report_requisition_approver') }}">Reportes Pedidos</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_APPROVER_VCARD') %}
                    <li>
                        <a href="{{ path('report_requisition_approver_vcard') }}">Reporte Tarjetas</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
        {% if is_granted('ROLE_REQUESTER') %}
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="{{ path('contact_index') }}">Contacta a tu Coordinador / Gestor</a>
                </li>
            </ul>
        {% endif %}
    </div>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}

		{% include 'dashboard/_partial/report_bi_general_daily.twig' %}
		{% include 'dashboard/_partial/report-message-modal.twig' %}

		<script>
            $('a[href="#ver-catalogos"]').on('click', function(e){
                e.preventDefault();

                $.ajax({
                    url: '{{ path("office_data_view") }}',
                    async: false,
                    type: "get",
                    dataType: "html",
                    success: function(response) {

                        bootbox.dialog({
                            message: response,
                            buttons: {
                                success: {
                                    label: "Exportar",
                                    className: "btn-success",
                                    callback: function() {

                                        $('#remove-text-danger').remove('');

                                        if ( null == $('#change_office_office').val()  ) {

                                            var textDanger = '<span id="remove-text-danger"  class="text-danger">'+
                                                    '<small>Debe haber al menos una sucursal seleccionada</small> <span>';

                                            $('#change_office_office').parent().append(textDanger);
                                            return false;
                                        }

                                        var dataOffice = [];

                                        $('#form-change-office').serializeArray().forEach( function (entry) {
                                            dataOffice.push(entry.value);
                                        });

                                        window.location.replace('/export/contracts?office_id=' + dataOffice.join(','));
                                    }
                                },
                                main: {
                                    label: "Volver",
                                    className: "btn-warning",
                                    callback: function() {
                                        window.location.reload();
                                    }
                                }
                            }
                        });

                        var changeOfficeSel = $('#change_office_office');

                        changeOfficeSel.addClass('form-control betterSelect select2-selection--multiple');
                        changeOfficeSel.attr('data-widget', 'select2');

                        $('.select2-selection--multiple').select2({
                            multiple: true
                        });

                        $('.betterSelect').select2({
                          theme: 'bootstrap'
                        });

                        function fillOfficeData(data) {
                            $('#office-info').find('[data-placeholder]').each(function (i, e) {
                                $(e).text(data[$(e).data('val')]);
                            });
                        }

                        fillOfficeData(changeOfficeSel.find('option:selected').data('office'));

                        changeOfficeSel.on('change', function () {
                            fillOfficeData($('option:selected', this).data('office'));
                        });

                        $('#user_employee').hide();
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        bootbox.alert(thrownError);
                    }
                });
            });

		</script>
    {% endif %}
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="{{ path('dashboard') }}">
					<img src="{{ asset('assets/img/logo-bcoestado.jpg') }}" alt="Banco Estado" />
				</a>

				<div class="site-info-title">
					<span class="logistica-title">Logística</span>
					<span class="logistica-text">Promovemos un buen ambiente de trabajo.</span>
				</div>
			</div>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<div class="collapse navbar-collapse">

					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle"
							   data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {{ get_real_username() }} <span class="caret"></span>
							</a>
                            {{ knp_menu_render('user') }}
						</li>
					</ul>

                    {% if not hide_header_tools %}
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="{{ path('dashboard') }}"
								   class="dropdown-toggle notification-menu-link"
								   data-toggle="dropdown"
								   role="button" aria-haspopup="true" aria-expanded="false">
									<span class="menu-notification-text">Notificaciones</span>
									<span class="badge">{{ get_notification_count() }}</span>
									<span class="caret"></span>
								</a>
                                {{ knp_menu_render('notifications', {
                                    template: 'notification/menu.twig',
                                    allow_safe_labels: true
                                }) | raw }}
							</li>

                            {% if is_granted('ROLE_EMPLOYEE') %}
								<li class="dropdown">
									<a href="{{ path('requisitions_cart') }}" class="shopping-cart-menu-link">
										<span class="menu-shopping-text">Carro de solicitudes</span>
										<span class="badge">{{ get_cart_items_count() }}</span>
									</a>
								</li>
                            {% endif %}
						</ul>

                        {% if is_granted('ROLE_REQUESTER') or is_granted('ROLE_SUPPLIER') or is_granted('ROLE_APPROVER') %}
							<form class="navbar-form navbar-right" role="search" action="/search">
								<div class="form-group">
									<input type="text" id="query" name="query" class="form-control" placeholder="Buscar">
								</div>
							</form>
                        {% endif %}
                    {% endif %}
				</div>
            {% endif %}
		</div>
	</nav>
</header>

{%- if show_banner -%}
	<div class="banner">
		<div class="banner__contenedor">
			<h2>Sistema de Requerimientos de <strong>BancoEstado</strong></h2>
		</div>
	</div>
{%- endif -%}
