{% extends 'base.twig' %}

{% set route = app.request.get('_route') %}
{% set is_dashboard = route == 'dashboard' %}
{% set menu_type = is_dashboard ? 'home' : 'interior' %}

{% block body_cls route != 'dashboard' ? 'page-internal' : '' %}

{% block navigation %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% include 'mainmenu.twig' %}

        {% if not is_dashboard %}
            <div class="row breadcrumbs">{{ apy_breadcrumb_trail_render() }}</div>
        {% endif %}
    {% endif %}
{% endblock navigation %}

{% block body %}
    {% block header %}
        {% include 'header.twig' %}
    {% endblock %}

    <div class="container main-content" style="position: relative">
        {% block main_navigation %}
            {{ block('navigation') }}

            <div class="row">
                <div class="col-md-12">
                    {% if is_granted('ROLE_REQUESTER') and is_dashboard %}
                        {{ render(controller('App:Employee:officeDetail')) }}
                    {% endif %}
                </div>
            </div>

            {% include '_partial/flashes.twig' %}

            {% set is_search_main = form is defined != true %}
            {% set is_supplier = is_granted('ROLE_SUPPLIER') != true %}
            {% set is_approver = is_granted('ROLE_APPROVER') != true %}
            {% set is_approverv = is_granted('ROLE_APPROVER_VCARD') != true %}
            {% if app.user %}
                {% set is_serviestado = 'se.bancoestado.cl' in app.user.email  %}
                {% set is_externos = 'externos.bancoestado.cl' in app.user.email|lower  %}
                {% set is_microempresas = 'microempresas.bancoestado.cl' in app.user.email  %}
                {% set hide_vcard = is_serviestado or is_externos or  is_microempresas or get_special_office_config('hide_vcard')%}
            {% else %}
                {% set hide_vcard = false %}
            {% endif %}

            {% set show_pep = is_dashboard and is_granted('ROLE_PEP_REQUESTER') %}
            {% set show_vcard = is_dashboard and is_search_main and is_approver and is_approverv and is_supplier and not hide_vcard %}
            {% set show_banners = show_vcard or show_pep %}

            {% if show_banners %}
                <div class="row">
                    {% if show_vcard %}
                        <div class="{% if show_pep %}col-md-6{% else %}col-md-12{% endif %}">
                            {% include '_partial/vcard_banner.twig' %}
                        </div>
                    {% endif %}

                    {% if show_pep %}
                        <div class="{% if show_vcard %}col-md-6{% else %}col-md-12{% endif %}">
                            {% include '_partial/pep_banner.twig' %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endblock %}

        {% block main_content %}{% endblock %}
    </div>

    {% block footer %}
        {% include 'footer.twig' %}
    {% endblock %}
{% endblock body %}
