{% set dashboard = menu_type == 'home' %}

{% if is_granted('ROLE_REQUESTER') %}
<div class="row menu-bar menu-principal-cbe">
    <nav class="menu-bar mainmenu-{{ menu_type }}">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                {{ knp_menu_render(knp_menu_get('main', [], { dashboard: dashboard })) }}
            </div>
        </div>
    </nav>
</div>
<script>
    $('#main-menu').find('.menu-subastar, .menu-pedidos, .menu-arreglar').each(function (i, e) {
        if ($(e).parent().children().length == 1) {
            $(e).addClass('disable-feature');
        }
    });
</script>
{% endif %}

{% if is_granted('ROLE_SUPPLIER') %}
<div class="row menu-bar menu-supplier-cbe">
    <nav class="menu-bar mainmenu-{{ menu_type }}">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                {{ knp_menu_render(knp_menu_get('supplier', [], { dashboard: dashboard })) }}
            </div>
        </div>
    </nav>
</div>
{% endif %}

{% if is_granted('ROLE_APPROVER') or is_granted('ROLE_APPROVER_VCARD') and not is_granted('ROLE_REQUESTER') %}
 <div class="row menu-bar menu-supplier-cbe menu-approver-cbe">
    <nav class="menu-bar mainmenu-{{ menu_type }}" {% if menu_type == 'interior' %}style="width:300px!important;margin-bottom:-10px!important"{% endif %}>
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                {{ knp_menu_render(knp_menu_get('approver', [], { dashboard: dashboard })) }}
            </div>
        </div>
    </nav>
</div>
{% endif %}
