{% if poll_url is defined %}
<div id="mostrar-popup" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Encuesta de Satisfacción</h4>
            </div>

            <div class="modal-body text-center">
                <p>Estimado(a) Usuario(a):</p>

                <p>Como Gerencia Logística asumimos el compromiso de mejorar nuestros niveles de servicio, para así ofrecer una atención de calidad a nuestras áreas usuarias.</p>
                <p><b>Conocer su opinión es muy importante para nosotros, por eso le agradeceremos mucho destinar unos minutos para contestar esta encuesta, enfocada en la experiencia de uso del nuevo Sistema de Requerimientos Logísticos</b>.</p>


                <p><a href="{{ poll_url|default('#') }}" class="btn btn-warning" target="_blank">Para acceder a la encuesta haga clic aquí</a></p>

                <p>Ante cualquier inconveniente favor contáctese al anexo 23947<br/>
                    Agradeciendo su cooperación y gentileza,<br/>
                    Se despide atte,</p>

                <p><b>Equipo Sistema Requerimientos Logísticos</b><br/>
                    <small>
                        Subgerencia Compras<br/>
                        Gerencia Logística<br/>
                    </small>
                </p>

                <br/>

                <p class="small"><i>Si ya completo la encuesta haga <a href="{{ path('no_mostrar_popup') }}" class="btn btn-default btn-xs" >Clic Aquí</a></i></p>
            </div>
        </div>
    </div>
</div>

<script>
    $('#mostrar-popup').modal('show');
</script>
{% endif %}
