{% extends 'layout.twig' %}


{% block main_content %}
<div class="row">
    {% if productsResult is defined %}
    <h3>Buscar </h3>
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Código Técnico.</th>
                    <th>Imagen</th>
                    <th>Producto</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody> 
                {% if productsResult|length > 0 %}
                    {% for product in productsResult %}

                        {% if product.category is not null %}
                            {% set path = path('requisitions_request', { slug: product.category.slug, code: product.code }) %}
                        {% else %}
                            {% set path = path('requisitions_request_product', { code: product.code }) %}
                        {% endif %}

                        {% set imageUrl = product.images|length > 0 ? asset('downloads/product/' ~ product.images[0]) : '' %}
                        <tr>
                            <td>{{product.code}}</td>
                            <td><img src="{{imageUrl}}" alt="Sin Imagen" height="120" width="90"></td>
                            <td>{{product.name}}</td>
                            <td align="center">
                                <a href="{{ path|default('#') }}" class="btn btn-warning product-button">Ver Ficha</a>
                            </td>
                        <tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4"> No se encontraron resultados</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    {% elseif requisitionsResult is defined %}
        <h3>Buscar </h3>
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Nro Orden.</th>
                    <th>Sucursal</th>
                    <th>Estatus</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% if requisitionsResult|length > 0 %}
                    {% for requisition in requisitionsResult %}

                    {% if requisition.rq_id is defined %}
                        {% set detail = path('requisition_detail', { id: requisition.rq_id }) %}
                    {% endif %}

                    {% set imageUrl = requisition.images[0]|length > 0 ? asset('downloads/product/' ~ requisition.images[0]) : '' %}
                    <tr>
                        <td>{{requisition.pname}}</td>
                        <td>{{requisition.req_id}}</td>
                        <td>{{requisition.office_name}}</td>
                        <td>{{requisition.status|trans}}</td>
                        <td align="center">
                            <a href="{{ detail }}" class="btn btn-warning product-button">
                                Revisar
                            </a>
                        </td>
                    <tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5"> No se encontraron resultados</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}
