<div class="" id="limit-content" style="text-align:center;font-size:1.5em;line-height:2.5em;line-height:;height:75px;background-color: #ee550d;color:white;position: fixed;bottom: 0;padding: 2px 0;z-index: 100;width: 100%;color: #fff;display: block;left: 0px;margin-bottom: -25px;">
    <div class="block-inner clearfix">
        <div class="block-content">
            <div class="limit-content-bar container">
                <p>Recuerda que este es un ambiente  de <strong> Pruebas</strong>. Si deseas hacer solicitudes reales, debes hacer clic <a href="https://sistemaderequerimientosbe.cl" class="">aquí</a></p>
            </div>
        </div>
    </div>
</div>