{% set all = [] %}

{% if is_granted('ROLE_APPROVER') and is_granted('ROLE_REQUESTER') %}
    {# no puede tener los ROLE_APPROVER y ROLE_REQUESTER #}
{% elseif is_granted('ROLE_APPROVER') %}
    {% set all = all|merge(dashboard_query_aggregator.getQueryResult('approver.pending')) %}
    {% set all = all|merge(dashboard_query_aggregator.getQueryResult('approver.away')) %}
    {% set all = all|merge(dashboard_query_aggregator.getQueryResult('approver.cert')) %}
    {% set all = all|merge(dashboard_query_aggregator.getQueryResult('approver.history')) %}
{% elseif is_granted('ROLE_APPROVER_VCARD') %}
    {% set all = all|merge(dashboard_query_aggregator.getQueryResult('approver.vcard.history')) %}
    {% set all = all|merge(dashboard_query_aggregator.getQueryResult('approver.vcard.cert')) %}
{% elseif is_granted('ROLE_REQUESTER') %}
    {% set all = all|merge(dashboard_query_aggregator.getQueryResult('requester.open')) %}
    {% set all = all|merge(dashboard_query_aggregator.getQueryResult('requester.pending')) %}
    {% set all = all|merge(dashboard_query_aggregator.getQueryResult('requester.history')) %}
{% endif %}

{% if is_granted('ROLE_SUPPLIER') %}
    {% set all = all|merge(dashboard_query_aggregator.getQueryResult('supplier.pending')) %}
    {% set all = all|merge(dashboard_query_aggregator.getQueryResult('supplier.cert')) %}
    {% set all = all|merge(dashboard_query_aggregator.getQueryResult('supplier.history')) %}
    {% set all = all|merge(dashboard_query_aggregator.getQueryResult('supplier.away')) %}
{% endif %}

{{ requisition_status_grid(
title_tag = 'h2',
grid_title = 'Estado de solicitudes'|trans,
requisitions = all,
hide_if_empty = false,
empty_text = 'No tiene solicitudes en el registro',
hide_view_more = true,
attributes = {
    'data-table': true,
    'data-searching': true,
    'data-page-length': 10,
    'data-order': [[0, 'desc']]
}) }}
