{% set all = [] %}

{% if is_granted('ROLE_APPROVER') and is_granted('ROLE_REQUESTER') %}
    {# no puede tener los ROLE_APPROVER y ROLE_REQUESTER #}
{% elseif is_granted('ROLE_APPROVER') %}
    {% set all = all|merge(dashboard_query_aggregator.getQueryResult('approver.away')) %}
{% elseif is_granted('ROLE_REQUESTER') %}
    {% set all = all|merge(dashboard_query_aggregator.getQueryResult('requester.open')) %}
{% endif %}

{% if is_granted('ROLE_SUPPLIER') %}
    {% set all = all|merge(dashboard_query_aggregator.getQueryResult('supplier.away')) %}
{% endif %}

{% if is_granted(['ROLE_APPROVER']) %}
    <div class="btn-group" style="- float: right;position: absolute;right: 264px;z-index: 1;margin-top: 40px">
        <button id="product.delivered" type="button" class="btn btn-default btn-filter"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> En trabajo por proveedor</button>
        <button id="product.returned" type="button" class="btn btn-default btn-filter"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Recepción no conforme</button>
    </div>
{% endif %}

{{ requisition_status_grid(
title_tag = 'h2',
grid_title = 'Solicitudes en proceso'|trans,
requisitions = all,
hide_if_empty = false,
empty_text = 'No tiene solicitudes en el registro',
hide_view_more = true,
attributes = {
    'data-table': true,
    'data-searching': true,
    'data-page-length': 10,
    'data-order': [[0, 'desc']]
})
}}

<script>
    {% if is_granted(['ROLE_APPROVER']) %}
    $(document).ready(function () {
        var active = false;
        var clickedId = "";
        var returnedSearch = "conforme";
        var deliveredSearch = "trabajo";

        $(".btn-filter").click(function(){
            active = $(this).hasClass("btn-warning");
            clickedId = $(this).attr('id');

            $(".btn-filter").removeClass("btn-warning");

            if(!active){
                $(this).addClass("btn-warning");
                if(clickedId !== "" && clickedId == 'product.returned'){
                    filterTable(returnedSearch);
                }else if(clickedId !== "" && clickedId == 'product.delivered'){
                    filterTable(deliveredSearch);
                }
            }else{
                filterTable("");
            }
        });
    });

    function filterTable(search){
        var table = $(".table").DataTable();
        table.search(search).draw() ;
    }
    {% endif %}
</script>
