{% set all = [] %}

{% if is_granted('ROLE_EMPLOYEE') %}
    {% set all = all|merge(dashboard_query_aggregator.getQueryResult('requester.pending')) %}
{% endif %}

{% if is_granted('ROLE_APPROVER') %}
    {% set all = all|merge(dashboard_query_aggregator.getQueryResult('approver.pending')) %}
{% endif %}

{% if is_granted('ROLE_HELP_CENTER_APPROVER') %}
    {% set all = all|merge(help_center_pending_eval) %}
{% endif %}

{% if is_granted('ROLE_SUPPLIER') %}
    {% set all = all|merge(dashboard_query_aggregator.getQueryResult('supplier.pending')) %}
    {% if all|length and all[0].type == 'requisition.uniform'%}
        <div class="btn-group" style="float: right;position: absolute;right: 284px;z-index: 1;margin-top: 40px">
            <button id="bulk_accept" type="button" class="btn btn-warning"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Aceptar masivamente</button>
        </div>
    {% endif %}
{% endif %}

{{ requisition_status_grid(
title_tag = 'h2',
grid_title = 'Solicitudes por evaluar'|trans,
requisitions = all,
hide_if_empty = false,
empty_text = 'No tiene solicitudes en el registro',
hide_view_more = true,
attributes = {
    'data-table': true,
    'data-searching': true,
    'data-page-length': 10,
    'data-order': [[0, 'desc']]
})
}}

<script>
    {% if is_granted(['ROLE_SUPPLIER']) and all|length and all[0].type == 'requisition.uniform' %}
    $(document).ready(function () {

        $("#bulk_accept").click(function(){
            $.get( "{{ path('bulk_accept_command') }}", function(  ) {
            });
            bootbox.dialog({
                message: 'Se aceptaran las solicitudes masivamente y al final recibirá un correo de confirmación',
                buttons: {
                    'Aceptar': {
                        className: 'btn-warning',
                        callback: function () {
                            window.location.replace('{{ path('dashboard') }}');
                        }
                    }
                }
            });
        });
    });
    {% endif %}
</script>
