<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Intento fallido de ingresar al sistema</title>
</head>

<body>
<div style="width:600px;margin:0 auto;background:#ecebed;font-size:16px;line-height:1.3em;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
<table width="600" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="20" bgcolor="#595252"></td>
        <td width="562" align="center" valign="middle" bgcolor="#595252"><img src="{{ absolute_url(asset('assets/img/emails/email_logo.png')) }}" width="148" height="44" alt="Banco Estado" /></td>
        <td width="20" bgcolor="#595252">&nbsp;</td>
    </tr>
    <tr>
        <td width="20" height="272" background=""></td>
        <td align="center">
            <br />

            <p><img src="{{ absolute_url(asset('assets/img/emails/email_bell.png')) }}" width="34" height="37" alt="Notify" /></p>
            <h1 style="font-family:Arial, Helvetica, sans-serif; font-size:1.2em; ">Intento fallido de ingreso a tu cuenta</h1>
            <p style="font-family:Arial, Helvetica, sans-serif; font-size:1em; ">Hemos detectado un ingreso fallido a su cuenta en la plataforma de Requerimientos Logísticos de BancoEstado.</p>
            <p style="font-family:Arial, Helvetica, sans-serif; font-size:1em; ">Recuerde que la contraseña es su RUT, sin puntos, ni guión, ni dígito verificador.<br />
            </p>
            <table width="91%" style="border:#999 solid 1px;">
                <tr>
                    <td align="center"><table width="100%" border="0" cellpadding="2" cellspacing="5" style="font-family:Arial, Helvetica, sans-serif; ;">
                            <tr>
                                <td width="40%" align="right" style="color:#666"><span style="font-family:Arial, Helvetica, sans-serif; font-size:1em; ">Ejemplo si tu RUT fuera</span></td>
                                <td><span style="font-family:Arial, Helvetica, sans-serif; font-size:1em; color:#900">16.047.234-K</span></td>
                            </tr>
                            <tr>
                                <td width="40%" align="right" style="color:#666"><span style="font-family:Arial, Helvetica, sans-serif; font-size:1em; ">La contraseña seria</span></td>
                                <td><span style="font-family:Arial, Helvetica, sans-serif; font-size:1em; color:#060">16047234</span></td>
                            </tr>
                        </table></td>
                </tr>
            </table>

            <br />

            <a href="{{ absolute_url(path('fos_user_security_login')) }}" style="background:#F90; color:#FFF; text-decoration:none; padding:10px 35px; display:inline-block; font-family:Arial, Helvetica, sans-serif;">Ingresar al sistema</a><br /><br />

            <p style="color:#999; font-size:0.9em; font-family:Arial, Helvetica, sans-serif"><i>En caso de haber modificado su contraseña inicial, favor contactar a su coordinador.</i></p></td>
        <td width="20" background="">&nbsp;</td>
    </tr>
    <tr>
        <td width="20" height="33" background=""></td>
        <td height="33" background="" style="background-position:top">&nbsp;</td>
        <td width="20" height="33" background="">&nbsp;</td>
    </tr>
</table>
</div>
</body>
</html>