<table width="600" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="20"  bgcolor="#595252"></td>
        <td width="562" align="center" valign="middle" bgcolor="#595252"><img
                    src="{{ absolute_url(asset('assets/img/emails/email_logo.png')) }}" width="148"
                    height="44" alt="Banco Estado"/></td>
        <td width="20"  bgcolor="#595252">
            &nbsp;</td>
    </tr>
    <tr>
        <td width="20" height="272"
            background=""></td>
        <td align="center">
            <br/>
            {% set message_title %}
                Recepción no conforme
            {% endset %}

            <p><img src="{{ absolute_url(asset('assets/img/emails/email_bell.png')) }}" width="34"
                    height="37" alt="Notify"/></p>
            <h1 style="font-family:Arial, Helvetica, sans-serif; font-size:1.2em; ">{{ username }}, {{ message_title }}</h1>
            <table width="91%" style="border:#999 solid 1px;">
                <tr>
                    <td align="center">
                        <table width="100%" border="0" cellpadding="2" cellspacing="5"
                               style="font-family:Arial, Helvetica, sans-serif; ;">
                            <tr>
                                <td width="40%" align="right" style="color:#666">Numero</td>
                                <td>{{ data.requisition.number }}</td>
                            </tr>
                            <tr>
                                <td width="40%" align="right" style="color:#666">Tipo</td>
                                <td>{{ data.requisition.type|trans }}</td>
                            </tr>
                            <tr>
                                <td width="40%" align="right" style="color:#666">Detalle</td>
                                <td>{{ data.requisition.product.name }}   </td>
                            </tr>
                            <tr>
                                <td width="40%" align="right" style="color:#666">Sucursal</td>
                                <td>{{ data.delivery_address.office.name }}</td>
                            </tr>
                            <tr>
                                <td width="40%" align="right" style="color:#666">Fecha de posible entrega
                                </td>
                                <td>{{ data.responseTime|date('d/m/Y') }}</td>
                            </tr>
                            <tr>
                                <td width="40%" align="right" style="color:#666">Estado</td>
                                {% set status = data.requisition.status ~ '.reached' %}
                                <td>{{ status|trans }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <br/>

            <a href="{{ absolute_url(path('requisition_detail', { id: data.requisition.id })) }}"
               style="background:#F90; color:#FFF; text-decoration:none; padding:10px 35px; display:inline-block; font-family:Arial, Helvetica, sans-serif;">Ver solicitud</a><br/>

        </td>
        <td width="20" background="">
            &nbsp;</td>
    </tr>
    <tr>
        <td width="20" height="33"
            background=""></td>
        <td height="33" background=""
            style="background-position:top">&nbsp;</td>
        <td width="20" height="33"
            background="">&nbsp;</td>
    </tr>
</table>