<table width="600" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="20"  bgcolor="#595252"></td>
        <td width="562" align="center" valign="middle" bgcolor="#595252"><img
                    src="{{ absolute_url(asset('assets/img/emails/email_logo.png')) }}" width="148"
                    height="44" alt="Banco Estado"/></td>
        <td width="20"  bgcolor="#595252">
            &nbsp;</td>
    </tr>
    <tr>
        <td width="20" height="272"
            background=""></td>
        <td align="center">

            {% set status = data.requisition.status ~ '.reached' %}
            <br/>
            {% set message_title = status|trans %}

            <p><img src="{{ absolute_url(asset('assets/img/emails/email_bell.png')) }}" width="34"
                    height="37" alt="Notify"/></p>

            <h1 style="font-family:Arial, Helvetica, sans-serif; font-size:1.2em; ">{{ username }}, {{ message_title }}</h1>
            <div style="border:1px solid darkgray; height: 57px;width:91%;color:black;text-align: left;font-size:10px">
                <div style="width:10%;float: left">
                    <img style="padding:7px" src="{{ absolute_url(asset('assets/img/emails/email_warning_v3.png')) }}" width="45"
                         height="40" alt="Notify"/>
                </div>
                <div style="padding-left: 0;width:90%;float: left; color: #000000">
                    {%   set eval_date = data.requisition.getTransition('product.rejected').datetime|default("now")|date("d/m/Y H:i:s") %}
                    <div>El evaluador rechazó su requerimiento con fecha: {{ eval_date }}. </div>
                    <div style="color: #0f0f0f !important;">Usted dispone de 48 horas para apelar el rechazo. Luego de este plazo el requerimiento será cerrado.</div>
                </div>
            </div>
            <table width="91%" style="border:#999 solid 1px;">
                <tr>
                    <td align="center">
                        <table width="100%" border="0" cellpadding="2" cellspacing="5"
                               style="font-family:Arial, Helvetica, sans-serif; ;">
                            <tr>
                                <td width="40%" align="right" style="color:#666">Numero</td>
                                <td>{{ data.requisition.number }}</td>
                            </tr>
                            <tr>
                                <td width="40%" align="right" style="color:#666">Tipo</td>
                                <td>{{ data.requisition.type|trans }}</td>
                            </tr>
                            <tr>
                                <td width="40%" align="right" style="color:#666">Detalle</td>
                                <td>{{ data.requisition.product.name }}   </td>
                            </tr>
                            <tr>
                                <td width="40%" align="right" style="color:#666">Sucursal</td>
                                <td>{{ data.delivery_address.office.name }}</td>
                            </tr>
                            <tr>
                                <td width="40%" align="right" style="color:#666">Mensaje
                                </td>
                                <td>La solicitud fue rechazada por el evaluador técnico del producto.</td>
                            </tr>
                            <tr>
                                <td width="40%" align="right" style="color:#666">Estado</td>
                                <td>{{ status|trans }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <br/>

            <a href="{{ absolute_url(path('requisition_detail', { id: data.requisition.id })) }}"
               style="background:#F90; color:#FFF; text-decoration:none; padding:10px 35px; display:inline-block; font-family:Arial, Helvetica, sans-serif;">Ver solicitud</a><br/>

        </td>
        <td width="20" background="">
            &nbsp;</td>
    </tr>
    <tr>
        <td width="20" height="33"
            background=""></td>
        <td height="33" background=""
            style="background-position:top">&nbsp;</td>
        <td width="20" height="33"
            background="">&nbsp;</td>
    </tr>
</table>