{% extends 'notification/templates/layout.twig' %}

{% set receiver_roles = message.receiver.roles %}

{% if 'ROLE_SUPPLIER' in receiver_roles %}
    {% set username_display = 'proveedor'%}
    {% set is_supplier = true %}
    {% set is_requester = false %}
    {% set username = data.supplier.username %}
{% endif %}
{% if 'ROLE_REQUESTER' in receiver_roles %}
    {% set username_display = 'usuario'%}
    {% set is_supplier = false %}
    {% set is_requester = true %}
    {% set username = data.requester.username %}
{% endif %}

    {% block greeting %}
        {% if channel != 'email' %}
            Estimado {{ username_display }}:
        {% endif %}
    {% endblock %}

    {% block self_management_message %}
        {{ block('product_message') }}
    {% endblock %}

    {% block uniform_message %}
        {{ block('product_message') }}
    {% endblock %}

    {% block product_message %}
         {% if 'ROLE_SUPPLIER' in receiver_roles %}
            <p>!Tenemos una buena noticia para ti! Uno de de nuestro clientes te ha escogido para la entrega de un un bien y/o servicio.</p>
            <p>Para formalizar el pedido es necesario que aceptes o rechaces la solicitud que te fue asignada. Recuerda que tienes un plazo máximo de <strong>ocho horas</strong> para responder.</p>
            <p>Para acceder a este requerimiento <a href="{{ absolute_url(path('requisition_detail', { id: data.requisition.id })) }}">haz clic aquí</a></p>
            <p>Muchas gracias por ayudarnos a construir la red de proveedores de BancoEstado.</p>

        {% elseif 'ROLE_REQUESTER' in receiver_roles %}
            <p>La solicitud que ingresaste al Sistema de Requerimientos de BancoEstado fue aprobada.</p>
            <p>Para revisar tu pedido <a href="{{ absolute_url(path('requisition_detail', { id: data.requisition.id })) }}">haz clic aquí</a></p>
        {% endif %}
    {% endblock %}

    {% block maintenance_message %}
        {% if 'ROLE_SUPPLIER' in receiver_roles %}
            <p>!Tenemos una buena noticia para ti! Uno de nuestros clientes te ha solicitado un servicio de Mantención a través del Sistema de Requerimientos de BancoEstado</p>
            <p>Recuerda que hay un SLA comprometido para responder la solicitud. Para acceder a este requerimiento, <a href="{{ absolute_url(path('requisition_detail', { id: data.requisition.id })) }}">haz clic aquí</a></p>
        {% elseif 'ROLE_REQUESTER' in receiver_roles %}
            <p>La solicitud que ingresaste al Sistema de Requerimientos de BancoEstado fue aprobada.</p>
            <p>Para revisar tu pedido <a href="{{ absolute_url(path('requisition_detail', { id: data.requisition.id })) }}">haz clic aquí</a></p>
        {% endif %}
    {% endblock %}

    {% block content %}
        {% if channel != 'email' %}
            {{ block(data.requisition.type|replace({'requisition.':''}) ~ '_message') }}
        {% endif %}
    {% endblock %}


    {% block contentEmail %}
        {% if channel == 'email' %}
            {% include 'notification/templates/email.product.approved.twig' %}
        {% endif %}
    {% endblock %}