{% extends 'notification/templates/layout.twig' %}

{% block greeting %}
    {% if channel != 'email' %}
        Estimado usuario:
    {% endif %}
{% endblock %}

{% block content %}
    {% if channel != 'email' %}
        <p>Una solicitud que ingresaste al Sistema de Requerimientos de BancoEstado fue entregada por el proveedor.</p>
        <p>Para certificar la entrega <a href="{{ absolute_url(path('requisition_detail', { id: data.requisition.id })) }}">haz clic aquí</a></p>
    {% endif %}
{% endblock %}
{% block contentEmail %}
    {% if channel == 'email' %}
        {% include 'notification/templates/email.product.reviewed.twig' %}
    {% endif %}
{% endblock %}
