{% extends 'notification/templates/layout.twig' %}

{% set receiver_roles = message.receiver.roles %}
{% if 'ROLE_SUPPLIER' in receiver_roles %}
    {% set username_display = 'proveedor'%}
    {% set is_supplier = true %}
    {% set is_requester = false %}
    {% set username = data.supplier.username %}
{% endif %}
{% if 'ROLE_REQUESTER' in receiver_roles %}
    {% set username_display = 'usuario'%}
    {% set is_supplier = false %}
    {% set is_requester = true %}
    {% set username = data.requester.username %}
{% endif %}

{% block greeting %}
    {% if channel != 'email' %}
        Estimado usuario:
    {% endif %}
{% endblock %}

{% block self_management_message %}
    {{ block('product_message') }}
{% endblock %}

{% block uniform_message %}
    {{ block('product_message') }}
{% endblock %}

{% block product_message %}
    <p>La solicitud que ingresaste al Sistema de Requerimientos de BancoEstado fue aceptada por el proveedor.</p>
{% endblock %}

{% block maintenance_message %}
    <p>La solicitud de mantención que ingresaste al Sistema de Requerimientos de BancoEstado fue aprobada.</p>
{% endblock %}

{% block content %}
    {% if channel != 'email' %}
        {{ block(data.requisition.type|replace({'requisition.':''}) ~ '_message') }}
        <p>Para revisar tu solicitud, <a href="{{ absolute_url(path('requisition_detail', { id: data.requisition.id })) }}">haz clic aquí</a></p>
    {% endif %}
{% endblock %}

{% block contentEmail %}
    {% if channel == 'email' %}
        {% include 'notification/templates/email.product.accepted.twig' %}
    {% endif %}
{% endblock %}

