{% extends 'notification/templates/layout.twig' %}

{% set username = data.assignee.username %}

{% block greeting %}
    {% if channel != 'email' %}
        Estimado evaluador:
    {% endif %}
{% endblock %}

{% block content %}
    {% if channel != 'email' %}
        <p>Una solicitud fue ingresada al Sistema de Requerimientos de BancoEstado por el demandante.</p>
        <p>Para revisar los motivos de la apelación <a href="{{ absolute_url(path('solicitud_especial_detalle', { id: data.request.id })) }}">haz clic aquí</a></p>
    {% endif %}
{% endblock %}

{% block contentEmail %}
    {% if channel == 'email' %}
        {% include 'notification/templates/email_special_request/email.special.request.appealed.twig' %}
    {% endif %}
{% endblock %}