{% extends 'notification/templates/layout.twig' %}

{% set receiver_roles = message.receiver.roles %}

{% if 'ROLE_REQUESTER' in receiver_roles %}
    {% set username_display = 'proveedor'%}
    {% set username = data.requester.username %}
{% endif %}
{% if 'ROLE_APPROVER_SPECIAL' in receiver_roles %}
    {% set username_display = 'evaluador'%}
    {% set username = data.assignee.username %}
{% endif %}

{% block greeting %}
    {% if channel != 'email' %}
        Estimado {{ username_display }}:
    {% endif %}
{% endblock %}

{% block content %}
    {% if channel != 'email' %}
        <p>Se ha añadido un nuevo comentario a su bandeja de notificaciones.</p>
        <p>Para revisar más sobre el detalle <a href="{{ absolute_url(path('solicitud_especial_detalle', { id: data.request.id })) }}">haz clic aquí</a></p>
    {% endif %}
{% endblock %}

{% block contentEmail %}
    {% if channel == 'email' %}
        {% include 'notification/templates/email_special_request/email.special.request.comment.twig' %}
    {% endif %}
{% endblock %}