<div class="manual">
    <h3>Manual de ambientes</h3>
    <p>Contiene los distintos tipos de mantenciones que efectúa la Gerencia Logística, a todas las sucursales y edificios matrices de BancoEstado.</p>

    {% set url = asset('assets/static/MANUAL_MANTENCIONES_DE_AMBIENTE_18.2-2.pdf') %}

    <a href="{{ url }}" class="btn btn-warning">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Descargar
    </a>
</div>