{% set detail = path('requisition_detail', { id: requisition.id }) %}

{% if (in_sla == 'all_sla') or (in_sla == 'in_sla' and sla_to_seconds(requisition) > 0) or (in_sla == 'out_sla' and sla_to_seconds(requisition) < 0) %}
    {% set show = true %}
{% else %}
    {% set show = false %}
{% endif %}

{% if show %}

    <tr class="row" data-state="{{ requisition.status }}" {% if app.environment in ['dev', 'qa'] %}data-assignee="{{ requisition.assignee ? requisition.assignee.username : 'none' }}"{% endif %}>
        <td class="col-md-1">{{ requisition.createdAt|date('d/m/Y') }}</td>
        <td  class="col-md-1"><a href="{{ detail }}">{{ requisition.number }}</a></td>
        <td  class="col-md-2">
            {% if requisition.product.name is defined %}
                {{ requisition.product.name }}
            {% else %}
                -
            {% endif %}
        </td>

        <td  class="col-md-3" style="text-align: center" data-order="{{ sla_to_seconds(requisition) }}">{{ sla_indicator(requisition) }}</td>

        <td  class="col-md-1">{{ requisition.translatableStatus|trans }}</td>

        <td  class="col-md-1" style="text-align: center">
            {% if requisition.requester.employee.office.name is defined %}
                {{ requisition.requester.employee.office.name }}
            {% else %}
                -
            {% endif %}
        </td>

        <td  class="col-md-1" style="text-align: center">
            {% if requisition.requester.employee is defined %}
                {{ requisition.requester.employee.fullname|default('') }}
            {% else %}
                {{ requisition.requester.username }}
            {% endif %}
        </td>

        <td  class="col-md-1" style="text-align: center">
            {% if requisition.assignee is not null and requisition.assignee.employee is not null %}
                {{ requisition.assignee.employee.fullName|default() }}
            {% else %}
                {{ requisition.assignee.username|default() }}
            {% endif %}
        </td>

        <td  class="col-md-1">
            {% if requisition.type == 'special_request' %}
                <a href="{{ path('solicitud_especial_detalle', { id: requisition.id }) }}"
                   class="btn btn-sm btn-warning">Revisar</a>
            {% elseif requisition.type == 'requisition.product.vcard' %}
                <a href="{{ path('vcards_detalle',  { id: requisition.id }) }}"
                   class="btn btn-sm btn-warning">Revisar</a>
            {% else %}
                <a href="{{ detail }}" class="btn btn-sm btn-warning">Revisar</a>
            {% endif %}
        </td>
        <td></td>
    </tr>
{% endif %}
