{% if not hide_if_empty or requisitions is not empty %}

    {% if grid_title is not empty  %}
        <div class="row">
            <{{ grid_title_tag }}>{{ grid_title }}</{{ grid_title_tag }}>
        </div>
    {% endif %}

    <div class="row">
        <table class="table table-striped table-condensed data">
            <thead>
                <tr>
                    <th>Nro.</th>
                    <th>Detalle</th>
                    <th style="text-align: center">Centro de costo</th>
                    <th style="text-align: center">Orden de trabajo</th>
                    <th style="text-align: center">Fecha de solicitud</th>
                    <th style="text-align: center">Fecha de entrega</th>
                    <th style="text-align: center">SLA</th>
                    <th style="text-align: center">Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for requisition in requisitions|slice(0, data_slice) %}
                {% set detail = path(item_route, { id: requisition.id }) %}
                <tr>
                    <td><a href="{{ detail }}">{{ requisition.number }}</a></td>
                    <td>{{ requisition.product.name }}</td>
                    <td style="text-align: center">{{ requisition.contract.costCenter }}</td>
                    <td style="text-align: center">{{ requisition.metadata['work_order']|default('') }}</td>
                    <td style="text-align: center">{{ requisition.createdAt|date('d/m/Y') }}</td>
                    <td style="text-align: center">{{ requisition.estimatedDeadline|date('d/m/Y') }}</td>
                    <td style="text-align: center">{{ get_participant_sla(requisition) }}</td>

                    {%- set status_caption -%}
                        {{ requisition.status }}
                    {%- endset -%}

                    <td style="text-align: center">{{ workflow_indicator(requisition, status_caption) }}</td>
                    <td><a href="{{ detail }}" class="btn btn-sm btn-warning">Revisar</a></td>
                </tr>
            {% else %}
                {% if empty_text is defined %}
                    <tr>
                        <td colspan="9" style="text-align: center">{{ empty_text }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if requisitions|length > data_slice and view_more_link is defined %}
        <div class="row clearfix">
            <p class="pull-right">Mostrando {{ data_slice }} de {{ requisitions|length }} requerimientos | <a href="{{ view_more_link }}">Ver más +</a></p>
        </div>
    {% endif %}

{% endif %}


