{% extends 'layout.twig' %}
{% import '_partial/macros.twig' as macros %}
{% form_theme form 'form_theme.twig' %}

{% set type = requisition_type_resolver.getType(product) %}
{% set env = app.environment %}
{% set not_locked = ['dev','qa'] %}
{% set has_rate = ['GO-01'] %}

{% block body_id 'product-requisition' %}
{% block body_cls type %}
{% block product_info_tabs %}
	{% include 'requisition/product/_product_info_tabs.twig' %}
{% endblock product_info_tabs %}

{% block product_suppliers_table %}
	<table class="table table-striped">
		<thead>
		<tr>
			<th class="supplier-ranking">Ranking</th>
			<th class="contract-cost-center">Centro Costo</th>

            {% set showPrice = type not in ['requisition.maintenance']  and product_is_descentralized(contracts) %}
            {% if showPrice %}
				<th class="contract-price">Precio</th>
            {% endif %}

            {% if app.environment in ['dev', 'qa', 'stage'] %}
				<th>SLA Evaluador</th>
				<th>SLA Producto</th>
            {% endif %}

			<th class="contract-sla">Fecha de Entrega</th>

			<th class="supplier-selector">Seleccionar proveedor</th>
		</tr>
		</thead>
		<tbody>
        {% for contract in contracts %}
			<tr>
                {% set supplier = contract.supplier %}
                {% set estimated = sla_resolver.getTotalSla(requisition, contract) %}
                {% set rating = rating_calculator.getAverage(supplier.rating) %}

				<td class="supplier-ranking">{{ macros.star_rating(rating['total']) }}</td>
				<td class="contract-cost-center">{{ contract.costCenter }}</td>

                {% if showPrice %}
					{% if requisition.type == 'requisition.self_management' %}
						<td class="contract-price">
                            {{ 'according_to_rate'|trans }}
						</td>
					{% else %}
						<td class="contract-price">
                            {{ contract.price.currency|trans }} {{ contract.price.value|number_format(0, ',', '.') }}
						</td>
					{% endif %}
                {% endif %}

                {% if app.environment in ['dev', 'qa', 'stage'] %}
					{% set slaApprover = contract.getSla('product.created') %}
					{% set slaAccept = contract.getSla('product.approved') %}
					{% set slaOrder = contract.getSla('product.ordered') %}
					{% set slaProduct = contract.getSla('product.delivered') %}

					<td>
						{% if type == 'requisition.maintenance' and product.centralized == false and product.approver is not null %}
							0
						{% else %}
							{{ slaApprover.value + slaOrder.value }}
							({{ slaApprover.value }} + {{ slaOrder.value }})
							{{ slaApprover.type|trans }}
						{% endif %}
					</td>

					<td>
						{{ slaAccept.value }} {{ slaAccept.type|trans }} +
						{{ slaProduct.value }} {{ slaProduct.type|trans }}
						{% if slaProduct.type == 'sla.business.hour' %}
							(~{{ ((slaAccept.value + slaProduct.value)/9)|number_format(2, '.', ',') }} días hábiles)
						{% endif %}
					</td>
                {% endif %}

                {% if type != 'requisition.uniform' %}
                    {% set format = type == 'requisition.maintenance' ? 'd/m/Y H:i:s' : 'd/m/Y' %}
					<td class="contract-sla">{{ estimated|date(format) }}</td>
                {% endif %}

				<td class="supplier-selector">
                    {% set supplier_name = contract.supplier.name ~ ' (' ~ contract.supplier.rut ~ ')' %}
                    {{ form_widget(form.contract[contract.id], {
                        label: app.environment in ['dev', 'qa', 'stage'] ? supplier_name : false,
                        attr: { 'data-type': contract.centralized ? 'centralized' : 'descentralized' }
                    }) }}
				</td>
			</tr>
        {% endfor %}
		</tbody>
	</table>
{% endblock product_suppliers_table %}

{% block main_content %}
	<div class="row request-page" data-new={{ requisition.id is null ? 1 : 0 }}>
        {% include 'requisition/product/_sidebar.twig' %}

		<div class="row col-md-9 detalle-productos col-md-9-responsive" >
			<div class="col-md-12">
				<h2>{{ product.name }}</h2>
				<p>Código Técnico: {{ product.code }}</p>
			</div>

			<div class="row col-md-12 producto">
				<div class="col-md-6 producto-img">
                    {% set imagePath = product.images|length ? product.images[0]|imagine_filter('products_request_main') : '' %}
					<div style="width:400px;height:300px;background:url({{ imagePath }}) no-repeat center"></div>
				</div>

				<div class="col-md-6 producto-info">
                    {{ block('product_info_tabs') }}
				</div>
			</div>

            {{ form_start(form)}}
                {% if product.instructions %}
                    <div class="col-md-12">
                        <h4>Instrucciones</h4>
                        <p>{{ product.instructions }}</p>
                    </div>
                {% endif %}

                {% if form.details|length %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_widget(form.details) }}
                        </div>
                    </div>
                {% endif %}

                <div class="tabla-ranking col-md-12">
                    {{ block('product_suppliers_table') }}
                </div>

                <div class="col-md-12">
                    <button id="submit-req" type="submit" class="btn btn-warning pull-right" {% if (lock) and env not in not_locked %}style="display:none"{% endif %} data-loading-text="Procesando...">
                        {% if requisition.id %}Guardar cambios{% else %}Agregar a solicitudes{% endif %}
                    </button>
                </div>
            {{ form_end(form) }}

			<div class="col-md-12 info informacion col-condensed" style="clear: both">
                <p>* La fecha de entrega es estimativa ya que depende de evaluación técnica y aceptación de proveedor.</p>

                {% if type in ['requisition.self_management','requisition.product']  %}
                    <p>* Los valores entregados pueden variar en el caso de la selección de otro proveedor.</p>
                {% endif %}

				<p style="padding-top: 50px;"><strong>¿Necesitas más información?</strong> <a href="{{ path('contact_index') }}">Contacta a tu Coordinador / Gestor</a></p>
			</div>
		</div>
	</div>

    {% if requisition.type == 'requisition.uniform' %}
		<script>
			var list = {};
			list.cant_pantalones = $("#requisition_details_cantidad_pantalones");
			list.cant_faldas = $("#requisition_details_cantidad_faldas");

			$(".max-3").on("change",function(e){
				idOtherField = getOtherField(list,$(this).attr("id"));
				chooseOption(idOtherField, $(this).val());
			});

			list.cant_faldas.val(1).change();

			function getOtherField(list,selectedId){
				for (var el in list){
					if(list[el].attr("id") != selectedId){
						return list[el].attr("id");
					}
				}
			}

			function chooseOption(id, chosenValue){
				$("#"+id+" option").each(function(){
					var sum = parseInt($(this).val()) + parseInt(chosenValue);
					if( sum == 3){
						$("#"+id).val($(this).val());
					}
				});
			}
		</script>
	{% endif %}
	<script>
		var submitBtn = $("#submit-req");
		var form = $('form[name="requisition"]');

        submitBtn.click(function() {
            $(this).button('loading');
            form.submit();
        });
	</script>
{% endblock main_content %}