{% set status = requisition.status %}

{% if requisition.type == 'requisition.uniform' %}
    {% include 'BEUniformBundle:Requisition:_workflow.html.twig' with {'step':status,'tooltip':false}%}
{% else %}

<div class="solicitud-workflow">
    <div class="workflow-line"></div>
    
    <div class="solicitud-workflow-step solicitud-workflow-step-1" {% if is_popover is not defined %}data-tooltip="Consiste en: Elegir producto, ingresar cantidad, seleccionar proveedor y confirmar solicitud. Si el producto es de cargo de Logística pasa a Evaluación técnica."{% endif %} data-tooltip-position="bottom">
    <div class="solicitud-workflow-content">
        <div class="solicitud-workflow-number {% if status == 'product.draft' %}workflow-active{% endif %}">1</div>
        <div class="solicitud-workflow-text ">Solicitud emitida</div>
    </div>
    </div>
    
    <div class="solicitud-workflow-step solicitud-workflow-step-2" {% if is_popover is not defined %}data-tooltip="Consiste en: El área de evaluación técnica de la Gerencia Logística revisa estándar, pertinencia y factibilidad de la solicitud y si es aprobada pasa al proveedor."{% endif %} data-tooltip-position="bottom">
    <div class="solicitud-workflow-content">
        <div class="solicitud-workflow-number {% if status in ['product.hold', 'product.created', 'product.rejected', 'product.appeal', 'product.denied', 'product.ordered'] %}workflow-active{% endif %}">2</div>
        <div class="solicitud-workflow-text">Evaluación técnica</div>
    </div>
    </div>
    
    <div class="solicitud-workflow-step solicitud-workflow-step-3" {% if is_popover is not defined %}data-tooltip="Consiste en: El proveedor revisa y si acepta la solicitud, es ejecutada y entregada en el plazo que informa el sistema."{% endif %} data-tooltip-position="bottom">
    <div class="solicitud-workflow-content">
        <div class="solicitud-workflow-number {% if status in ['product.declined', 'product.approved', 'product.accepted','product.delivered'] %}workflow-active{% endif %}">3</div>
        <div class="solicitud-workflow-text">Aceptación proveedor y ejecución</div>
    </div>
    </div>
    
    <div class="solicitud-workflow-step solicitud-workflow-step-4" {% if is_popover is not defined %}data-tooltip="Consiste en: Confirmar la recepción del producto o servicio que entrega el proveedor y evaluar la calidad, nivel de servicio y puntualidad."{% endif %} data-tooltip-position="bottom">
    <div class="solicitud-workflow-content">
        <div class="solicitud-workflow-number {% if status in [ 'product.confirmed', 'product.reviewed', 'product.evaluated', 'product.returned', 'product.completed'] %}workflow-active{% endif %}">4</div>
        <div class="solicitud-workflow-text">Recepción y evaluación proveedor</div>
    </div>
    </div>
    
    <div class="clear"></div>
</div>

{% endif %}