{% extends 'layout.twig' %}
{% form_theme form 'form_theme.twig' %}

{% block main_content %}
    <!--script src="http://cdn.datatables.net/plug-ins/1.10.9/sorting/datetime-moment.js"></script-->
    <style type="text/css">
        label.control-label.required:after {
            content: "\00a0*";
            color: #D42124;
            font-size: 16px;
            position: absolute;
            text-align: right;
        }

        .ajax-file-upload {
            border-radius: 0;
            font-weight: normal;
            font-size: inherit;
            cursor: pointer;
        }

        .ajax-file-upload-statusbar {
            border: none;
            margin: 0;
            padding: 0;
        }

        .ajax-file-upload-container {
            margin: 0;
        }

        .ajax-file-upload-progress {
            margin: 0;
            border: none;
            padding: 0;
        }

        .ajax-file-upload-filename {
            width: auto;
        }

        .ajax-file-upload-red {
            box-shadow: none;
            -webkit-box-shadow: none;
            border: none;
            border-radius: 0;
            text-shadow: none;
            margin: -3px 10px 5px 5px;
        }

        .ajax-file-upload-bar {
            border-radius: 0;
        }

        .label {
            text-transform: none;
        }

        .col-sm-10 label {
            font-weight: normal;
        }

        .form-group.cond {
            margin-bottom: 0;
        }
        .contract_importer-info, .requisition_importer-info{
            display: none;
        }
        .actions {
            margin-left: 5px;
            float: left;
        }
        .actions:hover, .actions:active, .actions:focus{
            padding:3px 6px !important;
        }
        .dt-center {text-align: center;}
        .progress { margin-bottom: 0}
    </style>

    <div class="row">
        <div class="col-md-6">
            <h1>Importador</h1>

            <div style="padding-top:30px">
                {{ form(form) }}

                <div class="form-group row">
                    <label for="file" class="col-md-2 control-label required" style="text-align: right">Archivo</label>
                    <div class="col-sm-10">
                        <div id="file"></div>
                    </div>
                </div>

                <div class="pull-right">
                    <button id="load-file" class="btn btn-warning" style="display:none">Cargar archivo</button>
                </div>
            </div>
        </div>

        <div class="col-md-6 bg-warning" style="margin-top:20px">
            <h3>Recuerde</h3>
            <ul>
                <li class="contract_importer-info dinamic-info">
                    <p>
                        Al cargar un catálogo recuerda cargar <strong>antes</strong> los proveedores, productos e imágenes si no existen en la base de datos.
                        Además recomendamos utilizar el validador de catálogo antes de importar.
                    </p>
                </li>
                <li><p>El archivo debe tener la extensión xlsx.</p></li>
                <li><p>El tamaño máximo del archivo es de 20Mb.</p></li>
                <li><p>Mientras más trabajos haya en cola más tiempo tardarán en aparecer los últimos datos cargados.</p></li>
                <li class="contract_importer-info dinamic-info">
                    Tus archivos deben cumplir con el siguiente formato:
                    <a href="{{ asset('assets/static/FORMATO_IMPORTADOR_CATALOGO.xlsx') }}">Descargar</a>
                </li>
                <li class="requisition_importer-info dinamic-info">
                    Tus archivos deben cumplir con el siguiente formato:
                    <a href="{{ asset('assets/static/FORMATO_IMPORTADOR_PEDIDOS.xlsx') }}">Descargar</a>
                </li>
                <li class="employee_importer-info dinamic-info">
                    Tus archivos deben cumplir con el siguiente formato:
                    <a href="{{ asset('assets/static/FORMATO_IMPORTADOR_FUNCIONARIOS.xlsx') }}">Descargar</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <h2>En proceso</h2>

            <table id="jobs-queue"
                   class="table table-striped table-condensed compact"
                   data-page-length="10"
                   data-order="[[3, &quot;desc&quot;]]"
                   data-searching="0"
                   data-ajax="{{ path('importer_jobs') }}">
                <thead>
                <th>Id</th>
                <th style="width:40%!important">Archivo</th>
                <th>Cola</th>
                <th>Inicio</th>
                <th class="dt-center">Progreso</th>
                <th>Estado</th>
                <th style="width: 115px"></th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <h2>Histórico</h2>

            <table id="jobs-history"
                   class="table table-striped table-condensed compact jquery-datatable"
                   data-page-length="10"
                   data-order="[[3, &quot;desc&quot;]]"
                   data-searching="1"
                   data-ajax="{{ path('importer_history') }}">
                <thead>
                <th>Id</th>
                <th style="width:40%!important">Archivo</th>
                <th>Cola</th>
                <th>Inicio</th>
                <th>Progreso</th>
                <th>Estado final</th>
                <th></th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        $(function () {
            var importerType = $('#importer_type');
            importerType.change(function (event) {
                $('.dinamic-info').hide();
                $('.'+$(this).val()+'-info').show();
            });

            var renderProgressBar = function (color, data, state) {
                var active = !['job.completed', 'job.cancelled','job.stopped','job.failed'].includes(state);

                return '<div class="progress">'+
                    '<div class="progress-bar '+(active?'active progress-bar-striped':'')+' progress-bar-'+color+'" role="progressbar" aria-valuenow="'+data+'" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:'+(data ? data : 100)+'%;">' +
                    (data ? data + '%' : '') +
                    '</div>'+
                    '</div>';
            };

            var dataTableConf = {
                language: {
                    search: 'Buscar',
                    emptyTable: 'No hay trabajos en cola',
                    loadingRecords: 'Cargando trabajos...',
                    zeroRecords: 'No hay trabajos que coincidan con la busqueda',
                    paginate: {
                        previous: 'Anterior',
                        next: 'Siguiente'
                    }
                },
                columnDefs: [
                    { className: 'dt-center', targets: 4 },
                    { className: 'dt-left', targets: 5 },
                    {
                        'targets': 3,
                        'createdCell':  function (td, cellData, rowData, row, col) {
                            $(td).attr('data-order', (new Date(rowData.createdAt)).getTime());
                        }
                    }
                ],
                columns: [
                    {
                        data: 'id',
                        render: function (data) {
                            return '<span style="font-family:monospace">'+data.substr(0, 5)+'</span>';
                        }
                    },
                    {
                        data: 'payload.original',
                        render: function (data, type, row) {
                            return '<a href="/importador/descargar-archivo/'+row.id+'">'+data+'</a>';
                        }
                    },
                    {
                        data: 'queue',
                        align: 'right',
                        render: function (data) {
                            var labels = {
                                'contract_validator': 'Validador de catálogo',
                                'contract_importer': 'Importador de catálogo',
                                'requisition_importer': 'Importador de pedidos',
                                'employee_importer': 'Importador de funcionarios',
                                'pep_importer': 'Importador de PEPs',
                                'supplier_importer': 'Importador de proveedores',
                                'product_importer': 'Importador de productos',
                                'product_images_importer': 'Importador de imágenes de productos'
                            };

                            return labels[data];
                        }
                    },
                    {
                        data: 'createdAt',
                        render: function (data) {
                            return new Date(data).toLocaleString('en-GB');
                        }
                    },
                    {
                        data: 'processed',
                        render: function (data, type, row) {
                            var progress = function (a, b) {
                                if (0 === a || 0 === b) return 0;
                                return Math.ceil(100*(a / b));
                            };

                            data = progress(row.processed, row.size);

                            var o = {
                                'job.queued': ['warning', null],
                                'job.running': ['primary', data],
                                'job.completed': ['success', data],
                                'job.cancelled': ['danger', data],
                                'job.stopped': ['warning', data],
                                'job.failed': ['danger', data],
                                'job.retry': ['waring', data],
                                'job.preparing': ['success',null],
                                'job.loading': ['success', null],
                                'job.validating': ['success', null]
                            };

                            return renderProgressBar(o[row.state][0], o[row.state][1], row.state);
                        }
                    },
                    {
                        data: 'state',
                        render: function (data, type, row) {
                            var o = {
                                'job.queued': ['label-warning', 'En cola'],
                                'job.running': ['label-primary', 'Cargando ('+ row.processed +'/'+ row.size +')'],
                                'job.completed': ['label-success', 'Completado ('+ row.processed +'/'+ row.size +')'],
                                'job.cancelled': ['label-danger', 'Cancelado'],
                                'job.stopped': ['label-warning', 'Pausado'],
                                'job.failed': ['label-danger', 'Error'],
                                'job.retry': ['label-warning', 'Reintentando'],
                                'job.preparing': ['label-success', 'Preparando'],
                                'job.loading': ['label-success', 'Cargando'],
                                'job.validating': ['label-success', 'Validando']
                            };

                            return '<span class="label '+o[data][0]+' '+data.replace(/\./g, '-')+'">'+o[data][1]+'</span>';
                        }
                    },
                    {
                        render: function (data, type, row) {
                            var actions = '<a href="/importador/trabajos/'+row.id+'" class="btn btn-xs btn-warning actions">Detalle</a>';
                            if(row.queue === 'contract_importer') {
                                if (row.state !== 'job.completed' && row.state !== 'job.cancelled') {
                                    actions += '<a href="/importador/cancelar-trabajo/' + row.id + '" class="btn btn-xs btn-danger actions actions-do"><span class="glyphicon glyphicon-stop" aria-hidden="true" data-toggle="tooltip" title="Cancelar"></span></a>'
                                }
                                if (row.state === 'job.running') {
                                    actions += '<a href="/importador/detener-trabajo/' + row.id + '" class="btn btn-xs btn-warning actions actions-do"><span class="glyphicon glyphicon-pause" aria-hidden="true" data-toggle="tooltip" title="Pausar"></span></a>'
                                }
                                if (row.state === 'job.stopped') {
                                    actions += '<a href="/importador/reiniciar-trabajo/' + row.id + '" class="btn btn-xs btn-primary actions actions-do"><span class="glyphicon glyphicon-play" aria-hidden="true" data-toggle="tooltip" title="Reanudar"></span></a>'
                                }
                            }
                            return actions;
                        }
                    }
                ]
            };

            var historyTable = $('#jobs-history').DataTable($.extend(true, {}, dataTableConf, {
                language: {
                    emptyTable: 'No hay trabajos finalizados'
                }
            }));
            //$.fn.dataTable.moment( 'DD-MM-YYYY HH:mm:ss' );

            var jobQueueTable = $('#jobs-queue');
            var dataTable = jobQueueTable.DataTable(dataTableConf);

            var reloadTablesInterval;

            function reloadTables() {
                reloadTablesInterval = setInterval(function () {
                    dataTable.ajax.reload(null, false);
                    historyTable.ajax.reload(null, false);
                }, 3000);
            }

            reloadTables();

            jobQueueTable.on("click",".actions-do", function(){
                event.preventDefault();
                clearInterval(reloadTablesInterval);
                $(this).attr('disabled',true);
                $.get($(this).attr('href')).done(function(){
                    reloadTables();
                });
            });


            $('#load-file')
                .on('click', function () {
                    var obj = $(this);
                    var form = $('form[name=importer]');
                    obj.attr('disabled',true).text('Cargando...');
                    $.post(form.attr('action'), form.serialize()).done(function (response) {
                        uploader.reset();
                        obj.hide().attr('disabled',false).text('Cargar archivo');
                    });
                })
            ;

            var uploader = $('#file').uploadFile({
                url: "{{ path('importer_upload') }}",
                multiple: false,
                dragDrop: false,
                maxFileCount: 1,
                fileName: 'file',
                uploadStr: 'Subir archivo',
                abortStr: 'Cancelar',
                cancelStr: 'Cancelar',
                maxFileSize: 20971520,
                sizeErrorStr: 'excede el máximo permitido ',
                maxFileCountErrorStr: ' no se cargó. Máx. ',
                allowedTypes:"xlsx",
                extErrorStr: 'no es un archivo permitido, extensiones permitidas: ',
                showProgress: true,
                showDelete: true,
                deletelStr: 'Eliminar',
                customProgressBar: function(obj,s)
                {
                    this.statusbar = $("<div class='ajax-file-upload-statusbar'></div>");
                    this.filename = $("<div class='ajax-file-upload-filename'></div>").appendTo(this.statusbar);
                    this.progressDiv = $("<div class='ajax-file-upload-progress'>").appendTo(this.statusbar).hide();
                    this.progressbar = $("<div class='ajax-file-upload-bar'></div>").appendTo(this.progressDiv);
                    this.abort = $("<div>" + s.abortStr + "</div>").appendTo(this.statusbar).hide();
                    this.cancel = $("<div>" + s.cancelStr + "</div>").appendTo(this.statusbar).hide();
                    this.done = $("<div>" + s.doneStr + "</div>").appendTo(this.statusbar).hide();
                    this.del = $("<div>" + s.deletelStr + "</div>").appendTo(this.statusbar).hide();

                    this.done.addClass("ajax-file-upload-green");
                    this.abort.addClass("ajax-file-upload-red");
                    this.del.addClass("ajax-file-upload-red");

                    return this;
                },
                onSuccess: function (files, data) {
                    $('#importer_file').val(data.file);
                    $('#importer_original').val(data.original);
                    $('#load-file').show();
                }
            });
        });
    </script>
{% endblock %}