{% extends 'layout.twig' %}

{% block main_content %}
    <style>
        table tbody tr th { width: 20% }
    </style>

    <div id="job-detail">
        <h1>Trabajo {{ job.id }}</h1>

        <div class="row" style="margin-top:30px">
            <div class="col-md-12">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>ID</th>
                        <td>{{ job.id }}</td>
                    </tr>
                    <tr>
                        <th>Cola</th>
                        <td id="worker-name" data-original-name="{{ job.queue }}">{{ job.queue|trans }}</td>
                    </tr>
                    <tr>
                        <th>Archivo</th>
                        <td><a href="{{ path('importer_download', { id: job.id }) }}">{{ job.payload.original }}</a></td>
                    </tr>
                    <tr>
                        <th>Estado</th>
                        <td><span id="job-state" class="label label-primary">{{ job.state|trans }}</span></td>
                    </tr>
                    <tr>
                        <th>Ingresado a la cola</th>
                        <td>{{ job.createdAt|date('d-m-Y H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>Iniciado</th>
                        <td>{% if job.state != 'job.queued' %}{{ job.startedAt|date('d-m-Y H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Progreso</th>
                        <td>
                            <div class="progress" style="margin-bottom:0;width:80%; display:inline-block">
                                {% if job.processed > 0 %}
                                    {% set progress = job.processed/job.size*100 %}
                                {% else %}
                                    {% set progress = 0 %}
                                {% endif %}
                                <div id="job-processed" class="progress-bar {% if progress < 100 %}progress-bar-striped active{% endif %}" style="min-width:2em;width: {{ progress }}%">
                                    {{ progress|round }}%
                                </div>
                            </div>
                            <span id="job-rate" class="pull-right"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Reporte</th>
                        <td>
                            <table id="job-report" class="table table-condensed">
                                <thead>
                                <th>Fila</th>
                                <th>Datos</th>
                                <th>Acción</th>
                                <th>Errores</th>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        $(function () {

            var labelState = {
                'job.queued': ['warning', 'En cola'],
                'job.running': ['primary', 'En Ejecución'],
                'job.completed': ['success', 'Completado'],
                'job.cancelled': ['success', 'Cancelado'],
                'job.stopped': ['warning', 'Pausado'],
                'job.failed': ['danger', 'Error'],
                'job.retry': ['waring', 'Reintentando'],
                'job.preparing': ['success', 'Preparando'],
                'job.loading': ['success', 'Cargando'],
                'job.validating': ['success', 'Validando']
            }

            var workerName = $('#worker-name');
            var stateSlot = $('#job-state');
            var elapsedSlot = $('#job-elapsed-time');
            var processedSlot = $('#job-processed');
            var jobRate = $('#job-rate');
            var size = {{ job.size }};

            var statusLabels = {
                'validated': 'Validado',
                'skipped':'Saltado',
                'update':'Actualizado',
                'create':'Creado'
            }

            var dataTable = $('#job-report').DataTable({
                language: {
                    search: 'Buscar',
                    zeroRecords: 'No hay registros que coincidan con la busqueda',
                    emptyTable: function() {
                        if(workerName.attr('data-original-name') === 'contract_validator' && stateSlot.text() === 'Completado') {
                            return '<div class="alert alert-success">No se han encontrado errores en el archivo.</div>'
                        }
                        else {
                            return 'El reporte esta vacío.'
                        }
                    },
                    loadingRecords: 'Cargando...',
                    paginate: {
                        previous: 'Anterior',
                        next: 'Siguiente'
                    }
                },
                ajax: "{{ path('importer_job_report', { id: job.id }) }}",
                columns: [
                    { data: 'lineno' },
                    {
                        data: 'data',
                        render: function(data){return arrayToList(data)}
                    },
                    {
                        data: 'action',
                        render: function (data) {
                            return statusLabels[data];
                        }                    }
                    ,
                    {
                        data: 'errors',
                        render: function(data){return arrayToList(data)}
                    }
                ],
                deferLoading: 20,
                pageLength: 10
            });

            var progress = 0;
            function updateJob() {
                $.get("{{ path('importer_job', { id: job.id }) }}").done(function (response) {
                    var job = response.data || 0;
                    size = job.size;
                    progress = Math.ceil(100*(job.processed/size)) || 0;
                    var started = moment(new Date(job.started_at*1000)).unix();
                    var now = moment(new Date).unix();
                    var elapsed = moment.utc(moment.duration((now-started)*1000).asMilliseconds()).format('HH:mm:ss');
                    if(progress === 100) {
                        processedSlot.removeClass('progress-bar-striped active');
                        clearInterval(updateJobTimer);
                        clearInterval(updateTableTimer);
                    }
                    stateSlot.html(labelState[job.state][1]).addClass('label-'+labelState[job.state][0]);
                    elapsedSlot.html(elapsed);
                    processedSlot.css('width', progress+'%').html(progress+'%').addClass(labelState[job.state][0]);
                    jobRate.html('('+job.processed+'/'+size+')');
                }).fail(function (x){
                    console.log(x);
                });
            }

            {% if job.state not in ['job.completed', 'job.failed'] %}
            var flag = true;
            var updateJobTimer = setInterval(updateJob, 3000);
            var updateTableTimer = setInterval(function () {
                if (flag) {
                    flag = false;
                    dataTable.ajax.reload(function () {
                        flag = true;
                    }, false);
                }
            }, 3000);
            {% endif %}
        });

        function arrayToList(data) {
            var html = '<ul>'
            $.each(data, function(index,value){
                html += "<li>"+value+"</li>"
            });
            html += "</ul>"
            return html;
        }
    </script>
{% endblock %}
