{% set max_images = 1 %}
{% for image in value|slice(0, max_images) %}
		{% set imageUrl = asset('downloads/product/' ~ image) %}
	    <a href="#" class="easyadmin-thumbnail" data-featherlight="{{ imageUrl }}">
	        <img src="{{ imageUrl }}" alt="" />
	    </a>
{% endfor %}
