{% extends 'content.twig' %}

{% set form = data %}

{% block main_content %}
<div class="row login">
    <h2 class="text-center">Cambio de contraseña</h2>

    <div class="help">
        <p>Por motivos de seguridad debe cambiar su contraseña por defecto.</p>
        <p>Una vez haya realizado el cambio será desconectado automáticamente del sistema
        y deberá volver a iniciar sesión con su contraseña nueva.</p>
    </div>

    {{ form(form) }}
</div>
{% endblock %}