{% if employee is not null %}
    {% import '_partial/macros.twig' as macros %}
    {% form_theme change_data 'bootstrap_3_horizontal_layout.html.twig' %}
    {% set data = employee.office %}

    <style>
        .collapse {
            display: none !important;
        }
        .collapse.in {
            display: block !important;
        }
        span.select2-selection__arrow{
            right:21px;
        }
    </style>

    <div id="change-data-modal" class="collapse in">
        <div class="">
            <div class="">
                {{ form_start(change_data, {
                    attr: {
                        id: 'form-change-data',
                        autocomplete: 'off'
                    },
                    action: path('employee_data_change')
                }) }}
                <div class="">
                    <h3 class="modal-title">Confirma tu dirección de despacho (debe ser una ubicación laboral) {{ macros.glyphicon('info-sign') }}</h3>
                </div>
                <div class="bordered" style="border: 1px solid #ccc; padding: 20px">
                    <div class="row">
                        <div class="col-sm-2"><strong>Nombre</strong></div>
                        <div class="col-sm-10"><p>{{ employee.fullName }}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><strong>Dirección Sucursal</strong></div>
                        <div class="col-sm-10"><p>{{ data.address|default('') }}, {{ data.city.name|default('') }}, {{ data.city.parent.name|default('') }}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><strong>Centro de costo</strong></div>
                        <div class="col-sm-10"><p>{{ data.costCenter|default('') }}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><strong>Email</strong></div>
                        <div class="col-sm-10"><p>{{ employee.user.email|default('') }}</p></div>
                    </div>
                    <div class="">
                        {{ form_row(change_data.office,{label: 'Sucursal o área', label_attr: {style: 'text-align:left'}}) }}
                        {{ form_row(change_data.deliveryAddress,{label: 'Dirección de despacho', label_attr: {style: 'text-align:left'}}) }}
                        {{ form_row(change_data.alternateAddress,{label: 'Datos adicionales de dirección (Piso/Local/Subterráneo)', label_attr: {style: 'text-align:left'}}) }}
                        <div class="form-group">
                            {{ form_label(change_data.phone,null,{label_attr:{style: 'text-align:left'}}) }}
                            <div class="col-sm-10">
                                {{ form_widget(change_data.phone) }}
                                <small>Ingrese un número de teléfono de 9 números, por ejemplo 229703945 (fijo), o 954031027 (celular).</small>
                                {{ form_errors(change_data.phone) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(change_data.secondPhone,null,{label_attr:{style: 'text-align:left'}}) }}
                            <div class="col-sm-10">
                                {{ form_widget(change_data.secondPhone) }}
                                <small>Ingrese un número de teléfono de 9 números, por ejemplo 229703945 (fijo), o 954031027 (celular).</small>
                                {{ form_errors(change_data.secondPhone) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="btn-group pull-right" style="margin-right: 16px">
                            <button id="change-data-modal-submit"
                                    type="submit"
                                    class="btn btn-warning"
                                    data-loading-text="Procesando...">Confirmar Dirección de Despacho</button>
                        </div>
                    </div>

                    {{ form_end(change_data) }}
                </div>
            </div>
        </div>
    </div>

    <div id="addressAlertInfo" class="alert alert-info hidden">
        <i class="glyphicon glyphicon-info-sign"></i> <span data-response="Se registrado como dirección de despacho {address} y télefono {phone}."></span>
        <a href="#change-data-modal" class="btn btn-info btn-xs pull-right" id="reactiveAddressData">Editar</a>
    </div>
    <script src="/bundles/beuniform/js/jquery.validate.min.js"></script>
    <script>
        $(function(){
            var validateFlag = $("#form-change-data").validate({
                rules: {
                    'change_employee_data[phone]': {
                        required: true,
                        minlength: 9,
                        maxlength: 9
                    },
                    'change_employee_data[secondPhone]': {
                        required: false,
                        minlength: 9,
                        maxlength: 9
                    }
                },
                messages: {
                    'change_employee_data[phone]': "Ingrese un numero de teléfono valido",
                    'change_employee_data[secondPhone]': "Ingrese un numero de teléfono valido"
                },
                submitHandler: function(form) {
                    actionBtn.button('loading');

                    $.ajax({
                        url: $("#form-change-data").attr('action'),
                        data: new FormData($("#form-change-data").get(0)),
                        processData: false,
                        contentType: false
                    }).done(function (data) {
                        console.log(data)
                        bootbox.alert('La dirección ha sido actualizada correctamente.<br/>' +
                            'Recuerde que debe hacer clic en el botón <b>"Confirmar su pedido"</b> para que sea procesado.', function () {
                            $('#change-data-modal').collapse('hide');
                            $('#addressAlertInfo span').text($('#addressAlertInfo span').data('response').replace('{address}',data.address).replace('{phone}',data.phone));
                            $('#addressAlertInfo').removeClass('hidden');
                        });
                    }).fail(function () {
                        bootbox.alert('Ha ocurrido un error al actualizar sus datos');
                        actionBtn.button('reset');
                    });

                    return false;
                }
            });

        });

    </script>
    <script>
        var changeOfficeSel = $('#change_employee_data_office');
        var deliveryAddress = $('#change_employee_data_deliveryAddress');

        var actionBtn = $('#change-data-modal-submit');
        function fillOfficeData(data) {
            $('#data-info').find('[data-placeholder]').each(function (i, e) {
                $(e).text(data[$(e).data('val')]);
            });
        }


        $('#change_employee_data_office').val("{{ data.id }}").change();

        changeOfficeSel.on('change', function () {
            var sel = $('option:selected', this);
            deliveryAddress.val(sel.val()).trigger('change')
            fillOfficeData(sel.data('office'));
        });

        $('#reactiveAddressData').on('click',function (e) {
            $('#addressAlertInfo').addClass('hidden');
            actionBtn.button('reset');
            $('#change-data-modal').collapse('show');
        });
    </script>
{% endif %}
