<h3>Enmascaramiento: </h3>
<p> Escriba el nombre de usuario por el que se quiere hacer pasar.: </p>

<div class="row col-condensed">
    {{ form_start(form, {
        attr: { id: 'user-impersonate' }
    }) }}
    <div class="col-md-4">{{ form_row(form.user) }}</div>
    <div class="col-md-2">
        <button class="btn btn-warning">Ir</button>
    </div>
    {{ form_end(form) }}
</div>

<script>
    $('#user_user').select2({
        theme: 'bootstrap',
        ajax: {
            url: '{{ path('find_user') }}',
            results: function (data) {
                return { results: data }
            }
        },
        placeholder: 'Escriba un nombre de usuario'
    });

    $('#user-impersonate').on('submit', function (e) {
        e.preventDefault();

        var username = $(this).find('select option:selected').text();

        if (!username) {
            return;
        }

        window.location.href = '?_switch_user='+username;
    });
</script>