{% if employee is not null %}
    {% form_theme change_office 'bootstrap_3_horizontal_layout.html.twig' %}
    {% set office = employee.office %}

    <table class="table table-borderless">
        <tbody>
        <tr>
            <td colspan="2"><span><strong>Bienvenida(o):</strong> {{ employee.fullName }}</span></td>
            <td><span><strong>Tu área de trabajo es:</strong> {{ office.name|default('') }}</span></td>
        </tr>
        <tr>
            <td><span><strong>Dirección: </strong> {{ office.address|default('') }}, {{ office.city.name|default('') }}, {{ office.city.parent.name|default('') }}</span></td>
            <td><span><strong>Centro de costo: </strong> {{ office.costCenter|default('') }} </span></td>
            <td><span><strong>Sucursal: </strong> {{ office.name|default('') }} </span></td>
        </tr>
        <tr>
            <td colspan="3">
                <h5 style="display: inline-block;font-weight:bold;">¿Te Cambiaste de sucursal?, Actualiza tus datos.</h5>
                <button class="btn btn-sm btn-warning pull-right"
                        data-toggle="modal"
                        data-target="#change-office-modal">Cambiar datos</button>
            </td>
        </tr>
        </tbody>
    </table>

    <div id="change-office-modal" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                {{ form_start(change_office, {
                    attr: {
                        id: 'form-change-office',
                        autocomplete: 'off'
                    },
                    action: path('employee_office_change')
                }) }}
                <div class="modal-header">
                    <h4 class="modal-title">Actualizar datos de área de trabajo</h4>
                </div>

                <div class="modal-body">
                    {{ form_row(change_office.office) }}
                    <div style="display: none">
                        {{ form_row(change_office.phone) }}
                    </div>

                    <div id="office-info" style="margin-top:40px">
                        <h4>Datos sucursal/área central</h4>
                        <table class="table table-condensed">
                            <tbody>
                            <tr>
                                <th><strong>Dirección:</strong></th>
                                <td><span data-placeholder data-val="address"></span></td>
                            </tr>
                            <tr>
                                <th><strong>Comuna:</strong></th>
                                <td><span data-placeholder data-val="city"></span>, <span data-placeholder data-val="region"></span></td>
                            </tr>
                            <tr>
                                <th><strong>Centro de costo:</strong></th>
                                <td><span data-placeholder data-val="cost_center"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button data-dismiss="modal"
                            class="btn btn-warning">Cancelar</button>

                    <button id="change-office-modal-submit"
                            type="submit"
                            class="btn btn-warning"
                            data-loading-text="Procesando...">Actualizar</button>
                </div>
                {{ form_end(change_office) }}
            </div>
        </div>
    </div>

    <script>
        var changeOfficeSel = $('#change_office_office');
        var actionBtn = $('#change-office-modal-submit');

        function fillOfficeData(data) {
            $('#office-info').find('[data-placeholder]').each(function (i, e) {
                $(e).text(data[$(e).data('val')]);
            });
        }

        fillOfficeData(changeOfficeSel.find('option:selected').data('office'));

        changeOfficeSel.on('change', function () {
            fillOfficeData($('option:selected', this).data('office'));
        });

        $('#form-change-office').on('submit', function (e) {
            e.preventDefault();
            actionBtn.button('loading');

            $.ajax({
                url: $(this).attr('action'),
                data: new FormData($(this).get(0)),
                processData: false,
                contentType: false
            }).done(function () {
                $('#change-office-modal').modal('hide');
                bootbox.alert('Los datos de su área de trabajo han sido actualizados correctamente', function () {
                    window.location.reload();
                });
            }).fail(function () {
                bootbox.alert('Ha ocurrido un error al actualizar sus datos');
                actionBtn.button('reset');
            });

            return false;
        });
    </script>
{% endif %}
