<ul class="list-group">
    {% for value in data %}
        {% if value != null %}
            <li class="list-group-item list-group-item-danger">
                {% if error_title is defined %}
                    <p> <strong> {{ error_title }} </strong> </p>
                {% endif %}
                <ul class="list-group">
                    <li class="list-group-item"> {{ value.error }} </li>
                </ul>
            </li>
        {% endif %}
    {% endfor %}
</ul>
