{% extends 'layout.twig' %}

{% block main_content %}
    <div class="container">
        <div class="row">
                <h1 class="title">{{ title }}</h1>
                <div id="singleupload"> Subir </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div id="import_notifications"> </div> 
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $("#singleupload").uploadFile({
                url: "{{ path(route_submit) }}",
                multiple: false,
                dragDrop: false,
                maxFileCount: 1,
                fileName: "excel",
                uploadStr:"Subir Archivo",
                abortStr:"Cancelar",
                showProgress: true,
                returnType: 'html',
                acceptFiles:"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, application/vnd.ms-excel",
                allowedTypes:"xls, xlsx",
                onSuccess:function(files,data,xhr,pd)
                {
                    $('#import_notifications').append(data);
                }
            });
        });
    </script>
{% endblock %}
