{% block delete_button_block %}
<button
    data-action="{{ path('notification_delete', { id: notification.id }) }}" 
    data-redirect="{{ path('notifications') }}" 
    class="btn btn-danger btn-sm btn-delete-msg">Eliminar mensaje</button>
{% endblock %}

{% block delete_action_block %}
<script>
    $('.btn-delete-msg').on('click', function() {
        var action = $(this).data('action');
        var redirect = $(this).data('redirect');

        bootbox.confirm('¿Confirma que desea eliminar este mensaje?', function (result) {
            if (!result) {
                return;
            }
            
            $.post(action, {}, null, 'text').done(function () {
                window.location.replace(redirect);
            }).fail(function (error) {
                bootbox.alert('Ha ocurrido un error al eliminar el mensaje.');
            })
        });
    });
</script>
{% endblock %}