<div class="row meta-block">     
    <h3>Apelación</h3>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th><strong>Argumentación</strong></th>
                <td>{{ metadata.appeal.comment }}</td>
            </tr>
            <tr>
                <th><strong>Archivos adjuntos</strong></th>
                <td>
                    {% for name, path in metadata.appeal.files %}
                    <p>
                       <span class="glyphicon glyphicon-file" aria-hidden="true"></span> 
                       <a href="{{ asset('download/' ~ path) }}">{{ name}}</a>
                    </p>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
</div>