{% if metadata.confirmation is defined %}

{% set confirmation = metadata.confirmation %}

{% set transition = requisition.getTransition('product.confirmed') %}

{% if not transition %}
    {% set transition = requisition.getTransition('product.reviewed') %}
{% endif %}

<div class="row meta-block">
    <h3>Certificación de trabajo</h3>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th><strong>Fecha de registro</strong></th>
                <td>{{ transition.datetime|default('now')|date('d/m/Y H:i') }}</td>
            </tr>
            <tr>
                <th><strong>Fecha de certificación proveedor</strong></th>
                <td>{{ confirmation.delivered_at|default('now')|date('d/m/Y H:i') }}</td>
            </tr>
            {% if confirmation.files|length %}
                <tr>
                    <th>
                        <strong>Documentos y/o comentarios</strong>
                    </th>
                    <td>
                        <table class="table table-condensed table-striped">
                        {% for file in confirmation.files %}
                            <tr>
                                <td>{{ file.description }}</td>
                                <td>
                                {% if file['file'] is defined %}
                                    {% for name, path in file.file %}
                                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                                        <a href="{{ asset('download/' ~ path) }}">{{ name }}</a>
                                    {% endfor %}
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </table>
                    </td>
                </tr>
            {% endif %}

            {% if metadata['more_info'] is defined and metadata['more_info']|length %}
            <tr>
                <th><strong>Información adicional</strong></th>
                <td>
                    <table class="table table-condensed table-striped">
                        <thead>
                            <th class="table-col-stretch">Fecha/Hora</th>
                            <th>Comentario de evaluador</th>
                            <th>Respuesta de proveedor</th>
                        </thead>
                        <tbody>
                        {% for info in metadata.more_info %}
                            <tr>
                                <td style="white-space: nowrap">{{ info.timestamp|date('d/m/Y H:i:s') }}</td>
                                <td>{{ info.comments }}</td>
                                <td>{{ info.response|default('') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endif %}
