{% if requisition.status == 'product.closed' and is_granted(['ROLE_SUPPLIER', 'ROLE_APPROVER']) %}
    <div id="declined-meta" class="row meta-block">     
    {% for meta in metadata.decline %}
        <h3>Rechazo de solicitud (proveedor {{ loop.index }})</h3>
        <table class="table table-striped">
            <tbody>
                {% if meta.reason is defined %}
                    <tr>
                        <th><strong>Motivo</strong></th>
                        <td>{{ meta.reason|trans }}</td>
                    </tr>
                {% endif %}

                <tr>
                    <th><strong>Argumentación</strong></th>
                    <td>{{ meta.comment }}</td>
                </tr>
            </tbody>
        </table>
        <br />
    {% endfor %}
</div>
{% endif %}
