{% if is_granted(['ROLE_SUPPLIER', 'ROLE_APPROVER']) and metadata['purchase_order'] is defined %}
    <div class="row meta-block">
        <h3>Documento de Orden de Compra</h3>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th><strong>Documento</strong></th>
                    <td>
                        {% for filename, path in metadata.purchase_order.files %}
                            <a href="{{ asset('download/' ~ path) }}">{{ filename }}</a>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endif %}

