<div class="row meta-block">     
    <h3>Recepción conforme de respuesta</h3>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th><strong>Motivo</strong></th>
                <td>{{ metadata.response.evaluation|trans }}</td>
            </tr>
            <tr>
                <th><strong>Argumentación</strong></th>
                <td>{{ metadata.response.comment|default('---') }}</td>
            </tr>
        </tbody>
    </table>
</div>