{% if requisition.status == 'product.timeout' %}
<div data-metablock="timeout">
    <div class="row meta-block">
        <h3>Cerrada por el sistema</h3>

        <table class="table table-striped">
            <tbody>
            <tr>
                <th><strong>Fecha de registro</strong></th>
                <td>{{ requisition.closedAt|date('d/m/Y H:i') }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endif %}
