{% extends 'layout.twig' %}

{% block product_card %}
    <article class="col-md-4 product-list-container">
        {% set options = {
            slug: category.slug,
            code: product.code
        } %}

        <span class="product-name" style="height:4.2em">{{ product.name }}<br>({{ product.code }})</span>

        <div class="productos-img">
            {% set imagePath = product.images|length ? product.images[0]|imagine_filter('products_catalog_item') : '' %}
            <a href="{{ path('requisitions_request', options) }}">
                <div style="width:200px!important;height:150px!important;margin:0 auto;background:url('{{ imagePath }}') no-repeat center;"></div>
            </a>
        </div>

        <a href="{{ path('requisitions_request', options) }}" class="btn btn-warning product-button">
            Ver Ficha
        </a>
    </article>
{% endblock product_card %}

{% block special_request %}
    {% set blocks = get_special_office_config('blocks') %}
    {% set block_name = 'special_request' %}

    {% if block_name in blocks %}
        <div style="border:1px solid #ddd;padding: 5px">
            <p>
                <span style="display:inline-block;padding-top: 4px">¿Necesita algo que no está en el catálogo?</span>
                <a href="{{ path('solicitudes_especiales') }}" class="btn btn-warning pull-right">Hacer pedido especial</a>
            </p>
        </div>
    {% endif %}
{% endblock special_request %}

{% block main_content %}
	<div class="row">
		{% include 'requisition/product/_sidebar.twig' %}

		<div class="col-md-9 col-md-9-responsive">
			<section class="clearfix">
                {% for row in products|batch(3) %}
                    <div class="row">
                        {% for product in row %}
                            {{ block('product_card') }}
                        {% endfor %}
                    </div>
                {% endfor %}
			</section>

			{{ knp_pagination_render(products) }}

            {{ block('special_request') }}
		</div>
	</div>
{% endblock main_content %}
