{% extends 'layout.twig' %}
{% import '_partial/macros.twig' as macros %}

{% set product = requisition.product %}
{% set category = product.category %}
{% set contract = requisition.contract %}
{% set is_centralized = contract.centralized %}
{% set supplier = contract.supplier %}
{% set employee = requisition.requester.employee %}
{% set office = employee.office %}
{% set is_approver = is_granted('ROLE_APPROVER') %}
{% set is_supplier = is_granted('ROLE_SUPPLIER') %}
{% set is_requester = is_granted('ROLE_REQUESTER') %}
{% set metadata = requisition.metadata %}
{% set status = requisition.status %}
{% set type = requisition.type %}
{% set rating = rating_calculator.getAverage(supplier.rating) %}
{% set requester = requisition.requester %}
{% set in_progress = requisition.inProgress() %}
{% set timestamps = requisition.metadata.timestamps ?? [] %}
{% set is_oc = (is_supplier and status in ['product.accepted', 'product.delivered', 'product.returned']) or (is_granted(['ROLE_REQUESTER', 'ROLE_APPROVER']) and app.request.get('_route') == 'requisition_work_order') %}
{% set is_uniform = requisition.type in ['requisition.uniform'] %}
{% set has_rate = ['GO-01'] %}

{% block contract_detail %}
    <div class="row contract-detail">
        <table class="table table-striped tabla-ranking">
            <thead>
            <tr>
                <th class="supplier-ranking">Ranking</th>
                {% if not is_uniform %}
                    <th>Fecha de respuesta</th>
                    <th>Fecha de Entrega</th>
                {% endif %}
                {% if not is_centralized or is_granted(['ROLE_SUPPLIER', 'ROLE_APPROVER']) %}
                    <th>Precio</th>
                {% endif %}
                <th>Centro de costo</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ macros.star_rating(rating['total']) }}</td>
                {% if not is_uniform %}
                    <td>{{ requisition_timer(requisition, 'response') }}</td>
                    <td>{{ in_progress ? requisition_timer(requisition, 'completion') : '-' }}</td>
                {% endif %}

                {% if not is_centralized or is_granted(['ROLE_SUPPLIER', 'ROLE_APPROVER']) %}
                    {% if requisition.type == 'requisition.self_management' %}
                        <td>{{ 'according_to_rate'|trans }}</td>
                    {% else %}
                        {% set total = requisition.quantity * contract.price.value %}
                        <td>{{ contract.price.currency|trans }} {{ total|number_format(0, ',', '.') }}</td>
                    {% endif %}
                {% endif %}

                <td>{{ contract.costCenter }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block products_details %}
    {% if metadata.details.caracteristicas is defined %}
        <h3 style="margin-bottom:20px">Detalle de productos</h3>

        {% if not is_oc %}
            <strong>Detalle de items:</strong>
        {% endif %}
        <table class="table table-condensed">
            <thead>
            <tr>
                <th style="text-align:center">Cantidad</th>
                {% if not is_granted('ROLE_SUPPLIER') %}
                    <th>Código(s) de inventario</th>
                {% endif %}
                <th>Color</th>
                {% if metadata.details.caracteristicas[0].modelo is defined %}
                    <th>Modelo</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for item in metadata.details.caracteristicas %}
                {% set ics %}
                    {% for ic in item.codigo_inventario %}
                        <span class="label label-success">{{ ic }}</span>
                    {% endfor %}
                {% endset %}
                <tr>
                    <td style="text-align:center">{{ item.cantidad }}</td>
                    {% if not is_granted('ROLE_SUPPLIER') %}
                        <td>{{ ics }}</td>
                    {% endif %}
                    <td>{{ item.color|trans }}</td>
                    {% if item.modelo is defined %}
                        <td>{{ item.modelo|trans }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% if not is_oc %}
            <p><strong>Cantidad:</strong> {{ metadata.details.cantidad|default(requisition.quantity) }}</p>

            {% if not is_granted('ROLE_SUPPLIER') %}
                {% if metadata['inventory_code'] is defined and metadata['inventory_code']|length %}
                    {% set ics %}
                        {% for ic in metadata['inventory_code'] %}
                            <span class="label label-success">{{ ic }}</span>
                        {% endfor %}
                    {% endset %}

                    <p><strong>Código(s) de inventario:</strong> {{ ics }}</p>
                {% endif %}

                {% if metadata.details.codigo_inventario is defined %}
                    {% set ics %}
                        {% for ic in metadata.details.codigo_inventario %}
                            <span class="label label-success">{{ ic }}</span>
                        {% endfor %}
                    {% endset %}

                    <p><strong>Código(s) de inventario:</strong> {{ ics }}</p>
                {% endif %}

            {% endif %}

        {% endif %}
    {% endif %}
{% endblock %}

{% block supplier_info %}
    <div class="row supplier-detail">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Razón Social</th>
                <td>{{ supplier.name }}</td>
            </tr>
            <tr>
                <th>Dirección</th>
                <td>{{ supplier.street }}</td>
            </tr>
            <tr>
                <th>Ranking</th>
                <td>
                    Puntualidad: <span class="badge">{{ rating['punctuality'] }}</span>
                    Calidad: <span class="badge">{{ rating['quality'] }}</span>
                    Nivel de Servicio: <span class="badge">{{ rating['service_level'] }}</span>
                </td>
            </tr>
            <tr>
                <th>Sitio Web</th>
                <td><a href="http://{{ supplier.website }}">{{ supplier.website }}</a></td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ supplier.excerpt }}</td>
            </tr>
            <tr>
                <th>Correo electrónico</th>
                <td>{{ supplier.email }}</td>
            </tr>
            <tr>
                <th>Teléfono</th>
                <td>{{ supplier.phone }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block self_management_detail %}
    {{ block('product_detail') }}
{% endblock %}

{% block uniform_detail %}
    {{ block('product_detail') }}
{% endblock %}

{% block size_detail %}
    <div class="row supplier-detail">
        <h3>Detalle tallas</h3>
        <div class="work-party col-md-6">
            <table class="table table-borderless">
                {% for key,value in metadata.details if key != 'comentarios'%}
                    <tr><td><strong>{{ key|trans}}: </strong></td><td>{{ value }}</td></tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block product_detail %}
    <h4>Datos de Contacto</h4>

    {% if requisition.metadata['delivery_address_2']|default(false) %}
        {% set requisitionAddress = requisition.metadata['delivery_address_2'] %}

        <p><strong>Sucursal:</strong> {{ requisitionAddress.office.name }}</p>
        <p><strong>Código sucursal:</strong> {{ requisitionAddress.office.code }}</p>
        <p><strong>Centro de costo sucursal:</strong> {{ requisitionAddress.office.costCenter }}</p>
        <p><strong>Dirección:</strong> {{ requisitionAddress.office.address }}</p>
        {% if requisitionAddress.detail is not null %}
            <p><strong>Dirección confirmada: </strong>{{ requisitionAddress.detail }}</p>
        {% endif %}
        <p><strong>Comuna:</strong> {{ requisitionAddress.office.city.name|default('-') }}, {{ requisitionAddress.office.city.parent.name|default('-') }}</p>

        <p><strong>Nombre:</strong> {{ employee.fullName|default('-') }}</p>
        <p><strong>Rut:</strong> {{ employee.rut }}</p>
        <p><strong>Teléfono:</strong> {{ requisitionAddress.phone1 }}</p>

        {% if requisitionAddress.phone2 is not null %}
            <p><strong>Teléfono secundario:</strong> {{ requisitionAddress.phone2 }}</p>
        {% endif %}
        <p><strong>Correo electrónico:</strong> {{ user.email }}</p>
    {% else %}
        {% if office is not null %}
            <p><strong>Sucursal:</strong> {{ office.name }}</p>
            <p><strong>Código sucursal:</strong> {{ office.code }}</p>
            <p><strong>Centro de costo sucursal:</strong> {{ office.costCenter }}</p>
            <p><strong>Dirección:</strong> {{ office.address }}</p>
            {% if requester.employee.alternateAddress is not null %}
                <p><strong>Dirección confirmada: </strong>{{ requester.employee.alternateAddress }}</p>
            {% endif %}
            <p><strong>Comuna:</strong> {{ office.city.name|default('-') }}, {{ office.city.parent.name|default('-') }}</p>

            <p><strong>Nombre:</strong> {{ employee.fullName|default('-') }}</p>
            <p><strong>Rut:</strong> {{ employee.rut }}</p>
            <p><strong>Teléfono:</strong> {{ employee.phone }}</p>

            {% if requester.employee.secondPhone is not null %}
                <p><strong>Teléfono secundario:</strong> {{ requester.employee.secondPhone }}</p>
            {% endif %}
            <p><strong>Correo electrónico:</strong> {{ user.email }}</p>
        {% endif %}
    {% endif %}
    <hr>

    {% if alternate and alternate.employee is not null %}
        <h4>Datos de Contacto Alternativo</h4>
        <p><strong>Contacto alternativo:</strong> {{ alternate.employee.fullName|default('') }}</p>
        <p><strong>Teléfono:</strong> {{ alternate.employee.phone|default('') }}</p>
        <p><strong>Correo electronico:</strong> {{ alternate.email|default('') }}</p>
        <hr>
    {% endif %}

    <h4>Datos de Solicitud</h4>
    <p><strong>Producto/Servicio:</strong> {{ product.name }} ({{ product.code }})</p>
    {% if is_uniform %}
        {% for key,value in metadata.details if key != 'comentarios'%}
            <p><strong>{{ key|trans}}: </strong>{{ value }}</p>
        {% endfor %}
    {% endif %}
    <p><strong>Fecha solicitud:</strong> {{ requisition_timer(requisition, 'started') }}</p>
    <p style="{% if is_uniform %}display:none{% endif %}"><strong>Fecha de respuesta: </strong> {{ requisition_timer(requisition, 'response') }}</p>
    <p style="{% if is_uniform %}display:none{% endif %}"><strong>Fecha entrega:</strong> {% if requisition.status != 'product.closed_by_approver' %}{{ requisition_timer(requisition, 'completion') }}{% else %}--{% endif %}</p>

    <p><strong>Observaciones:</strong> {{ metadata.details.comentarios|default(requisition.comments)|default('-') }}</p>

    {{ block('products_details') }}
{% endblock %}

{% block maintenance_detail %}
    <h4>Datos de Contacto</h4>
    {% if requisition.metadata['delivery_address_2']|default(false) %}
        {% set requisitionAddress = requisition.metadata['delivery_address_2'] %}
        <p><strong>Sucursal:</strong> {{ requisitionAddress.office.name }}</p>
        <p><strong>Código sucursal:</strong> {{ requisitionAddress.office.code }}</p>
        <p><strong>Centro de costo sucursal:</strong> {{ requisitionAddress.office.costCenter }}</p>
        <p><strong>Dirección:</strong> {{ requisitionAddress.office.address }}</p>
        {% if requisitionAddress.detail is not null %}
            <p><strong>Dirección confirmada: </strong>{{ requisitionAddress.detail }}</p>
        {% endif %}
        <p><strong>Comuna:</strong> {{ requisitionAddress.office.city.name|default('') }}, {{ requisitionAddress.office.city.parent.name|default('') }}</p>
        <p><strong>Nombre:</strong> {{ employee.fullName }}</p>
        <p><strong>Rut:</strong> {{ employee.rut }}</p>
        <p><strong>Teléfono:</strong> {{ requisitionAddress.phone1 }}</p>
        {% if requisitionAddress.phone2 is not null %}
            <p><strong>Teléfono secundario:</strong> {{ requisitionAddress.phone2 }}</p>
        {% endif %}
        <p><strong>Correo electrónico:</strong> {{ user.email }}</p>
    {% else %}
        <p><strong>Sucursal:</strong> {{ office.name }}</p>
        <p><strong>Código sucursal:</strong> {{ office.code }}</p>
        <p><strong>Centro de costo sucursal:</strong> {{ office.costCenter }}</p>
        <p><strong>Dirección:</strong> {{ office.address }}</p>
        <p><strong>Comuna:</strong> {{ office.city.name|default('') }}, {{ office.city.parent.name|default('') }}</p>
        <p><strong>Nombre:</strong> {{ employee.fullName }}</p>
        <p><strong>Rut:</strong> {{ employee.rut }}</p>
        <p><strong>Teléfono:</strong> {{ employee.phone }}</p>
        <p><strong>Correo electrónico:</strong> {{ user.email }}</p>
    {% endif %}
    <hr>

    <h4>Datos solicitud</h4>
    <p><strong>Producto/Servicio:</strong> {{ product.name }} ({{ product.code }})</p>
    <p><strong>Número solicitud:</strong> {{ requisition.number }}</p>
    <p><strong>Fecha de creación:</strong> {{ requisition_timer(requisition, 'started') }} </p>
    <p><strong>Fecha de respuesta: </strong> {{ requisition_timer(requisition, 'response') }}</p>
    <p><strong>
            SLA Servicio:
            {% if not requisition.getTransition('product.accepted') %}
                {% set slaAccept = requisition.getSLA('product.approved') %}
                {{ slaAccept.value }} {{ slaAccept.type|trans }} (evaluación) +
            {% endif %}

            {% set slaProduct = requisition.getSLA('product.delivered') %}
            {{ slaProduct.value }} {{ slaProduct.type|trans }} (ejecución)
        </strong></p>
    <p><strong>Fecha fin SLA:</strong> {{ requisition_timer(requisition, 'completion') }}</p>

    <p><strong>Comentarios:</strong> {{ metadata.details.comentarios|default(requisition.comments)|default('-') }}</p>
    <p><strong>Cantidad:</strong> {{ metadata.details.cantidad|default(requisition.quantity) }}</p>
    <hr>

    <h4>Datos empresa</h4>
    <p><strong>Razón social:</strong> {{ supplier.name }}</p>
    <p><strong>RUT:</strong> {{ supplier.rut }}</p>
    <p><strong>Dirección:</strong> {{ supplier.street }}</p>
    <p><strong>Ciudad:</strong> {{ supplier.city.name|default('') }}</p>
    <p><strong>Teléfono:</strong> {{ supplier.phone }}</p>
    <p><strong>Correo electrónico:</strong> {{ supplier.email }}</p>
    <p><strong>Responsable del servicio:</strong> {{ metadata['responsible']|default('-') }}</p>
{% endblock %}

{% block requisition_detail %}
    <div class="row">
        {% set col = 'col-md-12 col-md-12-responsive' %}

        {% if is_requester and requisition.type != 'SOLICITUD_ESPORADICA' %}
            {% include 'requisition/product/_sidebar.twig' %}
            {% set col = 'col-md-9 col-md-9-responsive' %}
        {% endif %}

        <div class="{{ col }} detalle-solicitud">
            <div class="row titulo">
                <h3>Solicitud n° {{ requisition.number }} ({{ product.code }})</h3>
                {% if not is_uniform %}
                    <div class="pull-left">
                        Fecha de entrega: {{ requisition_timer(requisition, 'completion') }}
                    </div>
                {% endif %}
            </div>

            <div class="row workflow">
                {% include 'requisition/product/workflow.twig' %}
            </div>
            {% if is_requester and requisition.status == 'product.reviewed' and not is_uniform %}
                <div class="row workflow">
                    <div class="col-lg-1">
                        <i class="glyphicon glyphicon-alert" style="font-size: 30px;margin-top: 4px;color: #f8ba00;"></i>
                    </div>
                    <div class="col-lg-11" style="padding-left: 0">
                        <div>El proveedor declaró entregar el producto o servicio con fecha: {{ metadata.confirmation.delivered_at|date("d/m/Y H:i:s")}}</div>
                        <div>Usted dispone de 48 horas para certificar el servicio. Luego de este plazo el requerimiento será <span style="cursor: pointer" data-toggle="tooltip" title="El requerimiento será cerrado el: {{ metadata.confirmation.delivered_at|date_modify("+2 day")|date("d/m/Y H:i:s") }}">cerrado</span>.</div>
                    </div>
                </div>
            {% endif %}

            {% if is_requester and requisition.status == 'product.rejected' %}
                <div class="row workflow">
                    <div class="col-lg-1">
                        <i class="glyphicon glyphicon-alert" style="font-size: 30px;margin-top: 4px;color: #f8ba00;"></i>
                    </div>
                    <div class="col-lg-11" style="padding-left: 0">
                        <div>El evaluador del servicio rechazó su requerimiento con fecha: {{ requisition.getTransition('product.rejected').datetime|date('d/m/Y H:i:s') }}</div>
                        <div>Usted dispone de 48 horas para apelar el rechazo. Luego de este plazo el requerimiento será <span style="cursor: pointer" data-toggle="tooltip" title="El requerimiento será cerrado el: {{ requisition.getTransition('product.rejected').datetime|date_modify("+2 day")|date("d/m/Y H:i:s") }}">cerrado</span>.</div>
                    </div>
                </div>
            {% endif %}

            <div class="row panel-tarjeta">
                <h3>{{ product.name }}</h3>
            </div>

            {% set imagePath = product.images|length ? product.images[0]|imagine_filter('products_request_detail') : '' %}

            <div class="row requisition-detail tarjeta">
                <div class="col-md-4 tarjeta-img">

                    {% if requisition.type == 'SOLICITUD_ESPORADICA' %}
                        <h4>Datos de Contacto</h4>
                        {% if requisition.metadata['delivery_address_2']|default(false) %}
                            {% set requisitionAddress = requisition.metadata['delivery_address_2'] %}
                            <p><strong>Sucursal:</strong> {{ requisitionAddress.office.name }}</p>
                            <p><strong>Código sucursal:</strong> {{ requisitionAddress.office.code }}</p>
                            <p><strong>Centro de costo sucursal:</strong> {{ requisitionAddress.office.costCenter }}</p>
                            <p><strong>Dirección:</strong> {{ requisitionAddress.office.address }}</p>
                            <p><strong>Comuna:</strong> {{ requisitionAddress.office.city.name|default('') }}
                                , {{ requisitionAddress.office.city.parent.name|default('') }}</p>
                            <p><strong>Nombre:</strong> {{ employee.fullName }}</p>
                            <p><strong>Rut:</strong> {{ employee.rut }}</p>
                            <p><strong>Teléfono:</strong> {{ requisitionAddress.phone1 }}</p>
                            <p><strong>Correo electrónico:</strong> {{ user.email }}</p>
                        {% else %}
                            <p><strong>Sucursal:</strong> {{ office.name }}</p>
                            <p><strong>Código sucursal:</strong> {{ office.code }}</p>
                            <p><strong>Centro de costo sucursal:</strong> {{ office.costCenter }}</p>
                            <p><strong>Dirección:</strong> {{ office.address }}</p>
                            <p><strong>Comuna:</strong> {{ office.city.name|default('') }}
                                , {{ office.city.parent.name|default('') }}</p>
                            <p><strong>Nombre:</strong> {{ employee.fullName }}</p>
                            <p><strong>Rut:</strong> {{ employee.rut }}</p>
                            <p><strong>Teléfono:</strong> {{ employee.phone }}</p>
                            <p><strong>Correo electrónico:</strong> {{ user.email }}</p>
                        {% endif %}
                        <br>

                        {{ form_start(provider) }}
                        {{ form_end(provider) }}

                    {% else %}
                        <div style="width:220px!important;height:220px!important;margin:0 auto;background:url('{{ imagePath }}') no-repeat center;"></div>
                        <p class="tarjeta-img__descripcion">
                            <strong>{{ product.name }}</strong>
                        </p>
                        <p style="text-align: center">{{ product.description }}</p>
                    {% endif %}
                </div>
                <div class="col-md-8 tarjeta-datos">
                    {{ block(requisition.type|replace({'requisition.':''}) ~ '_detail') }}
                </div>
            </div>

            {% if is_supplier %}
                <div class="row">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#description" aria-controls="description" role="tab"
                               data-toggle="tab">Descripción</a>
                        </li>
                        <li role="presentation">
                            <a href="#technical-specs" aria-controls="technical-specs" role="tab" data-toggle="tab">Ficha
                                Técnica</a>
                        </li>
                        <li role="presentation">
                            <a href="#apply-specs" aria-controls="apply-specs" role="tab" data-toggle="tab">Material de
                                Apoyo</a>
                        </li>
                    </ul>
                    <div class="tab-content producto-tab-content">
                        <div role="tabpanel" class="tab-pane active" id="description">{{ product.description }}</div>
                        <div role="tabpanel" class="tab-pane" id="technical-specs">{{ product.technicalSpecs }}</div>
                        <div role="tabpanel" class="tab-pane" id="apply-specs">{{ product.applySpecs }}</div>
                    </div>
                </div>
            {% endif %}

            {% if app.user in supplier.representatives or is_granted(['ROLE_REQUESTER', 'ROLE_APPROVER']) %}
                {% if status != 'product.closed' or metadata['decline'] is not defined %}
                    {{ block('contract_detail') }}
                {% endif %}

                {% set showSupplierInfo = ['product.accepted', 'product.approved', 'product.completed', 'product.evaluated', 'product.delivered', 'product.returned', 'product.confirmed', 'product.reviewed'] %}

                {% if (is_requester and status in showSupplierInfo) or is_granted(['ROLE_APPROVER', 'ROLE_SUPPLIER']) %}
                    {{ block('supplier_info') }}
                {% endif %}
            {% endif %}

            {% if requisition.attachment %}
                <div class="row meta-block">
                    <h3>Documentación de solicitud</h3>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th><strong>Documento(s)</strong></th>
                            <td>
                                {% for attachment in requisition.attachment if attachment is not null %}
                                    <p><a href="{{ asset('download/' ~ attachment.path) }}">{{ attachment.name }}</a>
                                    </p>
                                {% endfor %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {% block meta %}
                {% for key, meta in metadata %}
                    <div data-metablock="{{ key }}">
                        {%- include 'requisition/product/meta/' ~ key ~ '.twig' ignore missing -%}
                    </div>
                {% endfor %}
            {% endblock%}

            {% include 'requisition/product/meta/timeout.twig' %}

            {% block actions %}
                {% include 'requisition/product/actions.twig' %}
            {% endblock %}
        </div>
    </div>
{% endblock requisition_detail %}

{% block product_work_order_items %}
    <thead>
    <tr>
        <th style="width:10%">Número de solicitud</th>
        <th style="width:10%">Código</th>
        <th style="width:15%">Producto</th>
        <th style="width:35%">Descripción</th>
        <th style="width:10%">Cantidad</th>
        <th style="width:10%">Valor</th>
        <th style="width:10%">Total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="width:10%">{{ requisition.number }}</td>
        <td style="width:10%">{{ product.code }}</td>
        <td style="width:15%">{{ product.name }}</td>
        <td style="width:35%">{{ product.description }}</td>
        <td style="width:10%">{{ requisition.quantity }}</td>
        {% if requisition.type == 'requisition.self_management' %}
            <td style="width:10%">{{ 'according_to_rate'|trans }}</td>
            <td style="width:10%">{{ 'according_to_rate'|trans }}</td>
        {% else %}
            {% set total = requisition.quantity * contract.price.value %}
            <td style="width:10%">{{ contract.price.currency|trans }} {{ contract.price.value|number_format(0, ',', '.') }}</td>
            <td style="width:10%">{{ contract.price.currency|trans }} {{ total|number_format(0, ',', '.') }}</td>
        {% endif %}
    </tr>
    </tbody>
{% endblock %}

{% block maintenance_work_order_items %}
    <thead>
    <tr>
        <th style="width:10%">Código</th>
        <th style="width:50%">Nombre de producto</th>
        <th style="width:10%">Cantidad</th>
        <th style="width:30%">Unidad</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="width:10%">{{ product.code }}</td>
        <td style="width:50%">{{ product.name }}</td>
        <td style="width:10%">{{ requisition.quantity }}</td>
        <td style="width:30%">{{ office.name }}</td>
    </tr>
    </tbody>
{% endblock %}

{% block office_data %}
    <div class="row">
        <h3>Datos cliente</h3>
        <div class="work-party col-md-6">
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <th><strong>RUT Banco</strong></th>
                    <td>97.030.000-7</td>
                </tr>
                <tr>
                    <th><strong>Nombre</strong></th>
                    <td>Banco del Estado de Chile</td>
                </tr>
                {% if requisition.metadata['delivery_address_2']|default(false) %}
                    {% set requisitionAddress = requisition.metadata['delivery_address_2'] %}
                    <tr>
                        <th><strong>Sucursal</strong></th>
                        <td>{{ requisitionAddress.office.name }}</td>
                    </tr>
                    <tr>
                        <th><strong>Código de sucursal</strong></th>
                        <td>{{ requisitionAddress.office.code }}</td>
                    </tr>
                    <tr>
                        <th><strong>Centro de costo sucursal</strong></th>
                        <td>{{ requisitionAddress.office.costCenter }}</td>
                    </tr>
                    <tr>
                        <th><strong>Dirección</strong></th>
                        <td>{{ requisitionAddress.office.address }}</td>
                    </tr>
                    {% if requisitionAddress.detail is not null %}
                        <tr>
                            <th><strong>Dirección complementaria</strong></th>
                            <td>{{ requisitionAddress.detail }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th><strong>Comuna</strong></th>
                        <td>{{ requisitionAddress.office.city.name|default('') }}, {{ requisitionAddress.office.city.parent.name|default('') }}</td>
                    </tr>
                    {#<tr>
                        <th><strong>Teléfono sucursal</strong></th>
                        <td>{{ office.phone|default('') }}</td>
                    </tr>#}
                    <tr>
                        <th><strong>Nombre</strong></th>
                        <td>{{ requester.employee.fullName|default(requester.username) }}</td>
                    </tr>
                    <tr>
                        <th><strong>RUT</strong></th>
                        <td>{{ requester.employee.rut|default('') }}</td>
                    </tr>
                    <tr>
                        <th><strong>Teléfono</strong></th>
                        <td>{{ requisitionAddress.phone1|default('') }}</td>
                    </tr>
                    {% if requisitionAddress.phone2 is not null %}
                        <tr>
                            <th><strong>Teléfono secundario</strong></th>
                            <td>{{ requisitionAddress.phone2 }}</td>
                        </tr>
                    {% endif %}
                {% else %}
                    <tr>
                        <th><strong>Sucursal</strong></th>
                        <td>{{ office.name }}</td>
                    </tr>
                    <tr>
                        <th><strong>Código de sucursal</strong></th>
                        <td>{{ office.code }}</td>
                    </tr>
                    <tr>
                        <th><strong>Centro de costo sucursal</strong></th>
                        <td>{{ office.costCenter }}</td>
                    </tr>
                    <tr>
                        <th><strong>Dirección</strong></th>
                        <td>{{ office.address }}</td>
                    </tr>
                    {% if requester.employee.alternateAddress is not null %}
                        <tr>
                            <th><strong>Dirección complementaria</strong></th>
                            <td>{{ requester.employee.alternateAddress }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th><strong>Comuna</strong></th>
                        <td>{{ office.city.name|default('') }}, {{ office.city.parent.name|default('') }}</td>
                    </tr>
                    {#<tr>
                        <th><strong>Teléfono sucursal</strong></th>
                        <td>{{ office.phone|default('') }}</td>
                    </tr>#}
                    <tr>
                        <th><strong>Nombre</strong></th>
                        <td>{{ requester.employee.fullName|default(requester.username) }}</td>
                    </tr>
                    <tr>
                        <th><strong>RUT</strong></th>
                        <td>{{ requester.employee.rut|default('') }}</td>
                    </tr>
                    <tr>
                        <th><strong>Teléfono</strong></th>
                        <td>{{ requester.employee.phone|default('') }}</td>
                    </tr>
                    {% if requester.employee.secondPhone is not null %}
                        <tr>
                            <th><strong>Teléfono secundario</strong></th>
                            <td>{{ requester.employee.secondPhone }}</td>
                        </tr>
                    {% endif %}
                {% endif %}
                <tr>
                    <th><strong>Correo electrónico</strong></th>
                    <td>{{ requester.email }}</td>
                </tr>
                <tr>
                    <th><strong>N° de solicitud</strong></th>
                    <td>{{ requisition.number }}</td>
                </tr>
                <tr>
                    <th><strong>Comentarios</strong></th>
                    {% if is_pdf %}
                        <td>{{ ((requisition.metadata.details.comentarios|default(requisition.comments))|wordwrap(75, "\n"))|nl2br }} </td>
                    {% else %}
                        <td> {{ requisition.metadata.details.comentarios|default(requisition.comments) }}</td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block supplier_data %}
    <div class="row">
        <h3>Datos proveedor</h3>
        <div class="work-party col-md-6">
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <th><strong>Razón Social</strong></th>
                    <td>{{ supplier.name }}</td>
                </tr>
                <tr>
                    <th><strong>Dirección</strong></th>
                    <td>{{ supplier.street }}</td>
                </tr>
                <tr>
                    <th><strong>Comuna</strong></th>
                    <td>{{ supplier.city.name|default('') }}, {{ supplier.city.parent.name|default('') }}</td>
                </tr>
                <tr>
                    <th><strong>Correo electrónico</strong></th>
                    <td>{{ supplier.email }}</td>
                </tr>
                <tr>
                    <th><strong>Teléfono</strong></th>
                    <td>{{ supplier.phone }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block requisition_data %}
    <div class="row">
        <div class="work-party col-md-6">
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <th><strong>N° solicitud</strong></th>
                    <td>{{ requisition.number }}</td>
                </tr>
                <tr>
                    <th><strong>Fecha</strong></th>
                    <td>{{ requisition.getTransition('product.accepted').datetime|date('d/m/Y') }}</td>
                </tr>
                <tr>
                    <th><strong>Hora</strong></th>
                    <td>{{ requisition.getTransition('product.accepted').datetime|date('H:i') }}</td>
                </tr>
                <tr>
                    <th><strong>Responsable servicio</strong></th>
                    <td>{{ metadata['responsible']|default('-') }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block work_order_title %}
    <div class="row clearfix content-title">
        <h2>Orden de trabajo N° {{ requisition.getMetadata('work_order') }}
            <a href="{{ path('requisition_work_order_pdf', { id: requisition.id }) }}" target="_blank"
                class="btn btn-danger btn-sm">Exportar a PDF</a>

        {% if requisition.product.code == comp_code %}
            <a href="{{ path('compostura_uniforme_ficha', { id: requisition.id }) }}" class="btn btn-warning btn-sm">
                Descargar ficha de compostura
            </a>
        {% endif %}
        </h2>
    </div>
{% endblock %}

{% block work_order_detail %}
    {{ block('work_order_title') }}

    {#{% if type == 'requisition.maintenance' %}#}
    {{ block('requisition_data') }}
    {#{% endif %}#}

    {{ block('supplier_data') }}

    {{ block('office_data') }}

    {% if is_uniform %}
        {{ block('size_detail') }}
    {% endif %}

    <div class="row">
        <table class="table work-order-items">
            {% if type == 'requisition.maintenance' %}
                {{ block('maintenance_work_order_items') }}
            {% else %}
                {{ block('product_work_order_items') }}
            {% endif %}
        </table>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ block('products_details') }}
        </div>
    </div>

    {#{% if is_supplier %}#}
        {#{% include 'requisition/product/meta/purchase_order.twig' %}#}
    {#{% endif %}#}
{% endblock %}

{% block work_order_validation %}
    {% include 'requisition/product/_work_validation.twig' %}
{% endblock %}

{% block requisition_history %}
    <div class="row meta-block">
        <h3>Historial</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width: 60%">Estado</th>
                <th>Inicio</th>
                <th>Término</th>
                <th style="width: 10%">Usuario</th>
            </tr>
            </thead>
            <tbody>
            {% for record in history %}
                {% set p = record.processName ~ '.' ~ record.stepName %}
                {% set r = p ~ '.' ~ requisition.type|replace({'requisition.':''}) ~ '.' ~ (requisition.centralized ? 'centralized' : 'descentralized') %}

                {% set q = record.previous ? record.previous.processName ~ '.' ~ record.previous.stepName %}
                {% set u = q ~ '.' ~ requisition.type|replace({'requisition.':''}) ~ '.' ~ (requisition.centralized ? 'centralized' : 'descentralized') %}

                {% set t = requisition.getTransition(p) %}
                <tr>
                    <td>{{ q ? u|trans : 'Inicio' }} ↦ {{ r|trans }}</td>
                    <td>{{ record.createdAt|date('d/m/Y H:i') }}</td>
                    <td>{{ record.finishedAt ? record.finishedAt|date('d/m/Y H:i') : '-' }}</td>
                    <td>{{ t ? t.username : (q ? '-' : requisition.requester.username) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block requisition_work_order %}
    {% if type == 'requisition.maintenance' or type == 'requisition.uniform' %}
        {{ block('work_order_validation') }}
        {% if status != 'product.accepted' %}
            {% include 'requisition/product/actions.twig' %}
        {% endif %}
        <div>
            {{ block('work_order_detail') }}
        </div>
        {% if status == 'product.accepted' %}
            {% include 'requisition/product/actions.twig' %}
        {% endif %}
    {% else %}
        {{ block('work_order_detail') }}
        {{ block('work_order_validation') }}
        {% include 'requisition/product/actions.twig' %}
    {% endif %}
{% endblock requisition_work_order %}

{% block main_content %}
    {% if (is_supplier and status in ['product.accepted', 'product.delivered', 'product.returned'])
    or (is_granted(['ROLE_REQUESTER', 'ROLE_APPROVER'])
    and app.request.get('_route') in ['requisition_work_order', 'requisition_approver_proxy_cert']) %}
        {{ block('requisition_work_order') }}
    {% else %}
        {{ block('requisition_detail') }}
    {% endif %}
{% endblock main_content %}