{% set type = requisition.type|replace({'requisition.':''}) %}
{% set centralized = requisition.contract.centralized ? 'centralized' : 'descentralized' %}
{% set caption = text ?: requisition.status ~ '.' ~ type ~ '.' ~ centralized %}

{% if type == 'uniform' %}
    {% set eval = requisition.metadata['evaluation']|default([])|last %}
    {% set rejected = requisition.metadata['reopening_reject']|default(null) %}
    {% if status in ['product.reopening', 'product.returned'] and eval['evaluation'] is defined %}
        {% set k = eval['evaluation']|default('') %}
        {% if k in ['devolucion_uniforme', 'recepcion_con_reparos', 'servicio_no_recibido'] %}
            {% set caption = caption ~ '.' ~ k %}
        {% endif %}
    {% elseif status == 'product.closed_by_approver' and rejected is not null %}
        {% set caption = caption ~ '.reopening_rejected' %}
    {% endif %}
{% endif %}

<span class="workflow-popover"
      data-toggle="popover" 
      data-trigger="hover" 
      data-content="{% filter escape %}{% include 'requisition/product/workflow.twig' %}{% endfilter %}"
      data-html="true" 
      data-placement="top">
    {{ caption|trans }}
</span>
