{{ requisition_status_grid(
    grid_title = 'Requerimientos por evaluar',
    requisitions = dashboard_query_aggregator.getQueryResult('requester.pending'),
    view_more_link = path('requisitions_index', { type: 'por_evaluar' })
) }}

{{ requisition_status_grid(
    grid_title = 'Requerimientos en proceso',
    requisitions = dashboard_query_aggregator.getQueryResult('requester.away'),
    view_more_link = path('requisitions_index', { type: 'en_proceso' })
) }}

{{ requisition_status_grid(
    grid_title = 'Histórico',
    requisitions = dashboard_query_aggregator.getQueryResult('requester.history'),
    view_more_link = path('requisitions_index', { type: 'history' })
) }}
