{% include 'backoffice/_partial/_main_menu.twig' %}
<div class="tab-content">
    <div class="col-md-3">
        {% include 'backoffice/_partial/_form_search_product.twig' %}
        {#{% include 'backoffice/_partial/_alerts.twig' %}#}
    </div>
    <div class="col-md-9" id="search_general">
        {% include 'backoffice/_partial/_created.twig' %}
    </div>
</div>
