{{ requisition_status_grid(
grid_title = 'Requerimientos por evaluar',
requisitions = dashboard_query_aggregator.getQueryResult('approver.vcard.pending'),
view_more_link = path('requisitions_index', { type: 'por_evaluar' })
) }}

{{ requisition_status_grid(
grid_title = 'Requerimientos en proceso',
requisitions = dashboard_query_aggregator.getQueryResult('approver.vcard.away'),
view_more_link = path('requisitions_index', { type: 'en_proceso' })
) }}

{{ requisition_status_grid(
grid_title = 'Histórico',
requisitions = dashboard_query_aggregator.getQueryResult('approver.vcard.history'),
view_more_link = path('requisitions_index', { type: 'history' })
) }}
