{% macro grid(title, data) %}
{% if data|length %}
<div class="row">
    <h2>{{ title }}</h2>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th>Nro.</th>
            <th>Tipo</th>
            <th>Detalle</th>
            <th style="text-align: center">Centro de costo</th>
            <th style="text-align: center">Fecha de Entrega</th>
            <th style="text-align: center">Estado</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for special in data|slice(0, 5) %}
            <tr>
                <td>{{ special.number }}</td>
                <td>Pedido especial</td>
                <td>{{ special.request }}</td>
                <td style="text-align: center">{{ special.costCenter }}</td>
                <td style="text-align: center">{{ special.date|date('m-d-Y') }}</td>
                <td style="text-align: center">{{ special.state|trans }} ({{ special.assignee }})</td>
                <td>
                    <a href="{{ path('solicitud_especial_detalle', { id: special.id }) }}"
                       class="btn btn-sm btn-warning">Revisar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if data|length > 5 %}
    <div class="clearfix">
        <p class="pull-right">Mostrando 5 de {{ data|length }} | <a href="">Ver más +</a></p>
    </div>
    {% endif %}
</div>
{% endif %}
{% endmacro %}

{% import _self as macros %}

{{ macros.grid('Requerimientos por evaluar', pending_special_requests) }}
{{ macros.grid('Requerimientos en progreso', open_special_requests) }}
{{ macros.grid('Histórico', closed_special_requests) }}
