{{ requisition_status_grid(
    grid_title = 'Requerimientos por certificar',
    requisitions = dashboard_query_aggregator.getQueryResult('requester.pending'),
    view_more_link = path('requisitions_index', { type: 'por_evaluar' })
) }}

{{ requisition_status_grid(
    grid_title = 'Requerimientos en proceso',
    requisitions = dashboard_query_aggregator.getQueryResult('requester.open'),
    view_more_link = path('requisitions_index', { type: 'en_proceso' })
) }}

{{ requisition_status_grid(
    grid_title = 'Requerimientos históricos',
    requisitions = dashboard_query_aggregator.getQueryResult('requester.history'),
    view_more_link = path('requisitions_index', { type: 'history' })
) }}

{% set pepData = dashboard_query_aggregator.getQueryResult('pep.open') %}

{% if pepData|length %}
    {% include 'dashboard/_partial/pepData.twig' %}
{% endif %}
