{{ requisition_status_grid(
    grid_title = 'Requerimientos por evaluar',
    requisitions = dashboard_query_aggregator.getQueryResult('approver.pending'),
    view_more_link = path('requisitions_index', { type: 'por_evaluar' })
) }}

{{ requisition_status_grid(
    grid_title = 'Requerimientos por certificar',
    requisitions = dashboard_query_aggregator.getQueryResult('approver.cert'),
    view_more_link = path('requisitions_index', { type: 'por_certificar' })
) }}

{{ requisition_status_grid(
    grid_title = 'Requerimientos en proceso',
    requisitions = dashboard_query_aggregator.getQueryResult('approver.away'),
    view_more_link = path('requisitions_index', { type: 'en_proceso' })
) }}

{{ requisition_status_grid(
    grid_title = 'Histórico',
    requisitions = dashboard_query_aggregator.getQueryResult('approver.history'),
    view_more_link = path('requisitions_index', { type: 'history' })
) }}
