<div class="por-evaluar">
    {{ requisition_status_grid(
        grid_title = 'Requerimientos por evaluar',
        requisitions = dashboard_query_aggregator.getQueryResult('supplier.pending'),
        view_more_link = path('requisitions_index', { type: 'por_evaluar' })
    ) }}
</div>

{{ requisition_status_grid(
    grid_title = 'Requerimientos por certificar',
    requisitions = dashboard_query_aggregator.getQueryResult('supplier.cert'),
    view_more_link = path('requisitions_index', { type: 'por_certificar' })
) }}

{{ requisition_status_grid(
    grid_title = 'Requerimientos en proceso',
    requisitions = dashboard_query_aggregator.getQueryResult('supplier.away'),
    view_more_link = path('requisitions_index', { type: 'en_proceso' })
) }}

{{ requisition_status_grid(
    grid_title = 'Histórico',
    requisitions = dashboard_query_aggregator.getQueryResult('supplier.history'),
    view_more_link = path('requisitions_index', { type: 'history' })
) }}
