{% extends 'layout.twig' %}

{% block main_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    <div class="row login">
        <h2 class="text-center">Restablecer contraseña</h2>

        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            <div>
                {% if invalid_username is defined %}
                    <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                {% endif %}
                <label for="username">{{ 'resetting.request.username'|trans }}</label>
                <div class="form-group">
                    <input type="text" id="username" name="username" required="required" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="center-block">
                    <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-warning" />
                </div>
            </div>
        </form>
    </div>
{% endblock %}
