{{ form_start(change_office, { 'method': 'GET', attr: { id: 'form-change-office', autocomplete: 'off' }, action: path('office_data_view') }) }}
     <small>  {{ form_row(change_office.office, { 'label' : 'Seleccione una o más sucursales para las cuales quiere exportar los catálogos' }) }} </small>
    {{ form_row(change_office.office) }}
{{ form_end(change_office) }}
