<div style="width:600px;margin:0 auto;background:#ecebed;font-size:16px;line-height:1.3em;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
    <table width="600" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td width="20" bgcolor="#595252"></td>
            <td width="562" align="center" valign="middle" bgcolor="#595252"><img src="{{ absolute_url(asset('assets/img/emails/email_logo.png')) }}" width="148" height="44" alt="Banco Estado" /></td>
            <td width="20" bgcolor="#595252">&nbsp;</td>
        </tr>
        <tr>
            <td width="20" height="272" background=""></td>
            <td align="center">
                <br />

                <p><img src="{{ absolute_url(asset('assets/img/emails/email_bell.png')) }}" width="34" height="37" alt="Notify" /></p>
                <h1 style="font-family:Arial, Helvetica, sans-serif; font-size:1.2em; ">Restablecer contraseña</h1>
                <table width="91%" style="border:#999 solid 1px;">
                    <tr>
                        <td align="center"><table width="100%" border="0" cellpadding="2" cellspacing="5" style="font-family:Arial, Helvetica, sans-serif; ;">
                                <tr>
                                    <td width="40%" align="left" style="color:#666"><span style="font-family:Arial, Helvetica, sans-serif; font-size:1em; ">
                                            {% if user.employee is not null %}

                                                <p>Hola {{ user.employee.name }} {{ user.employee.lastName }}:</p>
                                            {% else %}
                                                <p>Hola {{ user.username }}:</p>
                                            {% endif %}

                                            <p>Puedes restablecer tu contraseña haciendo clic en el botón “Restablecer contraseña” o bien para una óptima visualización copia y pega el siguiente link ({{ confirmationUrl }}) en tu navegador Google Chrome.</p>
                                            <p>Recuerda que esta nueva contraseña será válida por dos horas. Transcurrido ese lapso deberás solicitar una nueva.</p>
                                            <p>Atte.<br/>
                                            Equipo Administración SRL</p>
                                        </span></td>
                                </tr>
                            </table></td>
                    </tr>
                </table>

                <br />

                <a href="{{ confirmationUrl }}" style="background:#F90; color:#FFF; text-decoration:none; padding:10px 35px; display:inline-block; font-family:Arial, Helvetica, sans-serif;">Restablecer contraseña</a><br /></td>
            <td width="20" background="">&nbsp;</td>
        </tr>
        <tr>
            <td width="20" height="33" background=""></td>
            <td height="33" background="" style="background-position:top">&nbsp;</td>
            <td width="20" height="33" background="">&nbsp;</td>
        </tr>
    </table>
</div>