{% block subject %}Restablecer contraseña{% endblock %}

{% block body_text %}
    {% autoescape false %}
        Hola {{ user.username }} !

        Puedes restablecer tu contraseña, haciendo clic en en botón Cambia tu contraseña.
    {% endautoescape %}
{% endblock %}

{% block body_html %}

    {% include 'email/password_resetting.email.twig' %}
{% endblock %}