<div class="col-md-3 sidebar-catalogo">
    <div class="sidebar sidebar-nav">
        <h3 class="sidebar-nav__titulo">Pedidos</h3>
        <nav>
            <ul>
                <li class="current first last">        
                    <span>Tarjetas de presentación</span>
                </li>
            </ul>
        </nav>
    </div>

    {% include 'requisition/product/_manual.twig' %}
</div>