{% set detail = path('requisition_detail',  { id: requisition.id }) %}
{% set dashboard = path('dashboard') %}

{% if requisition.status == 'ejecucion' and is_granted('ROLE_SUPPLIER') %}
    <div class="row">
        {% include 'vcard/_partial/data_download.twig' %}
        {% include 'vcard/_partial/certification.twig' %}

        <button class="btn btn-primary" style="float: right"
            data-toggle="modal"
            data-target="#modal-vcard-data-download">Descargar datos</button>
    </div>
{% elseif  requisition.status == 'apelacion' and is_granted('ROLE_APPROVER_VCARD') %}

    {% set message %}
        {%- filter escape -%}
            Recuerde enviar la orden de compra al proveedor dentro de un
            plazo de <strong>{#{ slaOrder.value }} {{ slaOrder.type|trans }#}</strong>
        {%- endfilter -%}
    {% endset %}

    <button id="reject-close"
            class="btn btn-warning"
            data-toggle="modal"
            data-target="#modal-appeal-reject">Rechazar
    </button>

    <button id="aprobar-vcard-js" class="btn btn-warning"
            data-message="{{ message }}"
            data-action="{{ path('vcards_apelacion_aprobado', {  id: requisition.id }) }}"
            data-redirect="{{ path('dashboard') }}">Aceptar apelación
    </button>

    <div id="modal-appeal-reject" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                {{ form_start(deny, {
                    attr: {
                        id: 'form-appeal-rejection',
                        'data-redirect': dashboard
                    },
                    action: path('vcard_rechazar_apelacion', { id: requisition.id })
                }) }}
                <div class="modal-header">
                    <h4 class="modal-title">Rechazar apelación</h4>
                </div>
                <div class="modal-body">
                    <div class="row col-condensed">
                        <div class="col-md-5">
                            {{ form_row(deny.reason,  { label: 'Motivo de rechazo'}) }}
                        </div>
                        <div class="col-md-7">
                            {{ form_row(deny.comment, { label: 'Argumentación', attr: { rows: 8 }}) }}
                        </div>
                    </div>
                    {{ form_row(deny.files, { label: 'Adjuntar documentos' }) }}
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-warning">Cancelar</button>
                    <button type="submit" class="btn btn-warning">Enviar</button>
                </div>
                {{ form_end(deny) }}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function ($, window, document, undefined) {

            'use strict';

            $('#form-appeal-rejection').on('submit', function (e) {
                e.preventDefault();
                var form = $(this);

                $.ajax({
                    url: form.attr('action'),
                    data: new FormData(form.get(0)),
                    processData: false,
                    contentType: false
                }).done(function () {
                    $('#modal-appeal-reject').modal('hide');
                    bootbox.alert('Su mensaje ha sido enviado exitosamente', function () {
                        window.location.replace(form.data('redirect'));
                    });
                });
            });

            $('#aprobar-vcard-js').on('click', function () {

                var btn = $(this);
                $.ajax({
                    url: btn.data('action'),
                    processData: false,
                    contentType: false
                }).done(function () {
                    bootbox.alert(btn.data('message'), function () {
                        window.location.replace(btn.data('redirect'));
                    });
                });

                return false;
            });
        }(jQuery, window, document));
    </script>
{% elseif  requisition.status == 'evaluacion' and is_granted('ROLE_APPROVER_VCARD') %}
    {% include 'vcard/_partial/data_download.twig' %}

    <div class="row">
        <a id="aprobar-vcard-js" class="btn btn-warning"
           data-action="{{ path('vcards_aprobado', {  id: requisition.id }) }}"
           data-redirect="{{ path('dashboard') }}">Aprobar solicitud</a>


        <a id="reject-close"
           class="btn btn-warning"
           data-toggle="modal"
           data-target="#modal-appeal-reject">Rechazar</a>


        <button class="btn btn-warning"
            data-toggle="modal"
            data-target="#modal-vcard-data-download">Descargar datos</button>
    </div>

    <div id="modal-appeal-reject" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                {{ form_start(rejected, {
                    attr: {
                        id: 'form-appeal-rejection',
                        'data-redirect': dashboard
                    },
                    action: path('vcards_rechazar', { id: requisition.id })
                }) }}
                <div class="modal-header">
                    <h4 class="modal-title">Rechazar solicitud</h4>
                </div>
                <div class="modal-body">
                    <div class="row col-condensed">
                        <div class="col-md-5">
                            {{ form_row(rejected.reason,  { label: 'Motivo de rechazo'}) }}
                        </div>
                        <div class="col-md-7">
                            {{ form_row(rejected.comment, { label: 'Argumentación', attr: { rows: 8 }}) }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    {{ form_widget(rejected.send) }}
                    <button data-dismiss="modal" class="btn btn-warning">Cancelar</button>
                </div>
                {{ form_end(rejected) }}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function ($, window, document, undefined) {

            'use strict';

            $('#aprobar-vcard-js').on('click', function () {

                var btn = $(this);

                $.ajax({
                    url: btn.data('action'),
                    processData: false,
                    contentType: false
                }).done(function () {
                    bootbox.alert('Su mensaje ha sido enviado exitosamente', function () {
                        window.location.replace(btn.data('redirect'));
                    });
                });

                return false;
            });

            $('#form-appeal-rejection').on('submit', function (e) {
                e.preventDefault();
                var form = $(this);

                $.ajax({
                    url: form.attr('action'),
                    data: new FormData(form.get(0)),
                    processData: false,
                    contentType: false
                }).done(function () {
                    $('#modal-appeal-reject').modal('hide');
                    bootbox.alert('Su mensaje ha sido enviado exitosamente', function () {
                        window.location.replace(form.data('redirect'));
                    });
                });
            });
        }(jQuery, window, document))
    </script>

{% elseif requisition.status == 'rechazado' and app.user == requisition.requester %}
    <div class="row">
        {#<a id="aprobar-vcard-js" class="btn btn-warning"
           data-toggle="modal"
           data-target="#modal-appeal"
           data-message="Su mensaje ha sido enviado exitosamente"
           data-action="{{ path('vcards_apelar', {  id: requisition.id }) }}"
           data-redirect="{{ path('dashboard') }}">Apelar</a>#}

        <a id="aceptar-rechazo-vcard-js" class="btn btn-warning"
           data-message="Su mensaje ha sido enviado exitosamente"
           data-action="{{ path('vcards_cerrar_apelacion', {  id: requisition.id }) }}"
           data-redirect="{{ path('dashboard') }}">Aceptar rechazo</a>
    </div>

    <div id="modal-appeal" class="modal fade" data-redirect="{{ dashboard }}">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                {{ form_start(appeal, {
                    attr: { id: 'form-appeal' },
                    action: path('vcards_apelar', { id: requisition.id })
                }) }}
                <div class="modal-header">
                    <h4 class="modal-title">Apelación</h4>
                </div>
                <div class="row modal-body col-condensed">
                    {{ form_row(appeal.comment, { label: 'Argumentación', attr: { rows: 5 }}) }}
                    {{ form_row(appeal.files, { label: 'Adjuntar documentos' }) }}
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-warning">Cancelar</button>
                    <button type="submit" class="btn btn-warning">Enviar</button>
                </div>
                {{ form_end(appeal) }}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function ($, window, document, undefined) {

            'use strict';

            $('#form-appeal').on('submit', function (e) {
                e.preventDefault();
                var btn = $('#aprobar-vcard-js');

                $.ajax({
                    url: $(this).attr('action'),
                    data: new FormData($(this).get(0)),
                    processData: false,
                    contentType: false
                }).done(function () {
                    $('#modal-appeal').modal('hide');
                    bootbox.alert(btn.data('message'), function () {
                        window.location.replace(btn.data('redirect'));
                    });
                });
            });

            $('#aceptar-rechazo-vcard-js').on('click', function (e) {

                var btn = $(this);

                $.post(btn.data('action')).done(function () {
                    bootbox.alert(btn.data('message'), function () {
                        window.location.replace(btn.data('redirect'));
                    });
                });
            });
        }(jQuery, window, document));
    </script>
{% elseif requisition.status == 'aceptado' and is_granted('ROLE_EMPLOYEE') %}
    <div class="row pull-right">
        <button class="btn btn-warning" data-toggle="modal" data-target="#modal-evaluate">Certificar trabajo</button>
    </div>

    <div id="modal-evaluate" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                {{ form_start(evaluation, {
                    attr: {
                        id: 'form-evaluate',
                        'data-redirect': dashboard
                    },
                    action: path('evaluacion_trabajo', { id: requisition.id })
                }) }}
                <div class="modal-header">
                    <h4 class="modal-title">Conformidad de recepción</h4>
                </div>
                <div class="row modal-body col-condensed">
                    {{ form_row(evaluation.evaluation, { label: 'Por favor seleccione una alternativa' }) }}
                    {{ form_row(evaluation.comment, { label: 'Motivo' }) }}

                    <label>Fecha/Hora certficación de recepción</label>
                    <div class="form-group">
                        {{ form_widget(evaluation.evaluated_at) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-warning">Cancelar</button>
                    <button type="submit" class="btn btn-warning">Enviar</button>
                </div>
                {{ form_end(evaluation) }}
            </div>
        </div>
    </div>

    <div id="modal-rating" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                {{ form_start(supplier_rating, {
                    attr: { id: 'form-rating' },
                    action: path('calificar_proveedor', { id: requisition.id })
                }) }}
                    <div class="modal-header">
                        <h4 class="modal-title">Calificación del servicio</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Por favor califique de 1 a 7 (donde 1 representa una calificación deficiente y 7 una
                            calificación excelente) los siguientes atributos del producto o servicio entregado:
                        </p>

                        <div class="form-group">
                            <label class="control-label">Puntualidad </label>
                            <i title="{{ 'calificacion_puntualidad_help'|trans }}" class="glyphicon glyphicon-info-sign" style="cursor:pointer;display:inline-block;width:20px;height:20px" aria-hidden="true" data-toggle="tooltip" ></i>

                            {{ form_widget(supplier_rating.punctuality) }}
                        </div>

                        <div class="form-group">
                            <label class="control-label">Calidad </label>
                            <i title="{{ 'calificacion_calidad_help'|trans }}" class="glyphicon glyphicon-info-sign" style="cursor:pointer;display:inline-block;width:20px;height:20px" aria-hidden="true" data-toggle="tooltip" ></i>

                            {{ form_widget(supplier_rating.quality) }}
                        </div>

                        <div class="form-group">
                            <label class="control-label">Nivel de servicio </label>
                            <i title="{{ 'calificacion_nivel_servicio_help'|trans }}" class="glyphicon glyphicon-info-sign" style="cursor:pointer;display:inline-block;width:20px;height:20px" aria-hidden="true" data-toggle="tooltip" ></i>

                            {{ form_widget(supplier_rating.service_level) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-warning">Cancelar</button>
                        <button type="submit" class="btn btn-warning">Enviar</button>
                    </div>
                {{ form_end(supplier_rating) }}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('#work_evaluation_evaluated_at_date').datepicker({
            language: 'es',
            endDate: new Date,
            format: 'dd/mm/yyyy',
            autoclose: true
        });

        var certForm = $('#modal-evaluate').find('form');
        var reasonText = certForm.find('#work_evaluation_comment');
        reasonText.attr('disabled', true);

        $('#work_evaluation_evaluation').find('input[type=radio]').on('change', function() {
            if ($(this).val() === 'recepcion_conforme') {
                reasonText.attr('disabled', true).val('');
            } else {
                reasonText.attr('disabled', false);
            }
        });

        $('#form-evaluate').on('submit', function (e) {
            e.preventDefault();
            var form = $(this);

            $.post(form.attr('action'), form.serialize()).always(function() {
                $('#modal-evaluate').modal('hide');
            }).done(function () {
                bootbox.alert('En proceso de certificación de usuario', function() {
                    $('#modal-rating').modal();
                    //window.location.replace(form.data('redirect'));
                });
            }).fail(function() {
                bootbox.alert('Ha ocurrido un error al enviar su solicitud.');
            });
        });
    </script>
{% elseif requisition.status == 'solicitud_evaluada' and is_granted('ROLE_EMPLOYEE') %}
    <div class="row pull-right">
        <button class="btn btn-warning" data-toggle="modal" data-target="#modal-rating">Calificar proveedor</button>
    </div>

    <div id="modal-rating" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                {{ form_start(supplier_rating, {
                    attr: { id: 'form-rating' },
                    action: path('calificar_proveedor', { id: requisition.id })
                }) }}
                    <div class="modal-header">
                        <h4 class="modal-title">Calificación del servicio</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Por favor califique de 1 a 7 (donde 1 representa una calificación deficiente y 7 una
                            calificación excelente) los siguientes atributos del producto o servicio entregado:
                        </p>

                        <div class="form-group">
                            <label class="control-label">Puntualidad </label>
                            <i title="{{ 'calificacion_puntualidad_help'|trans }}" class="glyphicon glyphicon-info-sign" style="cursor:pointer;display:inline-block;width:20px;height:20px" aria-hidden="true" data-toggle="tooltip" ></i>

                            {{ form_widget(supplier_rating.punctuality) }}
                        </div>

                        <div class="form-group">
                            <label class="control-label">Calidad </label>
                            <i title="{{ 'calificacion_calidad_help'|trans }}" class="glyphicon glyphicon-info-sign" style="cursor:pointer;display:inline-block;width:20px;height:20px" aria-hidden="true" data-toggle="tooltip" ></i>

                            {{ form_widget(supplier_rating.quality) }}
                        </div>

                        <div class="form-group">
                            <label class="control-label">Nivel de servicio </label>
                            <i title="{{ 'calificacion_nivel_servicio_help'|trans }}" class="glyphicon glyphicon-info-sign" style="cursor:pointer;display:inline-block;width:20px;height:20px" aria-hidden="true" data-toggle="tooltip" ></i>

                            {{ form_widget(supplier_rating.service_level) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-warning">Cancelar</button>
                        <button type="submit" class="btn btn-warning">Enviar</button>
                    </div>
                {{ form_end(supplier_rating) }}
            </div>
        </div>
    </div>

    <script>

    </script>
{% else %}
    <div class="row pull-right">
        <a href="{{ dashboard }}" class="btn btn-warning">Volver al inicio</a>
    </div>
{% endif %}


