{% extends 'layout.twig' %}
{% import '_partial/macros.twig' as macros %}

{% set product = requisition.product %}
{% set category = product.category %}
{% set contract = requisition.contract %}
{% set supplier = contract.supplier %}
{% set office = contract.office %}
{% set metadata = requisition.metadata %}
{% set vcard = vcards_data %}
{% set status = requisition.status %}
{% set requester = requisition.requester %}

{% block main_content %}
<div class="row">
    {% set col = 'col-md-12 col-md-12-responsive' %}
    {% include 'vcard/_sidebar.twig' %}

    <div class="col-md-9 col-md-9-responsive detalle-solicitud">
        <div class="row titulo">
            <h3>Solicitud n° {{ requisition.number }} ({{ product.code }})</h3>
            <div class="pull-left">
                Fecha de entrega: {{ requisition_timer(requisition, 'completion') }}
            </div>
        </div>

        <div class="row panel-tarjeta">
            <h3>{{ product.name }}</h3>
        </div>

        <div class="row requisition-detail tarjeta">
            <div class="col-md-4 tarjeta-img">
                {% set imagePath = product.images|length ? product.images[0]|imagine_filter('products_request_detail') : '' %}

                <div style="width:220px!important;height:220px!important;margin:0 auto;background:url('{{ imagePath }}') no-repeat center;"></div>
                <p class="tarjeta-img__descripcion">
                    <strong>{{ product.name }}</strong>
                </p>
                <p style="text-align: center">{{ product.description }}</p>

            </div>
            <div class="col-md-8 tarjeta-datos">
                {% if office is not null %}
                    <h4>Datos de Contacto</h4>
                    <p><strong>Sucursal:</strong> {{ office.name }}</p>
                    <p><strong>Numero sucursal:</strong> {{ office.code }}</p>
                    <p><strong>Centro de costo sucursal:</strong> {{ office.costCenter }}</p>
                    <p><strong>Dirección:</strong> {{ office.address }}</p>
                    <p><strong>Comuna:</strong> {{ office.city.name|default('-') }}, {{ office.city.parent.name|default('-') }}</p>

                    <p><strong>Nombre:</strong> {{ employee.fullName|default('-') }}</p>
                    <p><strong>Rut:</strong> {{ employee.rut }}</p>
                    <p><strong>Teléfono:</strong> {{ employee.phone }}</p>
                    <p><strong>Correo electrónico:</strong> {{ user.email }}</p>
                    <hr>
                {% endif %}

                {% if alternate and alternate.employee is not null %}
                    <h4>Datos de Contacto Alternativo</h4>
                    <p><strong>Contacto alternativo:</strong> {{ alternate.employee.fullName|default('') }}</p>
                    <p><strong>Teléfono:</strong> {{ alternate.employee.phone|default('') }}</p>
                    <p><strong>Correo electronico:</strong> {{ alternate.email|default('') }}</p>
                    <hr>
                {% endif %}

                <h4>Datos de Solicitud</h4>
                <p><strong>Producto:</strong> {{ product.name }} ({{ product.code }})</p>
                <p><strong>Fecha solicitud:</strong> {{ requisition_timer(requisition, 'started') }}</p>
                <p><strong>Fecha de respuesta: </strong> {{ requisition_timer(requisition, 'response') }}</p>
                <p><strong>Fecha entrega:</strong> {{ requisition_timer(requisition, 'completion') }}</p>
                <p><strong>Cantidad:</strong> {{ requisition.quantity }}</p>

                {% if vcard.comments|length %}
                    <p><strong>Comentarios:</strong> {{ vcard.comments }}</p>
                {% endif %}

                <hr>
                <h4>Datos de tarjeta</h4>
                <p><strong>Nombre completo:</strong> {{ vcard.fullName }}</p>
                <p><strong>Cargo:</strong> {{ position_title_normalizer.normalize(vcard.position) }}</p>
                <p><strong>Dependencia:</strong> {{ vcard.office.code }} - {{ vcard.office.name }}</p>
                <p><strong>Mostrar dependencia:</strong> {{ vcard.showOffice ? 'Si' : 'No' }}</p>

                {% set addressOffice = vcard.addressOffice ?: office %}
                <p><strong>Dirección:</strong> {{ addressOffice.address }}
                    {%- if vcard.addressDetail is not empty -%}
                        , {{ vcard.addressDetail }}
                    {%- endif -%}
                    , {{ addressOffice.city.name }}
                </p>
                <p><strong>Mostrar dirección:</strong> {{ vcard.showAddress ? 'Si' : 'No' }}</p>
                <p><strong>E-mail:</strong> {{ vcard.email }}</p>
                <p><strong>Código de área teléfono:</strong> {{ vcard.areaCode }}</p>
                <p><strong>N° de teléfono:</strong> {{ vcard.phone }}</p>

                {% if vcard.fax %}
                    <p><strong>N° de fax:</strong> {{ vcard.fax }}</p>
                {% endif %}

                {% if vcard.mobile %}
                    <p><strong>N° de celular:</strong> {{ vcard.mobile }}</p>
                {% endif %}

                {% if vcard.contacts|length %}
                    <hr>
                    <h4>Otros Contactos</h4>

                    {% for key, contact in vcard.contacts %}
                        <div style="margin-bottom: 25px">
                            <p><strong>Nombre completo:</strong> {{ contact.fullName }}</p>
                            <p><strong>Cargo:</strong> {{ position_title_normalizer.normalize(contact.position) }}</p>
                            <p><strong>Código de área:</strong> {{ contact.areaCode }}</p>
                            <p><strong>N° de teléfono:</strong> {{ contact.phone }}</p>
                            <p><strong>E-mail:</strong> {{ contact.email }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        {% for key, meta in metadata %}
            <div data-metablock="{{ key }}">
                {%- include 'vcard/meta/' ~ key ~ '.twig' ignore missing -%}
            </div>
        {% endfor %}
        <div data-metablock="timeout">
            {% include 'vcard/meta/cerrada_sistema.twig'%}
        </div>
        {% include 'vcard/actions.twig' %}
    </div>
</div>
{% endblock %}
