{% extends 'layout.twig' %}
{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', _self] %}

{% block _delegate_vcard_rut_errors %}
    {{ form_errors(form) }}
    {% for attrname, attrvalue in attr %}
        {% if attrname == 'help' %}
            <small>{{ attrvalue|raw }}</small>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block vcard_card %}
    <article class="col-md-4 product-list-container">
        {% set options = {
        id: employee.id,
        code: product.code
        } %}

        <span class="product-name" style="height:4.2em">{{ product.name }}<br>({{ product.code }})</span>

        <div class="productos-img">
            {% set imagePath = product.images|length ? product.images[0]|imagine_filter('products_catalog_item') : '' %}
            <a href="{{ path('vcards_request', options) }}">
                <div style="width:200px!important;height:150px!important;margin:0 auto;background:url('{{ imagePath }}') no-repeat center;"></div>
            </a>
        </div>

        <a href="{{ path('vcards_request', options) }}" class="btn btn-warning product-button">
            Ver Ficha
        </a>
    </article>
{% endblock vcard_card %}

{% block main_content %}
    <div class="row vcards-available">
        {% include 'vcard/_sidebar.twig' %}

        <div class="col-md-9 detalle-producto col-md-9-responsive">
            {% set pending = has_active_vcard_requisitions(employee.getUser()) %}

            {% if pending|length == 0 %}
                <h3><strong>{{ employee.fullName }}</strong> puede solicitar los siguientes tipos de tarjetas</h3>

                <div class="row vcards-catalog col-condensed">
                    {% for product in products %}
                        {{ block('vcard_card') }}
                    {% else %}
                        <h4>No se han encontrado tarjetas asociadas a este usuario</h4>
                    {% endfor %}
                </div>
            {% else %}
                <h3 class="text-danger">
                    <strong>{{ employee.fullName }}</strong> sólo puede solicitar tarjetas para un tercero
                </h3>
            {% endif %}

            <hr/>

            <div class="row requisition-delegation">
                <div class="row">
                    <h4>Solicitud de tarjetas para otro funcionario</h4>

                    <p>Si requiere y se encuentra autorizado para solicitar tarjetas para otra persona de BancoEstado,
                        por favor ingrese el RUT de la persona de la cual requiere solicitar.</p>
                </div>

                <div class="row col-condensed">
                    {{ form_start(form) }}
                    <div class="col-md-6 rut-input">{{ form_row(form.rut) }}</div>
                    <div class="col-md-2">{{ form_widget(form.send) }}</div>
                    {{ form_end(form) }}
                </div>

                <div class="row">
                    <small>*La solicitud de tarjetas está sujeta a aprobación por parte de un evaluador técnico de la
                        Gerencia Logística
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}
