{% extends 'layout.twig' %}
{% set form = vcards %}
{% import '_partial/macros.twig' as macros %}
{% form_theme form with ['form_theme.twig', _self] %}

{% set product = data.product %}
{% set office = data.office %}

{% set codes = {
    'metropolitana': 2,
    'arica': 58,
    'tarapaca': 57,
    'antofagasta': 55,
    'atacama': 52,
    'coquimbo': 51,
    'valparaiso': 32,
    'ohiggins': 71,
    'maule': 73,
    'biobio': 43,
    'araucania': 45,
    'rios': 63,
    'lagos': 65,
    'aysen': 67,
    'magallanes': 61
} %}

{% set office_area_code = null %}
{% for reg, code in codes %}
    {% if office.city.parent.name matches '/('~ reg ~')/i' %}
        {% set office_area_code = code %}
    {% endif %}
{% endfor %}

{% block product_info_tabs %}
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#description" aria-controls="description" role="tab" data-toggle="tab">Descripción</a>
        </li>
        <li role="presentation">
            <a href="#technical-specs" aria-controls="technical-specs" role="tab" data-toggle="tab">Ficha Técnica</a>
        </li>
        <li role="presentation">
            <a href="#apply-specs" aria-controls="apply-specs" role="tab" data-toggle="tab">Material de Apoyo</a>
        </li>
    </ul>

    <div class="tab-content producto-tab-content">
        <div role="tabpanel" class="tab-pane active" id="description">{{ product.description }}</div>
        <div role="tabpanel" class="tab-pane" id="technical-specs">{{ product.technicalSpecs }}</div>
        <div role="tabpanel" class="tab-pane" id="apply-specs">{{ product.applySpecs }}</div>
    </div>
{% endblock product_info_tabs %}

{% block main_content %}
    <div class="row vcards-available">
        {% include 'vcard/_sidebar.twig' %}
        <div class="col-md-9 detalle-producto col-md-9-responsive">
            <div class="row titulo col-condensed">
                <h3 style="margin-bottom:0">{{ product.name }}</h3>
                <p>Código Técnico: {{ product.code }}</p>
            </div>

            <div class="row producto col-condensed">
                <div class="col-md-6 producto-img">
                    {% set imagePath = product.images|length ? product.images[0]|imagine_filter('products_request_main') : '' %}
                    <div style="width:400px;height:300px;background:url({{ imagePath }}) no-repeat center"></div>
                </div>

                <div class="col-md-6 producto-info">
                    {{ block('product_info_tabs') }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ block('form_vcards') }}
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block form_vcards %}
{% import _self as macros %}
    <h4>Por favor completar los siguientes datos</h4>

    {{ form_start(form, {
        attr: {
            id: 'vcard-requisition',
            style: 'position:relative'
        }}) }}
        {{ form_row(form.fullName) }}
        {{ form_row(form.position) }}

        <div class="form-group">
            <label class="col-sm-2 control-label" for="vcards_office">
                Dependencia (opcional)
            </label>
            <div class="col-sm-8">
                {{ form_widget(form.office) }}
            </div>
            <div class="col-md-2 pull-right" style="padding:0">
                {{ form_widget(form.showOffice) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="vcards_addressOffice">
                Dirección (opcional)
            </label>
            <div class="col-sm-8">
                {{ form_widget(form.addressOffice) }}
            </div>
            <div class="col-md-2 pull-right" style="padding:0">
                {{ form_widget(form.showAddress) }}
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-2 control-label">
                Piso/Local (Opcional)
            </label>
            <div class="col-sm-8">
                {{ form_widget(form.addressDetail) }}
            </div>
        </div>

        {{ form_row(form.city) }}
        {{ form_row(form.costCenter) }}
        {{ form_row(form.email) }}
        {{ form_row(form.areaCode) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.fax) }}
        {{ form_row(form.mobile) }}

        {% if form.contacts is defined %}
            {{ macros.contacts_type(form) }}
            {% do form.contacts.setRendered %}
        {% endif %}

        {{ form_row(form.comments) }}
        {{ form_row(form.quantity) }}

        <div class="clearfix">
            <div class="pull-right" style="padding: 14px 0;">
                <button type="button" class="btn btn-primary preview-vcard" data-loading-text="Procesando...">Previsualizar tarjeta</button>
                <button type="button" class="btn btn-warning preview-vcard" data-loading-text="Procesando...">Agregar solicitud</button>
            </div>
        </div>

        <div id="modal-preview" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Confirmar Pedido</h4>
                    </div>
                    <div class="modal-body">
                        <p>Revisa que tus datos estén correctos, ya que así se imprimirán tus tarjetas</p>
                        <div id="card-preview"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button id="confirmar-pedido" type="submit" class="btn btn-warning" data-loading-text="Procesando...">Confirmar pedido</button>
                    </div>
                </div>
            </div>
        </div>

        <p class="clearfix">
            ¿Necesitas más información? <a href="{{ path('contact_index') }}">Contacta a tu Coordinador/Gestor</a>
        </p>

        <div id="overlay">
            <div class="msg">
                <h4>Espera mientras procesamos tu solicitud...</h4>
            </div>
        </div>

    {{ form_end(form) }}

    {% verbatim %}
    <script type="text/x-template" id="vcard-preview">
        <div class="clearfix">
            <div class="preview-image-holder">
            <div class="vcard-preview-front {{ code }}" {% if has_contacts %}style="width:414px"{% endif %}>
                <p class="full-name" {% if code == 'tpcp-01' %}style="padding-top:37mm"{% endif %}>{{ fullName }}</p>
                <p class="extra-data">{{ position }}</p>
                {% if code != 'tpcp-01' and show_office %}
                    <p class="extra-data">{{ office.name }}</p>
                {% endif %}
                <p class="extra-data address">
                    {% if show_addr %}
                        {% if address_detail %}
                            {{ address.address }}, {{ address_detail }}, {{ address.city }}
                        {% else %}
                            {{ address.address }}, {{ address.city }}
                        {% endif %}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </p>
                <p class="extra-data">
                    <span>Teléfono:</span> (56 {{ areaCode }}) {{ phone }}

                    {% if fax %}, <span>Fax:</span> (56 {{ areaCode }}) {{ fax }}{% endif %}
                    {% if mobile %}, <span>Cel:</span> (56 9) {{ mobile }}{% endif %}
                </p>
                <p class="extra-data"> <span>E-mail:</span> {{ email }} - www.bancoestado.cl</p>
            </div>

            {% if has_contacts %}
                <div class="vcard-preview-back" style="float:right;width:414px;height:100%;display:flex;flex-direction:column">
                    <p>Otros contactos</p>

                    <div style="flex:1;display:flex;flex-direction:column;justify-content:center">
                        {% for contact in contacts %}
                        <div class="sub-contact">
                            <p class="full-name" style="text-transform: capitalize">{{ contact.fullName }}</p>
                            <p class="extra-data">{{ contact.position.title }}</p>
                            <p class="extra-data">
                                <span>N° de teléfono:</span> ({{ contact.areaCode }}) {{ contact.phone }}
                                <span>Email:</span> {{ contact.email }}
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </script>
    {% endverbatim %}

    <style type="text/css">
        @font-face { font-family: 'BancoEstadoA'; src: url('fonts/ScSC____.ttf') format('ttf') }
        @font-face { font-family: 'BancoEstadoB'; src: url('fonts/ScSCIt__.ttf') format('ttf') }
        @font-face { font-family: 'BancoEstadoC'; src: url('fonts/ScSLfRg_.ttf') format('ttf') }

        .vcard{margin-bottom:20px}
        .preview-image-holder{text-align:center}
        .vcard-preview-front p { text-align: center; line-height: 100% }
        .vcard-preview-front p.full-name { padding-top: 30mm; font-size: 10pt; }
        .vcard-preview-front p.extra-data { font-size: 8pt; }
        .vcard-preview-front p.address { padding-top: 3mm }
        .vcard-preview-back { text-align: center }
        .vcard-preview-back p.full-name { font-size: 10pt }
        .vcard-preview-back p.extra-data { font-size: 8pt }
        .modal-vcard-preview-double .modal-dialog,
        .modal-vcard-preview-double .modal-content{width:890px}
        .modal-vcard-preview-double .vcard-preview-front{float:left}
        .vcard-preview-back{border:2px solid darkgray;height:254px!important}

        .vcard-preview-front {height:254px;background-repeat:no-repeat;background-position:50% 50%}
        .tb-01, .ttr-01, .tgct-01 { background-image: url("{{ asset('assets/img/tarjeta-1.png') }}"); }
        .tb-03, .ttr-03 { background-image: url("{{ asset('assets/img/tarjeta-3.png') }}"); }
        .tb-04, .ttr-04 { background-image: url("{{ asset('assets/img/tarjeta-4.png') }}"); }
        .tb-06, .ttr-06 { background-image: url("{{ asset('assets/img/tarjeta-6.png') }}"); }
        .tpcp-01 { background-image: url("{{ asset('assets/img/tarjeta-7.png') }}"); }
        #overlay {text-align:center;display:none;position:absolute;width:100%;height:100%;top:0;left:0;bottom:0;right:0;background-color:rgba(0,0,0, .2);z-index:9999}
        #overlay .msg {padding:10px;text-align:center;margin:0 auto;background:white;display:inline-block;width:50%;margin-top:40%}
        #overlay .msg h4{margin:0;font-weight:bold}
        .sub-contact:nth-child(2) {border:1px solid silver;border-width:1px 0}
    </style>


{% endblock form_vcards %}

{% macro contacts_type(form) %}
    {% import _self as macros %}
    <h4>Datos contactos</h4>
    <p>Se pueden agregar hasta 3 datos de contactos.</p>

    {% set contacts_proto %}
        {{ macros.contacts_widget(form.contacts.vars.prototype)|e }}
    {% endset %}

    <div id="container-contact-js" data-prototype="{{ contacts_proto }}">
        {% for contact in form.contacts %}
            {{ macros.contacts_widget(contact) }}
        {% endfor %}
    </div>

    <div class="form-group" style="margin: 10px auto;">
        <a id="add-contact-js"
           class="btn btn-warning pull-right"
           data-proto-name="__vcards_contacts_name__"
        >Agregar nuevo contacto</a>
    </div>
{% endmacro %}

{% macro contacts_widget(form) %}
    {% spaceless %}
        <div id="container-__vcards_contacts_name__" class="vcard removable-item clearfix">
            {{ form_row(form.fullName) }}
            {{ form_row(form.position) }}
            {{ form_row(form.areaCode) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.email) }}

            <div class="pull-right toolbar">
                <button class="btn btn-danger btn-remove-item btn-remove-document">Eliminar</button>
            </div>
        </div>
    {% endspaceless %}
{% endmacro %}

{% block body_javascript %}
{{ parent() }}

<script type="text/javascript">
$(function () {
    var officeSelect = $('#vcards_office');
    var addressOffice = $('#vcards_addressOffice');
    var costCenter = $('#vcards_costCenter');
    var officeData = {};
    var container_contact = $('#container-contact-js');
    var prototype = container_contact.data('prototype');
    var length = container_contact.find('div.vcard').length;
    var counter = length;

    function addItem() {
        container_contact.append(prototype.replace(/__vcards_contacts_name__/g, counter++));
        container_contact.find('.betterSelect').select2({ theme: 'bootstrap' });
    }

    if (container_contact.length && 0 === length) {
        addItem();
    }

    $('#add-contact-js').on('click', function (e) {
        var length = container_contact.find('div.vcard').length;

        if (length >= 3) {
            return false;
        }

        addItem();
        initAreaCodeSelector();
    });

    addressOffice.on('change', function (e) {
        var sel = $('option:selected', this);
        var office = sel.val();
        if (office) {
            $.get('{{ path('vcard_office_detail') }}/' + office).done(function (d) {
                $('#vcards_city').val(d.city);
                $('#vcards_addressDetail').val(d.floor);
                sel.data('office', {
                   city: d.city,
                   address_detail: d.floor,
                   address: d.address
                });
            });
        }
    }).trigger('change');

    addressOffice.select2({
        theme: 'bootstrap',
        ajax: {
            url: function loadOfficeData () {
                return '{{ path('vcard_region_offices') }}/'
                    + officeSelect.find('option:selected').val();
            },
            processResults: function (data) {
                return { results: data };
            },
            results: function (data) {
                return { results: data }
            }
        }
    });

    function changeCostCenter(office) {
        officeData = office;
        costCenter.val(office.cost_center);
    }

    function changeAreaCode(select) {
        var areaCode = select.find('option:selected').val();
        var form = select.closest('form');
        var subform = select.closest('.vcard');
        var phone = form.find('[data-phone-number]');
        var mobile = form.find('[data-mobile-number]');
        var cphone = subform.find('[data-cphone-number]');

        phone.prev().text('+56 ('+areaCode+')');
        mobile.prev().text('+56 (9)');
        cphone.prev().text('+56 ('+areaCode+')');
    }

    function initAreaCodeSelector() {
        $('[data-area-code-selector]').on('change', function () {
            changeAreaCode($(this));
        }).each(function (i, e) {
            changeAreaCode($(this));
        });
    }

    $('#vcards_charge').on('change', function () {
        $('#vcards_is_supplier').val(true);
    });

    officeSelect.on('change', function () {
        var office = $('option:selected', this).data('office');
        var selection = $('<option value="'+office.id+'">'+office.address+'</option>')
        selection.data('office', office);
        addressOffice
            .empty()
            .append(selection)
            .val(office.id)
            .trigger('change')
        ;
        $('#vcards_city').val("");
        $('#vcards_addressDetail').val("");
        changeCostCenter(office);
    });

    changeCostCenter(officeSelect.find('option:selected').data('office'));

    {% if office_area_code %}
        $('[data-area-code-selector]').val({{ office_area_code }});
    {% endif %}

    initAreaCodeSelector();

    var patterns = {
        validate: /^[a-z_][a-z0-9_]*(?:\[(?:\d*|[a-z0-9_]+)\])*$/i,
        key:      /[a-z0-9_]+|(?=\[\])/gi,
        push:     /^$/,
        fixed:    /^\d+$/,
        named:    /^[a-z0-9_]+$/i
    };

    function FormSerializer(helper, $form) {
        var data = {}, pushes = {};

        function build(base, key, value) {
            base[key] = value;
            return base;
        }

        function makeObject(root, value) {
            var keys = root.match(patterns.key), k;

            while ((k = keys.pop()) !== undefined) {
                if (patterns.push.test(k)) {
                    var idx = incrementPush(root.replace(/\[\]$/, ''));
                    value = build([], idx, value);
                }
                else if (patterns.fixed.test(k)) {
                    value = build([], k, value);
                }
                else if (patterns.named.test(k)) {
                    value = build({}, k, value);
                }
            }

            return value;
        }

        function incrementPush(key) {
            if (pushes[key] === undefined) {
                pushes[key] = 0;
            }
            return pushes[key]++;
        }

        function encode(pair) {
            switch ($('[name="' + pair.name + '"]', $form).attr("type")) {
                case "checkbox":
                    return pair.value === "on" ? true : pair.value;
                default:
                    return pair.value;
            }
        }

        function addPair(pair) {
            if (!patterns.validate.test(pair.name)) return this;
            var obj = makeObject(pair.name, encode(pair));
            data = helper.extend(true, data, obj);
            return this;
        }

        function addPairs(pairs) {
            if (!helper.isArray(pairs)) {
                throw new Error("formSerializer.addPairs expects an Array");
            }
            for (var i=0, len=pairs.length; i<len; i++) {
                this.addPair(pairs[i]);
            }
            return this;
        }

        function serialize() {
            return data;
        }

        function serializeJSON() {
            return JSON.stringify(serialize());
        }

        this.addPair = addPair;
        this.addPairs = addPairs;
        this.serialize = serialize;
        this.serializeJSON = serializeJSON;
    }

    FormSerializer.patterns = patterns;

    FormSerializer.serializeObject = function serializeObject() {
        return new FormSerializer($, this).addPairs(this.serializeArray()).serialize();
    };

    FormSerializer.serializeJSON = function serializeJSON() {
        return new FormSerializer($, this).addPairs(this.serializeArray()).serializeJSON();
    };

    if (typeof $.fn !== "undefined") {
        $.fn.serializeObject = FormSerializer.serializeObject;
        $.fn.serializeJSON   = FormSerializer.serializeJSON;
    }

    function capitalize(str) {
        return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
    }

    function validateXForm(form, response) {
        var config = response[form.attr('name')];

        form.find('.error-list').remove();
        form.find('.form-group').removeClass('has-error');

        if (config.vars.valid) {
            return true;
        }

        $.each(config.vars.errors.form.children, function(field, item) {
            if (typeof item.errors === 'undefined') {
                return;
            }

            $('#' + config.children[field].vars.id)
                .closest('.form-group')
                .addClass('has-error')
                .find('.col-sm-10')
                .append(renderError(item.errors))
            ;
        });

        return false;
    }

    $("#vcard-requisition").on('submit',function(e) {
        e.preventDefault();

        var form = $(this);

        $('#confirmar-pedido').button('loading');
        $('.preview-vcard').button('loading');
        $('#overlay').show();

        $.post(form.attr('action'), form.serialize())
            .done(function (result) {
                if (validateXForm(form, result)) {
                    $('#confirmar-pedido').button('reset');
                    $('.preview-vcard').button('reset');

                    bootbox.alert('Su pedido ha sido enviado exitosamente', function () {
                        window.location.href = '{{ path('dashboard') }}';
                    });
                }
            })
            .always(function () {
                 $('#confirmar-pedido').button('reset');
                 $('.preview-vcard').button('reset');
                 $('#overlay').hide();
            })
        ;
    });

    $('#confirmar-pedido').on('click', function () {
        var $form = $("#vcard-requisition");

        if (!$form.checkValidity || $form.checkValidity()) {
            $('#modal-preview').modal('hide');
        }
    });

    $('.preview-vcard').on('click', function (e) {
        e.preventDefault();

        var template = twig({ data: $('#vcard-preview').html() });

        var form = $('#vcard-requisition');
        var position = $('#vcards_position');
        var data = form.serializeObject();

        data.vcards['code'] = "{{ product.code }}".toLowerCase();
        data.vcards['fullName'] = capitalize(data.vcards['fullName']);
        data.vcards['office'] = officeData;
        data.vcards['address'] = $('#vcards_addressOffice').find('option:selected').data('office');
        data.vcards['address_detail'] = $('#vcards_addressDetail').val();
        data.vcards['position'] = position.find('option:selected').data('position');
        data.vcards['has_contacts'] = isDouble = data.vcards.hasOwnProperty('contacts');
        data.vcards['show_addr'] = $('#vcards_showAddress').prop('checked');
        data.vcards['show_office'] = $('#vcards_showOffice').prop('checked');

        $('#card-preview')
            .html(template.render(data.vcards));

        $('#modal-preview')
            .addClass(isDouble ? 'modal-vcard-preview-double' : 'modal-vcard-preview')
            .addClass('tbl-1')
            .modal('show')
        ;
    });
});
</script>
{% endblock %}
