{% extends 'layout.twig' %}

{% block main_content %}
    <div class="row">
        <div class="col-md-12">
            {% for item in cart %}
                <div class="row" style="border: 1px solid #ddd; padding: 10px 0; margin-bottom: 10px">
                    <div class="col-md-6">
                        <p><strong> Número solicitud: {{ item.number }} </strong></p>
                        <p><span><strong>Nombre del pedido:</strong> {{ item.request }}</span></p>
                        <p><span><strong>Fecha tentativa:</strong> {{ item.date|date('m-d-Y') }}</span></p>
                        <p><span><strong>Descripción</strong> {{ item.description }}</span></p>

                        {% if app.environment != 'prod' %}
                           <p><span><strong>Asignado: </strong> {{ item.assignee.username|default('-') }}</span></p>
                        {% endif %}

                        <a href="{{ path('solicitud_especial_editar', { id: item.id }) }}"
                           class="btn btn-sm btn-primary btn-send-request">Editar solicitud</a>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-condensed table-striped" style="margin-bottom:0">
                            <tbody>
                            {% for file in item.files %}
                                <tr>
                                    <td>
                                        <a href="{{ path('download_file', { fileName: file.name }) }}">{{ file.originalName }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                El carro se encuentra vacío
            {% endfor %}
        </div>
    </div>

    {% if cart|length %}
        <div class="row" style="text-align: right">
            <a href="{{ path('solicitudes_especiales') }}" class="btn btn-primary">Agregar nueva solicitud</a>
            <button id="send-requests"
                    data-action="{{ path('solicitudes_especiales_enviar') }}"
                    data-redirect="{{ path('dashboard') }}"
                    class="btn btn-warning">Enviar a aprobación</button>
        </div>

        <script>
            $(function () {
                $('#send-requests').on('click', function () {
                    var btn = $(this);

                    $.post(btn.data('action'))
                        .done(function () {
                            bootbox.alert('Las solicitudes han sido enviadas correctamente', function () {
                                window.location.replace(btn.data('redirect'));
                            });
                        })
                        .fail(function (error) {
                            console.log(error);
                            bootbox.alert('Ha ocurrido un error al enviar las solicitudes');
                        })
                    ;
                });
            });
        </script>
    {% endif %}
{% endblock %}