{% extends 'notification/templates/layout.twig' %}

{% block greeting %}
    Estimado usuario:
{% endblock %}

{% block content %}
    <p>Ha recibido el siguiente mensaje a través del formulario de contacto del Sistema de Requerimientos de BancoEstado</p>

    <p><strong>Remitente: </strong>{{ contact.name }} <strong>({{ contact.from }})</strong></p>
    <p><strong>Asunto: </strong>{{ contact.subject }}</p>
    <p><strong>Mensaje: </strong>{{ contact.message }}</p>

{% endblock %}
