{% set selected = data.selectedCompany %}

<style type="text/css">
    table th, table td { padding: 5px 20px 5px 0 }
    .section {margin-bottom: 15px}
    .is-pep { color: red }
    .no-pep { color: green }
</style>

<page>

<div class="section">
    <h3>Formulario de validación de proveedores PEP</h3>
    <p class="intro" style="margin-bottom: 30px">El número de correlativo debe ser usado en todos los documentos que respaldan la compra (acta de adjudicación,orden de compra, solicitud de compra)</p>

    <table>
        <tr>
            <th>N° Formulario</th>
            <td><strong>{{ data.formNumber }}</strong></td>
        </tr>
        <tr>
            <th>Fecha de ingreso</th>
            <td>{{ data.createdAt|date('d-m-Y H:i:s') }}</td>
        </tr>
        <tr>
            <th>Responsable formulario</th>
            <td>{{ employee.fullName|default(user.username) }}</td>
        </tr>
        <tr>
            <th>Unidad de trabajo</th>
            <td>{{ employee.office.name|default('') }}</td>
        </tr>
        <tr>
            <th>Teléfono de contacto</th>
            <td>{{ employee.phone|default('') }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
    </table>
</div>

<div class="section">
    <div class="col-md-6">
        <h4>Modalidad de compra</h4>
        {{ data.purchaseMode|trans }}
    </div>
</div>

<div class="section">
    <h4>Datos de compra</h4>

    <table>
        <tr>
            <th>Tramo de compra</th>
        </tr>
        <tr>
            <td>{{ data.purchaseRange|trans }}</td>
        </tr>
        <tr>
            <th>Breve descripción de compra</th>
        </tr>
        <tr>
            <td>{{ data.description }}</td>
        </tr>
    </table>
</div>

<div class="section">
    <h4>Proveedor adjudicado</h4>

    {% set company = selected %}
    <div class="company-container">
        <div class="row col-condensed">
            <div class="col-md-8">
                <table class="table table-condensed table-borderless company">
                    <tbody>
                    <tr>
                        <th>RUT</th>
                        <td>{{ company.rut }} ({{ company.type == 0 ? 'Persona jurídica' : 'Persona natural' }}) {% if company.type == 1 %}{% if company.isPep %}<strong style="color:red">({{ (company.isPep is iterable ? company.isPep[0] : company.isPep)|trans }})</strong>{% else %}<strong style="color:green">(No es PEP)</strong>{% endif %}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <td>{{ company.name }}</td>
                    </tr>
                    {% if company.type == 0 %}
                        <tr>
                            <th>Representantes legales</th>
                            <td>
                                {% for representative in company.representatives %}
                                    <table class="table table-condensed table-representatives">
                                        <tr>
                                            <th>RUT representante legal</th>
                                            <td>{{ representative.rut }} {% if representative.isPep %}<strong class="is-pep">({{ representative.isPep|trans }})</strong>{% else %}<strong class="no-pep">(No es PEP)</strong>{% endif %}</td>
                                        </tr>
                                        <tr>
                                            <th>Nombre representante legal</th>
                                            <td>{{ representative.name }}</td>
                                        </tr>
                                    </table>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>Accionistas y/o socios</th>
                            <td>
                                {% for shareholder in company.shareholders %}
                                    <div class="shareholder-container">
                                        <table class="table table-condensed table-shareholders">
                                            <tr>
                                                <th>RUT accionista o socio</th>
                                                <td>{{ shareholder.rut }} {% if shareholder.isPep %}<strong class="is-pep">({{ shareholder.isPep|trans }})</strong>{% else %}<strong class="no-pep">(No es PEP)</strong>{% endif %}</td>
                                            </tr>
                                            <tr>
                                                <th>Nombre accionista o socio</th>
                                                <td>{{ shareholder.name }}</td>
                                            </tr>
                                            <tr>
                                                <th>Porcentaje de participación</th>
                                                <td>{{ shareholder.share }}%</td>
                                            </tr>
                                        </table>
                                    </div>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% if selected.hasPeps %}
    <div style="font-size:11px">
        <h4>PEP</h4>

        {% if data.purchaseRange == 'pep.lt_2kuf' %}
            <p>Compras hasta los 2000 UF deben pasar por Comité de compras especiales para su aprobación</p>
            <p>Para poder adjudicar a esta empresa usted deberá presentar la siguiente documentación al Comité de Compras Especiales:</p>
        {% elseif data.purchaseRange == 'pep.gt_2kuf' %}
            <p>Compras superior a 2000 UF deben pasar por Comité Ejecutivo para su aprobación</p>
            <p>Para poder adjudicar a esta empresa usted deberá presentar la siguiente documentación:</p>
        {% endif %}

        <ul>
            <li>La existencia de la sociedad, mediante copias de las escrituras e inscripciones correspondientes.</li>
            <li>Identificación de los propietarios de la empresa -accionistas o socios- y de las personas que componen su nivel directivo y los cargos que ocupan, de acuerdo al tipo de sociedad de que se trate.</li>
            <li>Identificarse sus representantes legales, las actividades que desarrolla la empresa, su dirección y números telefónicos.</li>
        </ul>

        <p>Una vez obtenida la aprobación del Comité, esta se deberá adjuntarla en el proceso de adjudicación.</p>
    </div>
{% endif %}

    <page_footer>
        <span style="text-align:center;color:#aaa;font-size:11px">
            Sistema de Requerimientos de BancoEstado - <strong>{{ uuid }}</strong> - {{ "now"|date('d-m-Y H:i:s') }}</span>
    </page_footer>
</page>
