{% extends 'content.twig' %}

{% block body_cls 'pep-page' %}

{% block main_content %}
    <div class="row" style="margin-bottom:20px">
        <h3 style="padding:0;margin:0">Bienvenido, {{ get_real_username() }}</h3>
    </div>

    <div class="row title">
        <h3>{% block pep_title %}{% endblock %}</h3>
    </div>

    {% block pep_workflow %}
    <div class="row workflow">
        {% include 'pep/workflow.twig' %}
    </div>
    {% endblock %}

    <div class="row content">
        {% block pep_content %}{% endblock %}
    </div>
{% endblock %}