{% extends 'pep/layout.twig' %}
{% import '_partial/macros.twig' as macros %}

{% block pep_workflow '' %}

{% block pep_content %}
    <table class="table table-striped table-condensed">
       <thead>
            <th>N° de formulario</th>
            <th>Fecha de ingreso</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th></th>
       </thead>
       <tbody>
        {% for item in data %}
            {% set routes = {
                'pep.created': 'pep_register',
                'pep.validated': 'pep_checkout',
                'pep.accepted': 'pep_selection',
                'pep.granted': 'pep_grant_preview'
            } %}
            {% set detail = path(routes[item.status], { id: item.id }) %}
            <tr>
                <td><a href="{{ detail }}">{{ item.formNumber }}</a></td>
                <td>{{ item.createdAt|date('d-m-Y H:i:s') }}</td>
                <td>{{ item.shortDescription }}</td>
                <td>{{ item.status|trans }}</td>
                <td><a href="{{ detail }}" class="btn btn-sm btn-warning">Revisar</a></td>
            </tr>
        {% endfor %} 
       </tbody>
    </table>
{% endblock %}