{% extends 'pep/layout.twig' %}
{% import '_partial/macros.twig' as macros %}

{% block body_id 'pep-selection' %}
{% set workflow_state = 2 %}

{% block pep_title %}Selección de proveedor{% endblock %}

{% block company_pep_info %}
    <div class="pep-message panel panel-default">
        <div class="panel-heading">
            {{ macros.glyphicon('exclamation-sign') }} Persona PEP
        </div>
        <div class="panel-body">
            {% set whom %}
                {% if data.purchaseRange == 'pep.lt_2kuf' %}
                    Comité de Compras especiales
                {% else %}
                    Comité Ejecutivo
                {% endif %}
            {% endset %}
            <p>Para poder adjudicar a esta empresa usted deberá presentar la siguiente documentación al <strong>{{ whom }}</strong>:
            <ul>
                <li>La existencia de la sociedad, mediante copias de las escrituras e inscripciones correspondientes.</li>
                <li>Identificación de los propietarios de la empresa -accionistas o socios- y de las personas que componen su nivel directivo y los cargos que ocupan, de acuerdo al tipo de sociedad de que se trate.</li>
                <li>Identificarse sus representantes legales, las actividades que desarrolla la empresa, su dirección y números telefónicos</li>
            </ul>
            <p>Una vez obtenida la aprobación del Comité, esta se deberá adjuntarla en el proceso de adjudicación.</p>
            </p>
        </div>
    </div>
{% endblock %}

{% block company_block %}
    <div class="company-container">
        <div class="panel panel-{{ company.hasPeps ? 'danger' : 'success' }}">
            <div class="panel-heading">
                <strong>{{ macros.glyphicon(company.hasPeps ? 'alert' : 'ok') }} Empresa {{ company.hasPeps ? 'con' : 'sin' }} PEP</strong>
            </div>

            <div class="row col-condensed">
                <div class="col-md-8">
                    <table class="table table-striped company">
                        <tbody>
                            <tr>
                                <th>RUT</th>
                                <td>{{ company.rut }}</td>
                            </tr>
                            <tr>
                                <th>Nombre</th>
                                <td>{{ company.name }}</td>
                            </tr>
                            {% if company.type == 0 %}
                                <tr>
                                    <th>Representantes legales</th>
                                    <td>
                                        {% for representative in company.representatives %} 
                                            {{ block('company_representative') }}
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Accionistas y/o socios</th>
                                    <td>
                                        {% for shareholder in company.shareholders %}
                                            {{ block('company_shareholder') }}
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Documentos adjuntos de la empresa</th>
                                    <td>
                                        <table class="table table-striped table-shareholders">
                                        {% for document in company.documents %}
                                            {% for filename, path in document %}
                                                <tr>
                                                    <td><a href="{{ asset('download/' ~ path) }}">{{ filename }}</a></td> 
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                        </table>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    {% if company.hasPeps %}
                        {{ block('company_pep_info') }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block company_representative %}
    <div class="representative-container">
        {% if representative.isPep %}
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <strong>{{ macros.glyphicon('alert') }} {{ representative.isPep|trans }}</strong>
                </div>
        {% endif %}

        <table class="table table-striped table-representatives">
            <tr>
                <th>RUT</th>
                <td>{{ representative.rut }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ representative.name }}</td>
            </tr>
        </table>

         {% if representative.isPep %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block company_shareholder %}
    <div class="shareholder-container">
        {% if shareholder.isPep %}
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <strong>{{ macros.glyphicon('alert') }} {{ shareholder.isPep|trans }}</strong>
                </div>
        {% endif %}

        <table class="table table-striped table-shareholders">
            <tr>
                <th>RUT</th>
                <td>{{ shareholder.rut }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ shareholder.name }}</td>
            </tr>
            <tr>
                <th>Porcentaje de participación</th>
                <td>{{ shareholder.share }}%</td>
            </tr>
        </table>

        {% if shareholder.isPep %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block pep_content %}
<form action="{{ path('pep_grant', { id: data.id }) }}" method="POST">
    <div class="row col-condensed pep-form-block pep-requester">
        <div class="panel panel-default">
            <div class="panel-heading">Número de formulario de registro PEP</div>
            <div class="panel-body">

                <p><label>N° Formulario</label><strong>{{ data.formNumber }}</strong></p>
                <p><label>Fecha Ingreso</label><span>{{ data.createdAt|date('d-m-Y H:i:s') }}</span></p>
                <p><label>Responsable formulario</label><span>{{ employee.fullName|default(user.username) }}</span></p>
                <p><label>Unidad de trabajo</label><span>{{ employee.office.name|default('') }}</span></p>
                <p><label>Teléfono de contacto</label><span>{{ employee.phone|default('') }}</span></p>
                <p><label>Email</label><span>{{ user.email }}</span></p>
            </div>
        </div>
    </div>
    
    <div class="row col-condensed pep-form-block">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Modalidad de compra</div>
                <div class="panel-body">{{ data.purchaseMode|trans }}</div>
            </div>
        </div>
    </div>

    <div class="row col-condensed pep-form-block">
        <div class="panel panel-default">
            <div class="panel-heading">Datos de compra</div>
            <div class="panel-body">
                <p><label>Tramo de compra</label>{{ data.purchaseRange|trans }}</p>
                <p><label>Breve descripción de compra</label>{{ data.description }}</p>
            </div>
        </div>
    </div>

    <div class="row col-condensed pep-form-block">
        <div class="panel panel-default">
            <div class="panel-heading">Informar proveedor adjudicado</div>
            <div class="panel-body">
                <table class="table table-striped table-condensed">
                    {% for company in data.companies %}
                        <tr>
                            <td>
                                <input type="radio" name="company[]" value="{{ company.rut }}" required /> {{ company.name }}
                            </td>
                            <td>
                                <span class="label label-{{ company.hasPeps ? 'danger' : 'success' }}" style="font-size:14px;font-weight:normal">
                                    Empresa {{ company.hasPeps ? 'con' : 'sin' }} persona PEP {{ macros.glyphicon(company.hasPeps ? 'alert' : 'ok') }}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div class="row col-condensed pep-form-block companies">
        <div class="panel panel-default">
            <div class="panel-heading">Registro de proveedores</div>
            <div class="panel-body">
                {% for company in data.companies %}
                    {{ block('company_block') }}
                {% endfor %}
            </div>
        </div>
    </div>

    {% set restriction = false %}
    {% for company in data.companies %}
        {% set restriction = company.hasPeps %}
    {% endfor %}

    {% if restriction %}
        <div class="row col-condensed pep-form-block">
            <div class="panel panel-default">
                <div class="panel-heading">Medidas restrictivas</div>
                <div class="panel-body">
                    {%- for k in data.companies -%}
                        {% if k.hasPeps %}
                            <p><label>MR 4-51</label><span>Empresa {{ loop.index }} requiere aprobación PEP</span></p>
                        {%- endif -%}
                    {%- endfor -%}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row col-condensed pep-form-block pull-right">
        <a href="{{ path('dashboard') }}" class="btn btn-warning">Volver</a>
        <input type="submit" value="Continuar" class="btn btn-success" />
    </div>
</form>
{% endblock %}