{{ requisition_status_grid(
    title_tag = 'h2',
    grid_title = 'Últimos pedidos ingresados'|trans ~ ' ('~ 'product.created.product.centralized'|trans ~ ')',
    requisitions = dashboard_query_aggregator.getQueryResult('requisition.product.created'),
    hide_if_empty = true,
    empty_text = 'No tiene solicitudes en el registro',
    dataSlice = 5,
    titleTag = 'h3',
    itemRoute = 'requisition_detail',
    customTemplate = '_status_grid_backoffice.twig',
    hide_view_more = true,
    attributes = {
        'data-table': true,
        'data-searching': false,
        'data-page-length': 10,
        'data-order': [[1, 'desc']]
    })
}}

{{ requisition_status_grid(
    title_tag = 'h2',
    grid_title = 'Últimas mantenciones ingresadas'|trans~ ' ('~ 'product.created.product.centralized'|trans ~ ')',
    requisitions = dashboard_query_aggregator.getQueryResult('requisition.maintenance.created'),
    hide_if_empty = true,
    empty_text = 'No tiene solicitudes en el registro',
    dataSlice = 5,
    titleTag = 'h3',
    itemRoute = 'requisition_detail',
    customTemplate = '_status_grid_backoffice.twig',
    hide_view_more = true,
    attributes = {
        'data-table': true,
        'data-searching': false,
        'data-page-length': 10,
        'data-order': [[1, 'desc']]
    },
    type = 'maintenance'
    )
}}

{{ requisition_status_grid(
    title_tag = 'h2',
    grid_title = 'Últimos autogestión ingresados'|trans~ ' ('~ 'product.approved.self_management.centralized'|trans ~ ')',
    requisitions = dashboard_query_aggregator.getQueryResult('requisition.self.management.created'),
    hide_if_empty = true,
    empty_text = 'No tiene solicitudes ' ~ 'product.approved.self_management.centralized'|trans,
    dataSlice = 5,
    titleTag = 'h3',
    itemRoute = 'requisition_detail',
    customTemplate = '_status_grid_backoffice.twig',
    hide_view_more = true,
    attributes = {
        'data-table': true,
        'data-searching': false,
        'data-page-length': 10,
        'data-order': [[1, 'desc']]
    },
    type = 'self.management'
    )
}}

{#{{ requisition_status_grid(
    title_tag = 'h2',
    grid_title = 'Últimas PEP ingresados'|trans,
    requisitions = dashboard_query_aggregator.getQueryResult('pep.created'),
    hide_if_empty = true,
    empty_text = 'No tiene solicitudes en el registro',
    dataSlice = 5,
    titleTag = 'h3',
    itemRoute = 'requirement_detail',
    customTemplate = '_status_grid_backoffice.twig',
    hide_view_more = true,
    attributes = {
        'data-table': true,
        'data-searching': false,
        'data-page-length': 10,
        'data-order': [[1, 'desc']]
    },
    type = 'pep'
    )
}}#}
