<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li id="nav_inicio" class="active"><a href="{{ path('dashboard') }}">Inicio</a></li>
            <li id="nav_pedidos"><a href="{{ path('backoffice_products') }}">Pedidos</a></li>
            <li id="nav_mantencion"><a href="{{ path('backoffice_maintenance') }}">Mantención</a></li>
            <li id="nav_autogestion"><a href="{{ path('backoffice_self_management') }}">Autogestión</a></li>
            {#<li id="nav_pep"><a href="{{ path('backoffice_pep') }}">PEP</a></li>#}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reportes <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#reports_bi_general_cmmd">BI General</a></li>
                    <li><a href="#reports_bi_general_daily">BI General Diario</a></li>
                    <li><a href="{{ path('report_requisition_bi_general',{'type': 'requisition.product'}) }}">BI Pedidos</a></li>
                    <li><a href="{{ path('report_requisition_bi_general',{'type': 'requisition.self_management'}) }}">BI Autogestión</a></li>
                    <li><a href="{{ path('report_requisition_bi_general',{'type': 'requisition.maintenance'}) }}">BI Mantenciones</a></li>
                    <li><a href="{{ path('report_requisition_general_vcard') }}">BI Tarjetas</a></li>
                    <li><a href="{{ path('report_pep_bi_general') }}">BI PEP</a></li>
                    <li><a href="{{ path('report_users_general') }}">Reporte usuarios</a></li>
                </ul>
            </li>
        </ul>
    </div>

    {% include 'dashboard/_partial/report_bi_general_daily.twig' %}
</nav>

