<ul>
{% for alert in alerts %}
        {% if alert.type == 'requisition.product' or alert.type == 'requisition.self_management' or alert.type == 'requisition.maintenance' %}
            {% set route = 'requisition_detail' %}
        {% elseif alert.type == 'pep' %}
            {% set route = 'pep_detail' %}
        {% endif %}
        {% set detail = path(route, { id: alert.id }) %}
        <li>
            <p>{{ alert.status|trans }}</p>
            <p>{{ alert.updatedAt|date('d/m/Y h:ia') }}</p>
            <p>Solicitud Nro <a href="{{ detail }}"> {{ alert.number }}</a></p>
        </li>
    {% endfor %}
</ul>
