{% trans_default_domain 'TionvelBiddingBundle' %}

<style>
    .modal .table {margin:0}
    .modal .table thead {color:black}
    .modal .table thead tr th { padding: 2px 5px!important; }
</style>

{% set content %}
    {% set bidding = item %}
    {% set key = '' %}
    {% set m = bidding.metadata %}
    {% set documents = {
        compra: {
            when: expr("has_metadata(object, '_aceptar_compra_directa')", { object: bidding }),
            datetime: m['_aceptar_compra_directa'] is defined ? m['_aceptar_compra_directa']['datetime'] : 'now'|date('d/m/Y H:i:s')
        },
        adjudicacion: {
            when: expr("has_metadata(object, '_aceptar_adjudicacion')", { object: bidding }),
            datetime: m['_aceptar_adjudicacion'] is defined ? m['_aceptar_adjudicacion']['datetime'] : 'now'|date('d/m/Y H:i:s')
        },
        desierta: {
            when: bidding.state == 'subasta_desierta',
            datetime: m['_declarar_desierta'] is defined ? m['_declarar_desierta']['datetime'] :
            (m['_cancelar_subasta'] is defined ? m['_cancelar_subasta']['datetime'] : 'now'|date('d/m/Y H:i:s'))
        },
        orden_compra: {
            when: expr("has_metadata(object, '_aceptar_adjudicacion')", { object: bidding }),
            datetime: m['_aceptar_adjudicacion'] is defined ? m['_aceptar_adjudicacion']['datetime'] : 'now'|date('d/m/Y H:i:s')
        }
    } %}

    <table class="table table-condensed" style="">
        <tbody>
        {% for doc, opts in documents %}
            {% set has_document = opts['when'] %}
            <tr>
                <td style="width:90%">{{ (doc ~ '_document')|trans }}</td>
                <td style="white-space:nowrap">
                    {% if has_document %}
                        {{ opts['datetime']|default('now'|date('d/m/Y H:i:s')) }}
                    {% endif %}
                </td>
                <td style="white-space:nowrap">
                    {% if has_document %}
                        {% set params = { id: bidding.id, name: doc } %}
                        <a href="{{ path('tionvel_bidding_pdf_document', params) }}" target="_blank" class="btn btn-xs btn-primary" style="padding:2px 5px">
                            <i class="glyphicon glyphicon-share-alt"></i>
                            Ver archivo
                        </a>
                    {% else %}
                        No disponible
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endset %}

{% embed '@TionvelBidding/Bidding/admin/_row_modal.html.twig' %}
    {% block modal_id 'documents-' ~ item.id %}
    {% block modal_title 'Documentos compra N°' ~ item.getNumber() %}
    {% block modal_body content %}
{% endembed %}

<button class="btn btn-xs btn-primary"
    data-toggle="modal"
    data-target="#_modal-documents-{{ item.id }}"
    style="font-weight:bold;padding:2px 5px"
>
    Documentos
</button>
