<div id="form-provedor-js" class="hide" style="padding: 20px 0">
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div style="text-align: right">
        <a href="{{ path('dashboard') }}" class="btn btn-warning">Volver al inicio</a>
        <button type="submit" class="btn btn-success">Aprobar</button>
    </div>

    {{ form_end(form) }}
</div>
<script>
    $('#provider_rut').on('change', function () {
        $.ajax({
            url: '{{ path("find_supplier") }}',
            async: false,
            data: {
                r: $(this).val()
            },
            type: "get",
            dataType: "json",
            success: function (data) {
                if (!data.results) {
                    return;
                }

                $('#provider_city').val(data.results.city.id);
                $('#provider_telephono').val(data.results.phone);
                $('#provider_email').val(data.results.representatives[0].email);
                $('#provider_name').val(data.results.name);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                bootbox.alert(thrownError);
            }
        });
    });
</script>