<div id="comments-history" class="row {% if special_request.comments|length == 0 %}hide{% endif %}" style="margin-top: 20px;">
    <div class="col-md-12 panel-tarjeta">
        <h3>Historial de mensajes</h3>
    </div>
    <div class="col-md-12 tarjeta-datos">
        <div id="comment-stream" style="max-height: 300px; overflow-y: scroll; padding: 10px;">
        {% for comment in special_request.comments %}
            {% set same_user = comment.user == app.user.username %}
            {% set align = same_user ? 'right' : 'left' %}
            {% set color = same_user ? '#dcf8c6' : 'white' %}
            <div class="comment-item clearfix" style="margin-bottom: 10px">
                <div class="content clearfix" style="max-width: 50%;padding:10px 10px 0 10px;float:{{ align }};text-align:{{ align }};background-color:{{ color }}">
                    <p class="message">{{ comment.comment }}</p>
                    <p style="white-space: nowrap"><small class="user">{{ comment.user }}</small> - <small class="timestamp">{{ comment.datetime }}</small></p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <script>
        $(function () {
            $('#comment-stream').scrollTop($('#comment-stream').prop('scrollHeight'));
        });
    </script>
</div>

{% if special_request.state == 'state.evaluation' %}
<div class="row" style="margin-top:20px">
    <div class="col-md-12 panel-tarjeta">
        <h3>
            {% if is_granted('ROLE_APPROVER_SPECIAL') %}
                Pedir más información al solicitante
            {% elseif is_granted('ROLE_REQUESTER') %}
                Responder al evaluador
            {% endif %}
        </h3>
    </div>
    <div class="col-md-12 tarjeta-datos" style="padding:20px 0">
        <div class="col-md-12">
            <textarea id="response" maxlength="500" style="width:100%"></textarea>
        </div>

        <div class="col-md-12" style="margin-top:20px">
            <button id="add-comment" class="btn btn-warning pull-right"
                data-action="{{ path('solicitud_agregar_comentario', { id: special_request.id }) }}"
                data-loading-text="Enviando...">Enviar mensaje</button>
        </div>

        {% set tpl %}
            {%- spaceless -%}
            <div class="comment-item clearfix" style="margin-bottom: 10px">
                <div class="content clearfix" style="max-width:50%;padding:10px 10px 0 10px">
                    <p class="message"></p>
                    <p style="white-space: nowrap"><small class="user"></small> - <small class="timestamp"></small></p>
                </div>
            </div>
            {%- endspaceless -%}
        {% endset %}

        <script>
            $(function () {
                $('#add-comment').on('click', function () {
                    var btn = $(this).button('loading');
                    var msg = $('#response').val();
                    var stream = $('#comment-stream');
                    var tpl = $('{{ tpl  }}');

                    $.post(btn.data('action'), { comment: msg })
                        .done(function (res) {
                            tpl.find('.message').html(res.comment);
                            tpl.find('.user').html(res.user);
                            tpl.find('.timestamp').html(res.datetime);
                            tpl.find('.content').css({
                                float: 'right',
                                'background-color': '#dcf8c6',
                                'text-align': 'right'
                            });
                            stream.append(tpl).scrollTop(stream.prop('scrollHeight'));
                            $('#comments-history').removeClass('hide');
                            $('#response').val('')
                        })
                        .fail(function () {
                            bootbox.alert('Ha ocurrido un error al enviar el mensaje');
                        })
                        .always(function () {
                            btn.button('reset');
                        })
                    ;
                });
            });
        </script>
    </div>
</div>
{% endif %}

