<div class="row" style="margin-top: 20px;">
    <div class="col-md-12 panel-tarjeta">
        <h3>Número solicitud {{ special_request.number }}</h3>
    </div>
    <div class="col-md-12 tarjeta-datos">
        <p><span><strong>Nombre del pedido:</strong> {{ special_request.request }}</span></p>
        <p><span><strong>Fecha tentativa:</strong> {{ special_request.date|date('m-d-Y') }}</span></p>
        <p><span><strong>Descripción:</strong> {{ special_request.description }}</span></p>
        {% if special_request.files|length %}
            <p><span><strong>Archivos adjuntos: </strong>
                {% for file in special_request.files %}
                    <a href="{{ path('download_file', { fileName: file.name }) }}">{{ file.originalName }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </span></p>
        {% endif %}
    </div>
</div>