{% if special_request.rejectionComment %}
<div class="row" style="margin-top: 20px;">
    <div class="col-md-12 panel-tarjeta" style="background: #d9534f !important">
        <h3>Rechazada</h3>
    </div>
    <div class="col-md-12 tarjeta-datos">
        <p>{{ special_request.rejectionComment }}</p>
    </div>
</div>
{% endif %}
