{% set requester = special_request.requester.employee %}
{% set office = requester.office %}

<div class="row">
    <div class="col-md-12 panel-tarjeta">
        <h3>Tus datos como solicitante</h3>
    </div>
    <div class="col-md-12 tarjeta-datos">
        <p><strong>Sucursal:</strong> {{ office.name }}</p>
        <p><strong>Número de sucursal:</strong> {{ office.code }}</p>
        <p><strong>Centro de Costo:</strong> {{ office.costCenter }}</p>
        <p><strong>Dirección:</strong> {{ office.address }}</p>
        <p><strong>Comuna:</strong> {{ office.city.name }}</p>

        <p><strong>Nombre:</strong> {{ requester.fullName }}</p>
        <p><strong>RUT:</strong> {{ requester.rut }}</p>
        <p><strong>Teléfono:</strong> {{ requester.phone }}</p>
        <p><strong>Email:</strong> {{ requester.user.email }}</p>
    </div>
</div>